<span class="pageHeading">Application & Database Intake</span>
<div class="row adjust body-content-padding" data-title = "App & DB Intake" data-intro = "This page serves as a comprehensive repository for entering vital information regarding databases and their associated applications. Here, you can input specifics such as the database server location, memory, CPU cores, and utilized Oracle features for databases. Additionally, for applications, you'll define cloud migration requirements, web and application server infrastructure details, and interfaces, alongside SQL remediation requirements necessitated by the transition to PostgreSQL.
Moreover, this page enables performance analysis of the current database server, aiding in the determination of the target PostgreSQL instance on the cloud that will replace the existing Oracle database.">
    <div class="row col-md-12 marginAuto" *ngIf="showDashboardData">

        <div class="col-md-12 body-content-padding" style="margin-top:10px;">
            <div class="container">
                <div class="row" style="margin-bottom:10px;">
                    <div class="col-md-4 row" data-title="Search Intake" data-intro="Click this button to filter the page content based on the entered search text.">
                        <input type="text" id="searchTable"
                            class="marginLeft15 marginTop10 searchFilter form-control col-md-6" placeholder="Search"
                            [(ngModel)]="searchappDbDetailsTable" (keyup.enter)="search()">
                        <input *ngIf="searchappDbDetailsTable && searchappDbDetailsTable != ''" type="reset" value=" X "
                            style="height: 28px;
                        margin-top: 10px;
                        margin-left: -29px;
                        z-index: 1;" (click)="clearSearch()">
                        <button type="button" style="vertical-align:text-top;height: 28.33px;" (click)="search()"
                            class="btn btn-md btn-simple pointerCursor marginLeft10 marginTop10 ">
                            Search</button>

                    </div>
                    <div class="col-md-8" style="margin-left:auto;">
                        <span style="float: right;">
                            <a type="button" target="_blank" style="vertical-align:text-top;"
                                [routerLink]="['/databaseDetails']" click="passObject(item.name)"
                                data-title="Database Details"
                                data-intro="This page serves as a comprehensive repository for entering vital information regarding databases. Here, you can input specifics such as the database server location, memory, CPU cores, and utilized Oracle features for databases."
                                class="btn btn-md btn-primary pointerCursor float-left marginTop10  marginRight5">Upload
                                DB Details</a>

                            <!--Commenting for NIQ -->

                            <!-- <button class="btn btn-md btn-primary pointerCursor float-left marginTop10 marginRight5"
                                (click)="runDBAnalytics()" [disabled]="enableRunDBAnalytics">Run DB Analytics </button> -->


                            <!-- <a type="button" style="vertical-align:text-top;" [routerLink]="['/viewDBAnalyticsStatus']"
                                target="_blank"
                                class="btn btn-md btn-primary pointerCursor marginTop10 pull-right float-left marginRight5">View
                                DB Analytics Status</a> -->
                            <a type="button" target="_blank" style="vertical-align:text-top;"
                                [routerLink]="['/tcoQuestionnaire']" click="passObject(item.name)"
                                class="btn btn-md btn-primary pointerCursor marginTop10 pull-right float-left marginRight5" data-title="TCO Questionnaire"
                                data-intro="For assessing the on-premises cost associated with Oracle database servers, you can input Total Cost of Ownership (TCO) details on this page. This  includes Oracle License costs, Data Center Hardware costs, and specifics regarding Data Center Real Estate & Power.">{{tcoLabel}}</a>
                            <a type="button" target="_blank" style="vertical-align:text-top;"
                                (click)="sendEmailReminder()"
                                class="btn btn-md btn-simple pointerCursor float-left marginTop10 marginRight5" data-title="EmailReminder"
                                data-intro="Click on this button to send email reminders to Application and DB SPOCs who have not completed and submitted the application and database intake form requirements within the designated reminder period, as defined in the Email Server Settings page. Application and DB SPOCs can be defined in the DB Setup page.">Send Email Reminder</a>
                        </span>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-12 body-content-padding">

            <div class="container marginTop10">
                <div class="row marginBottom10 ">
                    <div class="col-md-9  align-items-center d-flex" data-title="Download Templates" data-intro="Click on this button to download following templates:
                    - Total Cost of Ownership (TCO) template to provide Oracle licensing and data center details to compute the cost associated with on-premises Oracle database servers
                    - SQL scripts that can be executed on the Oracle database server to gather details on its performance to be ingested into DMAP to conduct performance analysis to recommend target PostgreSQL instance configuration."><span>Select templates to download: </span>

                        <div style="display:inline-block;" class="marginLeft20">
                            <input style="vertical-align:text-top;top: 1px;" type="checkbox" name="tcoartifact"
                                [(ngModel)]="istcoQuestionnaireChecked" value="tcoQuestionnaire" class="form_checkbox"
                                (change)="onSelectFile({file: 'tcoQuestionnaire', event:$event})">
                            <span class="marginLeft5">TCO Questionnaire</span>
                        </div>

                        <div style="display:inline-block;" class="marginLeft20">
                            <input style="vertical-align:text-top;top: 1px;" type="checkbox" name="dbScript"
                                [(ngModel)]="isdbScriptsChecked" value="dbScripts" class="form_checkbox"
                                (change)="onSelectFile({file: 'dbScripts', event:$event})">
                            <span class="marginLeft5">DB Scripts</span>
                        </div>

                        <!-- <div style="display:inline-block;" class="marginLeft20">
                            <input style="vertical-align:text-top;" type="checkbox" name="dbScript"
                                [(ngModel)]="isdbScriptsChecked" value="dbScripts" class="form_checkbox"
                                (change)="onSelectFile({file: 'dbScripts', event:$event})">
                            <span class="marginLeft5">Interface Intake Form</span>
                        </div> -->

                        <button type="button" style="vertical-align:text-top;" (click)="downloadArtifacts()"
                            class="btn btn-md btn-simple pointerCursor marginLeft20">Download</button>

                    </div>

                    <!-- <div class="col-md-4"> -->


                    <!-- </div> -->


                </div>
            </div>
            <div *ngIf="filterApplied && this.appDbDetailsData.bunits && this.appDbDetailsData.bunits.length<1">
                <span style="color: red;padding-left: 10px;font-size: 13px;">No Match Found!</span>
            </div>

            <div class="col-md-12 padding10 " *ngIf="showDashboardData">
                <div class="table-responsive">
                    <table class="analyticsTable table table-hover table-sm table-bordered"
                    data-title="Application & Database Intake" data-intro="This section shows a Dashboard displaying all the databases & applications configured in DMAP for assesssment and conversion. You can update application & interface details, and execute database performance analysis for a database.">
                        <thead class="thead_custom">
                            <tr class="tr_custom_14 analyticsReports">
                                <!-- <th>Business Unit</th>
                            <th>Application Name</th>
                            <th>Application ID</th>
                            <th>Database Name</th>
                            <th></th>
                            <th></th> -->
                                <th>
                                    <span class="marginRight5 defaultCursor">Application ID</span>
                                    <span>
                                        <i class="fa fa-chevron-down pointerCursor dropdown-toggle" id="drpdownAppID"
                                            data-toggle="dropdown" type="button" aria-haspopup="true">
                                        </i>
                                        <ul class="dropdown-menu drpdownAppID" aria-labelledby="drpdownAppID"
                                            style="left:-100px !important;min-width: 140px !important;"
                                            (click)="onDropdownClick($event)">
                                            <li class="dropdown-item" *ngFor="let data of appId">
                                                <div>
                                                    <div class="form-check" style="padding:0px;">
                                                        <input type="checkbox" ngModel
                                                            class="form_checkbox ng-untouched ng-pristine ng-valid"
                                                            style="vertical-align: text-top;" value="{{data}}" />
                                                        <label
                                                            class="form-check-label-workerNode marginLeft5">{{data}}</label>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </span>
                                </th>
                                <th>
                                    <span class="marginRight5 defaultCursor">Application Name</span>
                                    <span>
                                        <i class="fa fa-chevron-down pointerCursor dropdown-toggle" id="drpdownAppName"
                                            data-toggle="dropdown" type="button" aria-haspopup="true">

                                        </i>

                                        <ul class="dropdown-menu drpdownAppName" aria-labelledby="drpdownAppName"
                                            style="left:-100px !important;" (click)="onDropdownClick($event)">
                                            <li class="dropdown-item" *ngFor="let data of appName">
                                                <div>
                                                    <div class="form-check" style="padding:0px;">
                                                        <input type="checkbox" ngModel
                                                            class="form_checkbox ng-untouched ng-pristine ng-valid"
                                                            value="{{data}}" />
                                                        <label
                                                            class="form-check-label-workerNode marginLeft5">{{data}}</label>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </span>
                                </th>
                                <th>
                                    <span class="marginRight5 defaultCursor">Database Name</span>
                                    <span>
                                        <i class="fa fa-chevron-down pointerCursor dropdown-toggle" id="drpdownDBName"
                                            data-toggle="dropdown" type="button" aria-haspopup="true">

                                        </i>

                                        <ul class="dropdown-menu drpdownDBName" aria-labelledby="drpdownDBName"
                                            style="left:-100px !important;min-width: 160px !important;"
                                            (click)="onDropdownClick($event)">
                                            <li class="dropdown-item" *ngFor="let data of dbName">
                                                <div>
                                                    <div class="form-check" style="padding:0px;">
                                                        <input type="checkbox" ngModel
                                                            class="form_checkbox ng-untouched ng-pristine ng-valid"
                                                            style="vertical-align: text-top;" value="{{data}}" />
                                                        <label
                                                            class="form-check-label-workerNode marginLeft5">{{data}}</label>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </span>
                                </th>
                                <th>No. of Schemas</th>
                                <th>Actions</th>
                                <th>Status</th>
                                <!--<th>Interface List</th>-->
                            </tr>
                        </thead>
                        <!-- <tbody>

                    </tbody> -->
                        <tbody *ngIf="appDbDetailsData">

                            <!-- <ng-container
                            *ngFor="let bdetail of appDbDetailsData.bunits| multiFieldFilter:searchappDbDetailsTable:false | paginate: { itemsPerPage: 20, currentPage: pa, id: 'appDbDetailsTable'}; let i = index;">
                             <tr class="tr_custom_14 text-center" style="background-color: #D9E1F2">
                                <td style="vertical-align: middle">{{bdetail.bunit}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr> -->

                            <ng-container
                                *ngFor="let bdetail of appDbDetailsData.bunits | paginate: { itemsPerPage: 20, currentPage: pa, id: 'appDbDetailsTable'}; let i = index;">
                                <!-- <tr class="tr_custom_14 text-center" style="background-color: #D9E1F2">

                            </tr> -->
                                <ng-container *ngFor="let appdetail of bdetail[bdetail.bunit]">
                                    <tr class="tr_custom_14" style="background-color: #D9E1F2">
                                        <td style="vertical-align: middle">{{appdetail.appId}}</td>
                                        <td style="vertical-align: middle">{{appdetail.appName}}</td>
                                        <td></td>
                                        <td></td>
                                        <td class="pointerCursor" (click)="editApplicationQuestionnaire()"
                                            title="Edit Application Details" style="cursor: pointer;">
                                            <!-- <span class="marginRight10 marginLeft15 pointerCursor"
                                                (click)="editApplicationQuestionnaire()"
                                                title="Edit Application Questionnaire" style="cursor: pointer;"> -->
                                            <a [routerLink]="['/appQuestionnaire']"
                                                [queryParams]="{appId: appdetail.appId,appName:appdetail.appName}"
                                                target="_blank"  data-title="App Intake Form" data-intro="Click on this link to open the Application Intake Form page where you can enter the specific details about application such as its cloud migration requirements, web and application server infrastructure details.">
                                                App Intake Form
                                            </a>
                                            &nbsp;
                                            <a [routerLink]="['/interfaceList']"
                                            [queryParams]="{appId: appdetail.appId,appName:appdetail.appName}"
                                            >
                                            Interface List
                                        </a>
                                            <!-- </span> -->

                                        </td>
                                        <td>
                                            <span *ngIf="appdetail.appQuestionnaire == 'Complete'"
                                                class="marginRight10 marginLeft5 row justify-content-center align-items-center">
                                                <img alt="Complete" title="Completed"
                                                    src="assets/images/SVG/completed.svg"
                                                    style="width:20px;mix-blend-mode: darken;">
                                            </span>
                                            <span *ngIf="appdetail.appQuestionnaire == 'Not Started'"
                                                class="marginRight10 marginLeft5 row justify-content-center align-items-center">
                                                <img alt="Complete" title="Not Started"
                                                    src="assets/images/SVG/not_started.svg"
                                                    style="width:20px;mix-blend-mode: darken;">
                                            </span>
                                            <span *ngIf="appdetail.appQuestionnaire == 'In Progress'"
                                                class="marginRight10 marginLeft5 row justify-content-center align-items-center">
                                                <img alt="Complete" title="In Progress"
                                                    src="assets/images/SVG/in_progress.svg"
                                                    style="width:20px;mix-blend-mode: darken;">
                                            </span>
                                        </td>
                                    </tr>

                                    <ng-container *ngFor="let dbdetail of appdetail[appdetail.appName]">
                                        <tr class="tr_custom_14" style="background-color: #F5F5F5">
                                            <!-- <td style="padding-right:250px;"></td>  -->
                                            <td></td>
                                            <td></td>
                                            <td style="vertical-align: middle;">{{dbdetail.dbName}}</td>

                                            <td style="vertical-align: middle;text-align: center;">
                                                {{dbdetail.numberOfSchema}}</td>
                                            <!-- <td style="padding-right:372px;"></td> -->
                                            <td class="pointerCursor" (click)="editDbScripts()"
                                                title="Upload/Execute DB Scripts" style="cursor: pointer;">

                                                <!-- <span class="marginLeft10 pointerCursor" (click)="editDbScripts()"
                                                title="Edit DB Scripts" style="cursor: pointer;margin-left: 50px;"> -->
                                                <a [routerLink]="['/viewDBAnalyticsStatus']"
                                                    [queryParams]="{dbName: dbdetail.dbName}" target="_blank" data-title="DB Performance" data-intro="Click on this link to open the Database Performance Analysis page where you can select the DB SQL scripts to be executed for the selected database to conduct its performance analysis using DMAP. You can also upload the results of the DB script if it was executed offline by DBA on database server.">
                                                    DB Performance
                                                </a>
                                                <!-- </span> -->
                                            </td>
                                            <td>
                                                <span *ngIf="dbdetail.dbScripts == 'Complete'"
                                                    class="marginRight10 marginLeft5 row justify-content-center align-items-center">
                                                    <img alt="Complete" title="Completed"
                                                        src="assets/images/SVG/completed.svg"
                                                        style="width:20px;mix-blend-mode: darken;">
                                                </span>
                                                <span *ngIf="dbdetail.dbScripts == 'Not Started'"
                                                    class="marginRight10 marginLeft5 row justify-content-center align-items-center">
                                                    <img alt="Not Started" title="Not Started"
                                                        src="assets/images/SVG/not_started.svg"
                                                        style="width:20px;mix-blend-mode: darken;">
                                                </span>
                                                <span *ngIf="dbdetail.dbScripts == 'In Progress'"
                                                    class="marginRight10 marginLeft5 row justify-content-center align-items-center">
                                                    <img alt="In Progress" title="In Progress"
                                                        src="assets/images/SVG/in_progress.svg"
                                                        style="width:20px;mix-blend-mode: darken;">
                                                </span>
                                            </td>
                                        </tr>

                                    </ng-container>

                                </ng-container>

                            </ng-container>

                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <pagination-controls (pageChange)="pa = $event" (click)="nextPageClick()" id="appDbDetailsTable"
                        style="font-size: 12px;float: right; " directionLinks="true" autoHide="true" responsive="true"
                        previousLabel="PREVIOUS" nextLabel="NEXT" screenReaderPaginationLabel="Pagination"
                        screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
                </div>
            </div>
        </div>

    </div>
    <div class="row col-md-12" *ngIf="!showDashboardData">
        <div class="row col-md-12 marginBottom20 marginLeft5">
            <div class="col-md-12 adjust wizardDiv fontSize15 marginBottom10 padding10">
                <span>Please upload the spreadsheet containing list of schemas to be accessed before uploading
                    Application and TCO Questionnaires.</span>
            </div>
        </div>
    </div>
</div>
