.form-control {
  height: 28.33px !important;
}

#drpdownAppID.dropdown-toggle::after,
#drpdownAppName.dropdown-toggle::after,
#drpdownDBName.dropdown-toggle::after
{
  display: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
}
