<div class="modal-header">
    <h4 class="modal-title">{{data.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class = "row">
        <div class = "col-md-12">
            <div class="form-group">
                <label for="cloudType">Cloud Type<span class = "requiredField" >*</span></label>
                <select class="form-control" 
                        id="cloudType" 
                        [(ngModel)] = "cloudTypeValue"
                        name = "cloudType"
                        #cloudType = "ngModel"
                        (change) = "onCloudTypeSelected()">
                    <option>AWS</option>
                    <option>Azure</option>
                </select>
            </div>
        </div>
        <div class = "col-md-6">
            <div class="form-group">
                <label for="avaibilityRegion">Avaibility Region<span class = "requiredField" >*</span></label>
                <select class="form-control" 
                        id="avaibilityRegion" 
                        [(ngModel)] = "avaibilityRegionValue"
                        name = "avaibilityRegion"
                        #avaibilityRegion = "ngModel"
                        (change) = "onAvaibilityRegionSelected()">
                        <ng-container *ngFor = "let item of avaibilityRegionList">                            
                            <option>{{item}}</option>
                        </ng-container>
                </select>
            </div>
        </div>
        <div class = "col-md-6">
            <div class="form-group">
                <label for="avaibilityZone">Avaibility Zone<span class = "requiredField" >*</span></label>
                <select class="form-control" 
                        id="avaibilityZone" 
                        [(ngModel)] = "avaibilityZoneValue"
                        name = "avaibilityZone"
                        #avaibilityZone = "ngModel">
                        <ng-container *ngFor = "let item of avaibilityZoneList">   
                            <option>{{item}}</option>
                        </ng-container>
                </select>
            </div>
        </div>
        <div class = "col-md-12 marginBottom20">
            <div class = "row">
                <div class = "col-md-12">
                    <fieldset class = "fieldset app_detail_fieldset marginTop20" id = "app_detail_fieldset">
                        <div class = "float-left">
                            <legend class = "legends">Source Database (Oracle)</legend>
                        </div>
                        <div clss = "row adjust clearBoth " style = "clear: both;">
                            <div class = "col-md-12 padding20">
                                <div class = "row">
                                    <div class = "col-md-12">
                                        <div class="form-group">
                                            <label for="sourceUserId">User Id<span class = "requiredField" >*</span></label>
                                            <span class = "validFormCheck" *ngIf = "sourceUserIdRef.valid && sourceUserIdRef.touched"><i class="fa fa-check"></i></span>
                                            <input type="text" class="form-control" id="sourceUserId" ngModel #sourceUserIdRef = "ngModel" name = "sourceUserId" placeholder="Enter user id" required>
                                        </div>
                                    </div>
                                    <div class = "col-md-12">
                                        <div class="form-group">
                                            <label for="sourcePassword">Password<span class = "requiredField" >*</span></label>
                                            <span class = "validFormCheck" *ngIf = "sourcePasswordRef.valid && sourcePasswordRef.touched"><i class="fa fa-check"></i></span>
                                            <input type="password" class="form-control" id="sourcePassword" ngModel #sourcePasswordRef = "ngModel" name = "sourcePassword" placeholder="Enter password" required>
                                        </div>
                                    </div>
                                    <div class = "col-md-12">
                                        <div class="form-group">
                                            <label for="sourceSID">SID<span class = "requiredField" >*</span></label>
                                            <span class = "validFormCheck" *ngIf = "sourceSIDRef.valid && sourceSIDRef.touched"><i class="fa fa-check"></i></span>
                                            <input type="text" class="form-control" id="sourceSID" ngModel #sourceSIDRef = "ngModel" name = "sourceSID" placeholder="Enter SID" required>
                                        </div>
                                    </div>
            
                                </div>                                        
                            </div>
                            </div>
                    </fieldset>                    
                </div>
            </div>
        </div>
        
        <div class = "col-md-12 marginBottom20">
            <div class = "row">
                <div class = "col-md-12">
                        <fieldset class = "fieldset app_detail_fieldset marginTop20" id = "app_detail_fieldset">
                            <div class = "float-left">
                                <legend class = "legends">Target Database (PostgreSql)</legend>
                            </div>
                            <div clss = "row adjust clearBoth " style = "clear: both;">
                                <div class = "col-md-12 padding20">
                                    <div class = "row">
                                        <div class = "col-md-12">
                                            <div class="form-group">
                                                <label for="sourceUserId">User Id<span class = "requiredField" >*</span></label>
                                                <span class = "validFormCheck" *ngIf = "sourceUserIdRef.valid && sourceUserIdRef.touched"><i class="fa fa-check"></i></span>
                                                <input type="text" class="form-control" id="sourceUserId" ngModel #sourceUserIdRef = "ngModel" name = "sourceUserId" placeholder="Enter user id" required>
                                            </div>
                                        </div>
                                        <div class = "col-md-12">
                                            <div class="form-group">
                                                <label for="sourcePassword">Password<span class = "requiredField" >*</span></label>
                                                <span class = "validFormCheck" *ngIf = "sourcePasswordRef.valid && sourcePasswordeRef.touched"><i class="fa fa-check"></i></span>
                                                <input type="password" class="form-control" id="sourcePassword" ngModel #sourcePasswordeRef = "ngModel" name = "sourcePassword" placeholder="Enter password" required>
                                            </div>
                                        </div>
                                        <div class = "col-md-12">
                                            <div class="form-group">
                                                <label for="sourceSID">SID<span class = "requiredField" >*</span></label>
                                                <span class = "validFormCheck" *ngIf = "sourceSIDRef.valid && sourceSIDRef.touched"><i class="fa fa-check"></i></span>
                                                <input type="text" class="form-control" id="sourceSID" ngModel #sourceSIDRef = "ngModel" name = "sourceSID" placeholder="Enter SID" required>
                                            </div>
                                        </div>                
                                    </div>                                        
                                </div>
                                </div>
                        </fieldset>                    
                </div>
            </div>
        </div>

    </div>
    
</div>
<div class="modal-footer" style = "display: block;">
        <button class = "btn btn-xs btn-primary float-left marginRight20" (click) = "uploadTestScripts()" >Upload Test Scripts<span></span></button>
        <button class = "btn btn-xs btn-primary float-left marginRight20" (click) = "loadData()" disabled>Load Data<span></span></button>
        <button class = "btn btn-xs btn-primary float-left marginRight20" (click) = "rehydrateData()">Rehydrate Data<span></span></button>
        <button class = "btn btn-xs btn-primary float-left marginRight20 dropdown-toggle"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download CI/CD Pipeline as Code<span></span></button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!-- <a class = "simpleLink pointerCursor fontSize14" href="/assets/performaceBenchMarks.xlsx" target="_blank" download>here</a> -->
            <a class="dropdown-item pointerCursor" href="/assets/sampleTemplates/application.yml" target="_blank" download>Jenkins</a>
            <a class="dropdown-item pointerCursor" href="/assets/sampleTemplates/application.yml" target="_blank" download>AWS Code Pipeline</a>
            <a class="dropdown-item pointerCursor" href="/assets/sampleTemplates/application.yml" target="_blank" download>Azure DevOps</a>
        </div>
    
    <button type="button" class="btn btn-primary float-right" (click)="ok()">Submit</button>
</div>