<div class="modal-header">
    <h4 class="modal-title">Upload Files</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="row" *ngIf="data.fileType=='awrReport' || data.fileType=='dbScriptReport'">
        <div class="col-md-12">
            <div class="form-group">
                <label for="sourceDBName">Database Name<span class="requiredField">*</span></label>
                <span class="validFormCheck" *ngIf="sourceDBNameRef.valid && sourceDBNameRef.touched"><i
                        class="fa fa-check"></i></span>
                <input type="sourceDBName" class="form-control" id="sourceDBName" #sourceDBNameRef="ngModel"
                    [(ngModel)]="sourceDBNameValue" name="sourceDBName" (ngModelChange)="savedbname($event)"
                    placeholder="Enter source database name" title="Hint: DemoDB" required>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="data.fileType=='restoreDMAP'">
        <div class="row col-md-12">
            <div class="col-md-5 marginLeft30">
                <div class="form-group">
                    <label for="dbNodeIP">Database Master Node IP/FQDN:<span class="requiredField">*</span></label>
                    <span class="validFormCheck" *ngIf="!errorMessage && dbNodeIPRef.touched"><i
                            class="fa fa-check"></i></span>
                    <span class="validFormCheck" *ngIf="errorMessage && dbNodeIPRef.touched" style="color: red;"><i class="fa fa-times"></i></span>
                    <input type="dbNodeIP" class="form-control" id="dbNodeIP" #dbNodeIPRef="ngModel"
                        [(ngModel)]="dbNodeIPValue" name="dbNodeIP" (ngModelChange)="saveDBIP($event)"
                        placeholder="Enter database master node IP/FQDN" title="Hint: 192.168.1.1" required>
                        <div *ngIf="errorMessage"><span style="color: red;">{{ errorMessage }}</span></div>
                </div>
            </div>
        </div>
        <div class="col-md-12 row marginBottom20 fontSize18">
            <div class=" marginBottom10 marginLeft45 fontSize18">
              Do you want to restore Application Migration Container ?
            </div>
  
            <div class="col-md-12 marginLeft50 padding0" style="display: flex;">
              <div class="form-check-inline  ">
                <input class="form-check-input form_radio dmRadio" id="appContainerYes" type="radio"
                  value="appContainerYes" name="appContainerYes" [checked]="!radioChecked" (change)="setupAppMigCont()" />
                <label class="marginLeft5" for="appContainerYes">Yes</label>
              </div>
            </div>
  
            <div class="col-md-12 marginLeft50 padding0" style="display: flex;margin-top:10px;">
              <div class="form-check-inline  ">
                <input class="form-check-input form_radio dmRadio" id="appContainerNo" type="radio" value="appContainerNo"
                  name="appContainerNo" [checked]="radioChecked" (change)="setupAppMigContFalse()" />
                <label class="marginLeft5" for="appContainerNo">No</label>
              </div>
            </div>
            <div class="col-md-12 row marginTop10 marginLeft17" *ngIf = "appMigCont == true ">
                <div class="col-md-5 form-group">
                    <label for="appNodeIPValue">Application Container IP/FQDN:<span class="requiredField">*</span></label>
                    <span class="validFormCheck" *ngIf="appNodeIPValueRef.valid && appNodeIPValueRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="appNodeIPValue" class="form-control" id="appNodeIPValue" #appNodeIPValueRef="ngModel"
                        [(ngModel)]="appNodeIPValue" name="appNodeIPValue" (ngModelChange)="saveAppIP($event)"
                        placeholder="Enter application container IP" title="Hint: 192.168.1.1" required>
                </div>
                <div class="col-md-5 form-group">
                    <label for="appNodePort">Application Container Port:<span class="requiredField">*</span></label>
                    <span class="validFormCheck" *ngIf="appNodePortRef.valid && appNodePortRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="appNodePort" class="form-control" id="appNodePort" #appNodePortRef="ngModel"
                        [(ngModel)]="appNodePortValue" name="appNodePort" (ngModelChange)="saveAppPort($event)"
                        placeholder="Enter application container port" title="Hint: 5000" required>
                </div>
            </div>

          </div>

        <!-- <div class="col-md-5 marginLeft30">
            <div class="form-group">
                <label for="appNodeIPValue">Application Container IP/FQDN:<span class="requiredField">*</span></label>
                <span class="validFormCheck" *ngIf="appNodeIPValueRef.valid && appNodeIPValueRef.touched"><i
                        class="fa fa-check"></i></span>
                <input type="appNodeIPValue" class="form-control" id="appNodeIPValue" #appNodeIPValueRef="ngModel"
                    [(ngModel)]="appNodeIPValue" name="appNodeIPValue" (ngModelChange)="saveAppIP($event)"
                    placeholder="Enter application container IP" title="Hint: 192.168.1.1" required>
            </div>
        </div>
        <div class="col-md-5 marginLeft30">
            <div class="form-group">
                <label for="appNodePort">Application Container Port:<span class="requiredField">*</span></label>
                <span class="validFormCheck" *ngIf="appNodePortRef.valid && appNodePortRef.touched"><i
                        class="fa fa-check"></i></span>
                <input type="appNodePort" class="form-control" id="appNodePort" #appNodePortRef="ngModel"
                    [(ngModel)]="appNodePortValue" name="appNodePort" (ngModelChange)="saveAppPort($event)"
                    placeholder="Enter application container port" title="Hint: 5000" required>
            </div>
        </div> -->
    </div>
    <div class="row margin0">
        <div class="row col-md-12 marginTop5 paddingLeft30 paddingRight30">
            <span class="col-md-9">{{data.message}}</span>
            <a class="col-md-3 float-left simpleLink pointerCursor padding0" [href]="data.sampleFile" target="_blank"
                download *ngIf="data.isSampleFileShow">Download Sample File</a>
        </div>
        <app-dmap-upload-file [data]="data" class="col-md-12" style="margin-top:-5px;"
            (onFileUploadClicked)="fileUploadClicked($event)"></app-dmap-upload-file>
    </div>
</div>