/* .borderBottom {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #D3D3D3;
  }

  textarea {
    overflow-y: auto;
    height: auto;
    resize: none; Remove this if you want the user to resize the textarea 
} */
.questionairNav {
  font-size: 12px;
}
.yellowBorder {
  border-color: #f1cb11;
}

/* Verticle Tab */
.sideTab {
  text-align: center;
  padding: 15px;
  font-size: 12px;
  color: black;
  cursor: pointer;
}
.sideTab.active {
  background-color: #c1dffd;
  color: black;
  font-weight: bold;
}
.sideTab:hover {
  background-color: #9fcfff;
}
.tabContent {
  padding: 20px;
}
.hideSideContent {
  display: none;
}

.modal-header {
  cursor: move;
}
