<div class="row">
    <div class="col-md-12">
      <div class="mainPageHeading"><span class="mainPageHeading-full">Database Migration</span> </div>
    </div>
  
  
    <div class="col-md-12">
      <div class="row padding20">
        <div id="dbMasterFirstAccMainDiv" class="col-md-12 padding0 marginTop20">
          <nav class="dmap-navs">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <div class="nav nav-tabs col-md-11">
                <a class="nav-item nav-link  dmapMasterNodeLink dmapNavLink marginRight50" id="nav-analyticsDashboard-tab"
                  data-toggle="tab" href="#nav-analyticsDashboard" role="tab" aria-controls="nav-analyticsDashboard"
                  aria-selected="true" #tabRef4 (click)="openTabNAccordian(tabRef4, 'dbMasterFirstAcc')">Analytics
                  Dashboard</a>
                <a class="nav-item nav-link  dmapMasterNodeLink dmapNavLink marginRight50" id="nav-workerNode-tab"
                  data-toggle="tab" href="#nav-workerNode" role="tab" aria-controls="nav-workerNode" aria-selected="true"
                  #tabRef1 (click)="openTabNAccordian(tabRef1, 'dbMasterFirstAcc')">Worker Node Setup</a>
                <a class="nav-item nav-link active dmapMasterNodeLink dmapNavLink marginRight50" id="nav-uploadSchema-tab"
                  data-toggle="tab" href="#nav-uploadSchema" role="tab" aria-controls="nav-uploadSchema"
                  aria-selected="true" #tabRef2 (click)="openTabNAccordian(tabRef2, 'dbMasterFirstAcc')">Source DB Schema
                  Setup</a>
                <a class="nav-item nav-link dmapMasterNodeLink dmapNavLink marginRight50" id="nav-appDbDetails-tab"
                  data-toggle="tab" href="#nav-appDbDetails" role="tab" aria-controls="nav-appDbDetails"
                  aria-selected="true" #tabRef5 (click)="openTabNAccordian(tabRef5, 'dbMasterFirstAcc')">App & DB
                  Details</a>
              </div>
              <!-- <button  style = "height: 40px;position:relative; "
                          class = "btn btn-md btn-primary pull-right marginTop20 marginLeft100" 
                          [disabled] = "disableAnalytics"
                          (click) = "generateAnalyticsReport()" >Generate Analytics Report
                          </button> -->
              <!-- <button  style = "height: 40px;position:relative; "
                          class = "btn btn-md btn-primary pull-right marginTop20 marginLeft10" 
                          (click) = "masterBackup()" >Backup DMAP
                          </button> -->
              <div class="col-md-1 dropdown dropleft">
                <span class="marginLeft5 dropdown marginTop15 pull-right float-right dropleft">
                  <span style="cursor:pointer;" class="pull-right float-right dropleft" id="drpdownCreatedBy"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" fill="currentColor"
                      class="bi bi-list" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>
                  </span>
  
                  <ul class="dropdown-menu" aria-labelledby="drpdownDownloadAs">
                    <li class="dropdown-item" [ngClass]="{disabled:disableAnalytics}" (click)="generateAnalyticsReport()"
                      style="cursor: pointer;">
                      <span>Generate Analytics Report</span>
                    </li>
                    <!-- <li  class="dropdown-item" (click) = "masterBackup()" style = "cursor: pointer;">
                                      <span>Backup DMAP</span>
                                  </li> -->
                    <li class="dropdown-item" (click)="settings()" style="cursor: pointer;">
                      <span>Settings</span>
                    </li>
                    <li class="dropdown-item" (click)="mailSettings('Email Settings','settings')"
                      style="cursor: pointer;">
                      <span>Email Settings</span>
                    </li>
                    <li class="dropdown-item" (click)="mailSettings('Email Reminder Settings','reminder')"
                      style="cursor: pointer;">
                      <span>Email Reminder Settings</span>
                    </li>
                    <li class="dropdown-item" (click)="viewLogs()" style="cursor: pointer;">
                      <span>View Worker Node Logs</span>
                    </li>
                    <!-- <li  class="dropdown-item" (click) = "openUploadModal('application')" style = "cursor: pointer;">
                                      <span>Upload Application Questionnaire</span>
                                  </li>
                      
                                  <li  class="dropdown-item" (click) = "openUploadModal('db_migration')" style = "cursor: pointer;">
                                      <span>Upload DB Migration Questionnaire</span>
                                  </li>
                                  <li  class="dropdown-item" (click) = "openUploadModal('tco')" style = "cursor: pointer;">
                                      <span>Upload TCO Questionnaire</span>
                                  </li>
                                  <li  class="dropdown-item" (click) = "openUploadModal('awr')" style = "cursor: pointer;">
                                      <span>Upload AWR Report</span>
                                  </li>
                                  <li  class="dropdown-item" (click) = "openUploadModal('dbScript')" style = "cursor: pointer;">
                                      <span>Upload DB Script Output</span>
                                  </li> -->
  
                  </ul>
                </span>
              </div>
  
            </div>
          </nav>
          <div class="collapse" id="dbMasterFirstAcc">
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent" style="padding-top: 0!important;">
              <div class="tab-pane fade nav-workerNode-tab show" id="nav-workerNode" role="tabpanel"
                aria-labelledby="nav-workerNode-tab">
                <app-master-worker-node class="col-md-12"></app-master-worker-node>
              </div>
  
              <div class="nav-uploadSchema-tab tab-pane fade show active" id="nav-uploadSchema" role="tabpanel"
                aria-labelledby="nav-uploadSchema-tab">
                <div class="row">
                  <app-master-upload-schema class="col-md-12" [schemaData]="schemaData" [worker_nodes]="worker_nodes"
                    [disableAssignWorkerNode]="disableAssignWorkerNode" [workerNodeValue]="workerNodeValue">
                  </app-master-upload-schema>
                </div>
              </div>
  
              <div class="tab-pane fade nav-analyticsDashboard-tab show" id="nav-analyticsDashboard" role="tabpanel"
                aria-labelledby="nav-analyticsDashboard-tab">
                <app-master-analytics-dashboard class="col-md-12"></app-master-analytics-dashboard>
              </div>
              <div class="tab-pane fade nav-appDbDetails-tab show" id="nav-appDbDetails" role="tabpanel"
                aria-labelledby="nav-appDbDetails-tab">
                <app-master-app-db-details class="col-md-12" [appDbDetailsData]="appDbDetailsData"
                  [showDashboardData]="showDbDetailsDashboardData" [tcoLabel]="tcoLabel"></app-master-app-db-details>
              </div>
            </div>
  
  
          </div>
        </div>
  
      </div>
    </div>
  </div>
  