<div class = "row" [formGroup]="formData">
    <ng-container *ngFor = "let control of controls; let i = index" >
        <div class = "col-md-4 marginTop20 " *ngIf = "control.type == 'text'">
            <label>{{control.ui_control.label}}<span class = "requiredField" *ngIf = "control.isRequired">*</span></label>
            <input class="form-control"  [formControlName]="control.key" type="text" [placeholder] = "control.ui_control.placeholder" [readonly]= "control.ui_control.readOnly" [ngClass]="{'yellowBorder': control.ui_control.isDefault && formStatus == 'Not Started' && !control.ui_control.readOnly}"/>
            <div  *ngIf= "control.regex.length > 0"><span *ngIf= "formData.get(control.key).invalid && (formData.get(control.key).dirty || formData.get(control.key).touched)">{{control.ui_control.errorMsg}}</span></div>
        </div>

        <div class = "col-md-4 marginTop20 " *ngIf = "control.type == 'textarea'">
            <label>{{control.ui_control.label}}<span class = "requiredField" *ngIf = "control.isRequired">*</span></label>
            <textarea class="form-control"  [formControlName]="control.key" type="text" [placeholder] = "control.ui_control.placeholder" [readonly]= "control.ui_control.readOnly" [ngClass]="{'yellowBorder': control.ui_control.isDefault && formStatus == 'Not Started' && !control.ui_control.readOnly}"></textarea>
            <div  *ngIf= "control.regex.length > 0"><span *ngIf= "formData.get(control.key).invalid && (formData.get(control.key).dirty || formData.get(control.key).touched)">{{control.ui_control.errorMsg}}</span></div>
        </div>

        <div class = "col-md-4 marginTop20 " *ngIf = "control.type == 'select'">
            <label>{{control.ui_control.label}}<span class = "requiredField" >*</span></label>
            <select class="form-control"  [formControlName]="control.key" [ngClass]="{'yellowBorder': control.ui_control.isDefault && formStatus == 'Not Started' && !control.ui_control.readOnly}">
               <option *ngFor="let option of control.ui_control.options" [value]="option">
                    {{option}}
                </option>
            </select>
            <!-- <div  *ngIf= "control.regex.length > 0"><span *ngIf= "formData.get(control.key).invalid && (formData.get(control.key).dirty || formData.get(control.key).touched)">{{control.ui_control.errorMsg}}</span></div> -->
        </div>
        <div class = "col-md-4 marginTop20 " *ngIf = "control.type == 'checkbox'">
            <input type="checkbox"  name = "control.key" [formControlName]="control.key" value = "control.key" class="form_checkbox" [ngClass]="{'yellowBorder': control.ui_control.isDefault}" style = "top: 5px;" >
            <span class = "marginLeft10">{{control.ui_control.label}}</span>
        </div>

        <div class = "col-md-4 marginTop20 " *ngIf = "control.type == 'upload'">
            <label>{{control.ui_control.label}}<span class = "requiredField" *ngIf = "control.isRequired">*</span></label>
            <input class="col-md-4" type="file"
                    [id]="control.key"
                    style="display:none;"
                    [formControlName]="control.key"
                    (change)="handleFileInput($event.target.files, control.key)">
                    <label [attr.for]="control.key">
                        <img alt="Complete"  *ngIf = "!isControlInValid(control.key)" [attr.for]="control.key" src="assets/images/SVG/upload.svg">
                        <img alt="Complete"  *ngIf = "isControlInValid(control.key)" [attr.for]="control.key" src="assets/images/SVG/inValidUpload.svg">
                        <span>{{getControlValue(control.key)}}</span>
                        <!-- <span class="marginLeft5 colorGreen" *ngIf = "showUploadedDeploymentText">{{application_deployment_diagram_text}}</span>
                        <span class="marginLeft5" *ngIf = "!showUploadedDeploymentText">{{application_deployment_diagram_text}}</span> -->
                    </label>

        </div>
        <div class= "col-md-4 marginTop20 " *ngIf = "control.type == 'multi_select'">
            <div class="form-group" class = "margin">
                <label>{{control.ui_control.label}}<span class = "requiredField" >*</span></label>
                <ng-multiselect-dropdown [formControlName]="control.key"
                                        [placeholder]="'Select'"
                                        id = "control.key"
                                        [ngClass]="{'yellowBorder': control.ui_control.isDefault && formStatus == 'Not Started' && !control.ui_control.readOnly}"
                                        [data]="control.ui_control.options"
                                        [settings]="migrationOptions_dropdownSettings"
                                        (onSelect)="onItemSelect($event,control.key)"
                                        (onDeSelect)="onItemDeSelect($event,control.key)"
                                        (onSelectAll)="onSelectAll($event,control.key)">
                </ng-multiselect-dropdown>
            </div>
            <div class = "marginTop20 ">
                <input class="form-control" [ngClass]="{'hidden': control.ui_control.hidden}"  [formControlName]="control.others_key" type="text"/>
            </div>
        </div>


        <!--Adding empty line below every two controls-->
        <div class = "col-md-12"  *ngIf = "(i+1) % 3 == 0">
            <div class = "row">
                <div class = "col-md-4"></div>
                <div class = "col-md-4"></div>
            </div>
        </div>

    </ng-container>
</div>
