
<form name = "submitTargetCredentials" #f="ngForm" >
    <div class="modal-header">
        <h5 class="modal-title">{{data.title}}</h5>
       <button type="button" class="close" aria-label="Close" (click)="cancel()">
           <span aria-hidden="true">&times;</span>
       </button>
   </div>
<div class="modal-body" style = "max-height: 600px;overflow: auto;">
    <form [formGroup]="appInterfaceQuestionnaireForm">
        <ng-container *ngFor = "let appData of masterInterfaceData; let i = index" >
            <div class = "row col-md-12 marginTop7" *ngIf="i != 2">
                <ng-container *ngFor = "let app of appData; let j = index" >
                    <div [ngClass]="{'col-md-4': app.column_length == 4,'col-md-5': app.column_length == 5, 'col-md-8': app.column_length == 8,'col-md-6': app.column_length == 6}" *ngIf = "app.input_type == 'text_box'">
                        <label>{{app.title}}<span class = "requiredField" *ngIf = "app.mandatory">*</span></label>
                        <input class="form-control formheight" [formControlName]="app.form_control_name" [readOnly] = "app.form_control_name == 'application_id' || app.form_control_name == 'application_name' " type="text" [placeholder] = "" [title] = "app.help_tip" />
                        <div><span *ngIf= "appInterfaceQuestionnaireForm.get(app.form_control_name).invalid && appInterfaceQuestionnaireForm.get(app.form_control_name).dirty || appInterfaceQuestionnaireForm.get(app.form_control_name).touched"></span></div>
                    </div>
                    <div [ngClass]="{'col-md-4': app.column_length == 4, 'col-md-8': app.column_length == 8,'col-md-6': app.column_length == 6}" *ngIf = "app.input_type == 'multi_select'">
                        <div class="form-group" class = "margin">  
                            <label>{{app.title}}<span class = "requiredField" *ngIf = "app.mandatory">*</span></label>
                            <ng-multiselect-dropdown [formControlName]="app.form_control_name" 
                                                    [placeholder]="'Select'"
                                                    id = "app.form_control_name"
                                                    [title] = "app.help_tip"
                                                    [data]="app.options"                                       
                                                    [settings]="migrationOptions_dropdownSettings"
                                                    (onSelect)="onItemSelect($event,app.form_control_name)"
                                                    (onDeSelect)="onItemSelect($event,app.form_control_name)"
                                                    (onSelectAll)="onSelectAll($event,app.form_control_name)"
                                                    (onDeSelectAll)="onDeSelectAll($event,app.form_control_name)">
                            </ng-multiselect-dropdown>
                            <input class="form-control formheight marginTop10" [formControlName]="app.form_control_name+'_others'" *ngIf="dropdown_others_values[app.form_control_name+'_others']" type="text" [placeholder] = ""  />
                        </div>
                    </div>
                    <div [ngClass]="{'col-md-4': app.column_length == 4, 'col-md-8': app.column_length == 8,'col-md-6': app.column_length == 6}" class="margin" *ngIf = "app.input_type == 'select'">
                            <label>{{app.title}}<span class = "requiredField" *ngIf = "app.mandatory">*</span></label>
                            <select class="form-control formheight"  [formControlName]="app.form_control_name" [title] = "app.help_tip">
                                <option *ngFor="let option of app.options" [value]="option">
                                    {{option}}
                                </option>
                            </select>
                    </div>
                </ng-container>
            </div>
            <div class = "row col-md-12 marginTop15" *ngIf="i == 2">
                    <div class="col-md-8">
                        <label>{{appData[0].title}}<span class = "requiredField" *ngIf = "appData[0].mandatory">*</span></label>
                        <textarea class="form-control formheight" rows="4" [formControlName]="appData[0].form_control_name" type="text"  [title] = "appData[0].help_tip"></textarea>
                        <div><span *ngIf= "appInterfaceQuestionnaireForm.get(appData[0].form_control_name).invalid && appInterfaceQuestionnaireForm.get(appData[0].form_control_name).dirty || appInterfaceQuestionnaireForm.get(appData[0].form_control_name).touched"></span></div>
                    </div>
                   <div class="col-md-4">
                    <div class="row marginLeft0">
                        <label>{{appData[1].title}}<span class = "requiredField" *ngIf = "appData[1].mandatory">*</span></label>
                        <select class="form-control formheight"  [formControlName]="appData[1].form_control_name" [title] = "appData[1].help_tip">
                        <option *ngFor="let option of appData[1].options" [value]="option">
                                {{option}}
                            </option>
                        </select>
                    </div>
                    </div>
            </div>
        </ng-container>
    </form>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-md btn-simple" (click)="clear()">Clear</button> -->
        <button type="button" class="btn btn-md btn-primary" (click) = "submitInterface('save')">Save</button>
        <button type="button" class="btn btn-md btn-primary" (click) = "submitInterface('submit')">Submit</button>
    
</div>
    
</div>


</form>