.questionairNav {
  font-size: 12px;
}

.modal-header {
  cursor: move;
}
/* .qsection{
  border: 1px solid #dfd7d7;
  margin-bottom:10px;
}
.qsection_heading{
  padding: 20px;
  background-color: #cee6fd;
  font-weight: bold;
}
.qsection_body{
  padding: 20px;
}

.sub_qsection{
  border: 1px solid #dfd7d7;
}
.sub_qsection_heading{  
  padding:15px;
  border-bottom: 1px solid #dfd7d7;
}
.sub_qsection_body{
  padding: 20px;
} */
