<form name="masterEmailSettingsForm" #f="ngForm">
    <div class="modal-header">
        <h5 class="modal-title">{{data.title}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="max-height: 600px;overflow: hidden;">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="linkname">DBLink Name<span class="requiredField invisible">*</span></label>
                    <input type="linkname" class="form-control" id="linkname" [(ngModel)]="name" name="linkname"
                        readonly>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dbtype">Remote Database Type<span class="requiredField">*</span></label>
                    <select class="form-control" id="dbtype" [(ngModel)]="dbType" name="dbtype" #dbtype="ngModel"
                        (change)="DbChange(dbType)">
                        <option *ngFor='let db of dbTypeOptions'>{{ db }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="hostname">Host Name<span class="requiredField">*</span></label>
                    <span class="validFormCheck" *ngIf="hostnameRef.valid && hostnameRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="hostname" class="form-control" id="hostname" #hostnameRef="ngModel" [(ngModel)]="host"
                        name="hostname" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="user">UserName<span class="requiredField">*</span></label>
                    <span class="validFormCheck" *ngIf="userRef.valid && userRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="user" class="form-control" id="user" #userRef="ngModel" [(ngModel)]="username"
                        name="user" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="password">Password<span class="requiredField">*</span></label>
                    <app-show-password (showPasswordClicked)="togglePassword($event)" [password]="passwordValue"
                        [right]="'43px'" [top]="'23px'"></app-show-password>
                    <span class="validFormCheck" *ngIf="passwordRef.valid && passwordRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="{{passwordType}}" class="form-control" id="password" #passwordRef="ngModel" ngModel
                        [(ngModel)]="passwordValue" name="password" required placeholder="Enter password">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dbname">Database Name<span class="requiredField">*</span></label>
                    <span class="validFormCheck" *ngIf="dbnameRef.valid && dbnameRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="dbname" class="form-control" id="dbname" #dbnameRef="ngModel" [(ngModel)]="dbValue"
                        name="dbname" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="port">Port<span class="requiredField">*</span></label>
                    <span class="validFormCheck" *ngIf="portRef.valid && portRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="port" class="form-control" id="port" #portRef="ngModel" [(ngModel)]="portValue"
                        name="port" required>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-md btn-simple" (click)="cancel()">Close</button>
        <button type="button" class="btn btn-md btn-primary" [disabled]="!f.valid" (click)="submit()">Update</button>

    </div>
</form>
