.toastyLeft {
  position: absolute;
  top: 0px;
  width: 500px;
  z-index: 99;
}

/* svg{
    width: 25px;
    height: 25px;
    fill:#274584;
} */

svg:hover {
  fill: #66aed0;
}

.borderBottom {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #d3d3d3;
}
