.form-control.dm{
    height: 45px;
}
.dmRadio{
    height:20px !important;
}
.multiselect-dropdown:focus {
    outline: none !important;
}
.moveBtn{
    width: 100vw;
    position: relative;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.modal-body.dm{
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ng-multiselect-dropdown.isRedBorder>div>div>span.dropdown-btn {
    border-color: red !important;
}
.isRedBorder{
    border: solid 1px red !important;
}
span.dropdown-btn:focus {
    outline: none !important;
}
.disableTextColor{
    color:#ddd !important;
}
.disableTextColor + div>label{
    color:#ddd !important;
}
.scroll-container {
    overflow-x: auto;
    
  }

.modal-header {
    cursor: move;
}
