<div class = "row" style = "margin-top: -10px;">
    <div class = "col-md-12 padding0">
        <div class = "row">
            <div class = "col-md-12">
                
                <nav class = "dmap-navs col-md-12 padding0 " style = "border:none;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <div class = "nav nav-tabs col-md-12">
                            <a class="nav-item nav-link dmapappRelated_detailLink dmapNavLink marginRight10 questionairNav" id="nav-appRelated_detail-tab" data-toggle="tab" href="#nav-appRelated_detail" role="tab" aria-controls="nav-appRelated_detail" aria-selected="true" #tabRef1>Application Related Details</a>
                            <a class="nav-item nav-link dmapappRelated_detailLink dmapNavLink marginRight10 questionairNav" id="nav-oracleTech_detail-tab" data-toggle="tab" href="#nav-oracleTech_detail" role="tab" aria-controls="nav-oracleTech_detail" aria-selected="true" #tabRef2>Oracle Technical</a>
                            <a class="nav-item nav-link dmapappRelated_detailLink dmapNavLink marginRight10 questionairNav" id="nav-oracleSecurity_detail-tab" data-toggle="tab" href="#nav-oracleSecurity_detail" role="tab" aria-controls="nav-oracleSecurity_detail" aria-selected="true" #tabRef3>Oracle Security</a>
                            <a class="nav-item nav-link dmapappRelated_detailLink dmapNavLink marginRight10 questionairNav" id="nav-hrDrMigr_detail-tab" data-toggle="tab" href="#nav-hrDrMigr_detail" role="tab" aria-controls="nav-hrDrMigr_detail" aria-selected="true" #tabRef4>HA DR and Migration Related</a>
                            
                        </div>
                    </div>
                </nav>

                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent" style = "padding-top: 0!important;">
                    <div class="nav-appRelated_detail-tab tab-pane fade show" id="nav-appRelated_detail" role="tabpanel" aria-labelledby="nav-appRelated_detail-tab">
                        <div class = "row adjust" >
                            <div class = "col-md-12">
                                <app-questioaire-template [formData] = "dbQuestionnaireForm" [controls] = "controls.FNDetail[0].controls" [formStatus] = "formStatus"></app-questioaire-template>
                            </div>
                                
                        </div>
                    </div>

                    <div class="nav-oracleTech_detail-tab tab-pane fade" id="nav-oracleTech_detail" role="tabpanel" aria-labelledby="nav-oracleTech_detail-tab">
                        <div class = "row adjust">
                            <div class = "col-md-12">
                                <app-questioaire-template [formData] = "dbQuestionnaireForm" [controls] = "controls.FNDetail[1].controls" [formStatus] = "formStatus"></app-questioaire-template>
                            </div>
                        </div>
                    </div>

                    <div class="nav-oracleSecurity_detail-tab tab-pane fade" id="nav-oracleSecurity_detail" role="tabpanel" aria-labelledby="nav-oracleSecurity_detail-tab">
                        <div class = "row adjust">
                            <div class = "col-md-12">
                                <app-questioaire-template [formData] = "dbQuestionnaireForm" [controls] = "controls.FNDetail[2].controls" [formStatus] = "formStatus"></app-questioaire-template>
                            </div>
                        </div>
                    </div>

                    <div class="nav-hrDrMigr_detail-tab tab-pane fade" id="nav-hrDrMigr_detail" role="tabpanel" aria-labelledby="nav-hrDrMigr_detail-tab">
                        <div class = "row adjust">
                            <div class = "col-md-12">
                                <app-questioaire-template [formData] = "dbQuestionnaireForm" [controls] = "controls.FNDetail[3].controls" [formStatus] = "formStatus"></app-questioaire-template>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>    
</div>
