<!-- <form [formGroup]="passwordForm" *ngIf = "isShow"> -->
<div class="row">
  <div class="col-md-12">
    <div *ngIf="selectedNodeType != 'dmap_node'">
      <span class="pageHeading">DMAP Node Type</span>
    </div>
    <div class="modal-header" *ngIf="selectedNodeType == 'dmap_node'">
      <h5 class="modal-title">Settings</h5>
    </div>
    <div class="row adjust body-content-padding" style="padding-top: 25px;padding-left: 25px;">
      <div class="row">
        <div class="col-md-11 marginBottom20 font-weight-bold fontSize18" *ngIf="selectedNodeType != 'dmap_node'">
          Please select one of the below options to configure the DMAP node:
        </div>
        <div class="col-md-11  " *ngIf="selectedNodeType != 'dmap_node'">
          <!-- <div class="custom-control custom-radio marginBottom10">
                        <input type="radio" id="dmapNode" [(ngModel)]="nodeType"name="nodeType" value = 'dmap_node'>
                        <label for="dmapNode">DMAP Node</label>
                    </div> -->
          <!-- <div class="custom-control custom-radio marginBottom10">
            <input type="radio" id="masterNode" [(ngModel)]="nodeType" name="nodeType" value='analytics_master'>
            <label for="masterNode">Master</label>

          </div>
          <div class="custom-control custom-radio marginBottom10">
            <input type="radio" id="workerNode" [(ngModel)]="nodeType" name="nodeType" value='analytics_worker'>
            <label for="workerNode">Worker</label>
          </div> -->

          <div class="col-md-12 padding0" style="display: flex;">
            <div class="form-check-inline  ">
              <input class="form-check-input form_radio dmRadio" type="radio" id="masterNode" [(ngModel)]="nodeType"
                name="nodeType" value='analytics_master' />
              <label class="marginLeft5" for="masterNode">Master</label>
            </div>
          </div>

          <div class="col-md-12 padding0" style="display: flex;margin-top:10px;">
            <div class="form-check-inline  ">
              <input class="form-check-input form_radio dmRadio" type="radio" id="workerNode" [(ngModel)]="nodeType"
                name="nodeType" value='analytics_worker' />
              <label class="marginLeft5" for="workerNode">Worker</label>
            </div>
          </div>

        </div>
        <div class="col-md-11 marginBottom20 fontSize18" *ngIf="selectedNodeType != 'dmap_node'"
          style="margin-top:10px;">
          <span class="font-weight-bold fontSize18">Note:</span> Node type selection is one time configuration of DMAP
          which cannot be changed later on without
          reinstalling the DMAP.
        </div>
        <div class="form-group col-md-4 marginBottom20 font-weight-bold fontSize18"
          *ngIf="nodeType == 'analytics_master' && (licenseType == 'dmap enterprise' || licenseType == 'dmap pro')">
          <label for="masterip">Database Master Node IP/FQDN:</label>
          <input class="form-control  " type="text" id="masterip" [(ngModel)]="masterIp" name="masterip">
        </div>
        <!-- <div class = "form-group col-md-11 marginBottom20 font-weight-bold fontSize18" *ngIf="licenseType == 'dmap enterprise' && nodeType == 'analytics_master'">
                  <label>Application Migration IP/FQDN:</label>
                  <input class="form-control  "  type="text">
              </div> -->
        <div class="col-md-11 marginBottom20 fontSize18" *ngIf="nodeType == 'analytics_master'">
          <div class=" marginBottom20 fontSize18">
            Do you want to setup Application Migration Container ?
          </div>

          <div class="col-md-12 padding0" style="display: flex;">
            <div class="form-check-inline  ">
              <input class="form-check-input form_radio dmRadio" id="appContainerYes" type="radio"
                value="appContainerYes" name="appContainerYes" [checked]="!radioChecked" (change)="setupAppMigCont()" />
              <label class="marginLeft5" for="appContainerYes">Yes</label>
            </div>
          </div>

          <div class="col-md-12 padding0" style="display: flex;margin-top:10px;">
            <div class="form-check-inline  ">
              <input class="form-check-input form_radio dmRadio" id="appContainerNo" type="radio" value="appContainerNo"
                name="appContainerNo" [checked]="radioChecked" (change)="setupAppMigContFalse()" />
              <label class="marginLeft5" for="appContainerNo">No</label>
            </div>
          </div>

          <!-- <button (click)="setupAppMigCont()" type="button" class="btn btn-md btn-primary marginBottom20">Yes</button>
          <button (click)="setupAppMigContFalse()" type="button" class="btn btn-md btn-primary marginBottom20"
            style="margin-left: 15px;">No</button> -->
          <div *ngIf="appMigCont" class="marginBottom20" style="margin-top:10px;">
           <!-- Install Application Migration container in the same machine as this worker node -->
          </div>
          <div *ngIf="appMigCont" class="form-group col-md-4 padding0 marginBottom20 font-weight-bold fontSize18">
            <label>Application Master Container VM IP/FQDN:</label>
            <input class="form-control  " [(ngModel)]="appNodeIP" type="text">
          </div>
          <div *ngIf="appMigCont" class="form-group col-md-4 padding0 marginBottom20 font-weight-bold fontSize18">
            <label>Application Master Container Port:</label>
            <input class="form-control  " [(ngModel)]="appNodePort" type="text">
          </div>
        </div>
        <div class="col-md-11 font-weight-bold fontSize18">
          Please select your preferred time zone:
        </div>
        <div class="form-group col-md-4  ">

          <select class="form-control" id="selectTimezone" [(ngModel)]="selectedtimeZoneValue" name="selectTimezone"
            #selectTimezone="ngModel">
            <ng-container *ngFor="let timeZone of timeZones">
              <option>{{timeZone}}</option>
            </ng-container>
          </select>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <span *ngIf="errorInValidForm" class="errorHint">{{errorLabel}}</span>
      <button *ngIf="selectedNodeType != 'dmap_node'" type="button" class="btn btn-md btn-primary"
        [disabled]="!nodeType" (click)="submit()">Submit</button>
      <button *ngIf="selectedNodeType == 'dmap_node'" type="button" class="btn btn-md btn-primary"
        [disabled]="!selectedtimeZoneValue" (click)="submit()">Submit</button>

    </div>
  </div>
</div>
