<div class="row adjust chartSection" *ngIf="isChartShow">
    <!-- Pie Chart -->
    <div class="col-md-8 col-sm-12 col-xs-12 fontSize16">
        <div class="font-weight-bold chartsHeading fontSize22">{{chartData.name}}</div>
        <div class="chartDiv_{{chartData.name}}_{{chartId}}" id="chartDiv_{{chartData.name}}_{{chartId}}"
            style="width: 100%; height:300px;"></div>
    </div>
    <!-- Bart Chart -->
    <div class="col-md-4 col-sm-12 col-xs-12 fontSize16 padding0 marginTop40" style="margin-top: 50px;">
        <div class="row">
            <div class="col-md-12">
                <div class="font-weight-bold chartsHeading">Most Difficult {{chartData.name}}</div>
            </div>

        </div>

        <div div class="row padding20">
            <div class="col-md-12 padding0">
                <div class="row">
                    <!-- <div class="col-md-6 padding0">{{chartData.name}}</div> -->
                    <div [ngSwitch]="chartData.name" class="col-md-12 padding0" style="font-size:12px;">
                        <!-- the same view can be shown in more than one case -->
                        <div *ngSwitchCase="'TABLE'">
                            Based on number of rows
                        </div>
                        <div *ngSwitchCase="'FUNCTION'">
                            Based on complexity units
                        </div>
                        <div *ngSwitchCase="'PROCEDURE'">
                            Based on complexity units
                        </div>
                        <div *ngSwitchDefault>Count</div>
                    </div>


                </div>
            </div>
            <div class="col-md-12 padding0" *ngFor="let bar of chartData.mostDifficult">
                <!--  <div>{{bar.name}}</div> -->
                <app-dmap-bars [bar]="bar"></app-dmap-bars>
                <!--  <progress-bar [progress]="bar.percentage" [color]="'rgba(30, 167, 166, 0.2)'">{{bar.name}}</progress-bar> -->
            </div>
        </div>
    </div>
</div>