<div class="modal-header">
    <h5 class="modal-title">Settings</h5>
    <button type="button" class="close close-button" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body" #modalBody>
    <div>
        <label>Please select one of the following:</label>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="options" id="option1" value="Option 1" (change)="onRadioChange('source')">
            <label class="form-check-label" for="option1">Update source database password</label>
        </div>

        <div class="col-md-11 padding0" *ngIf="selectedValue === 'source'">
            <form [formGroup]="sourceForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sourcePasswordValue">Password<span class="requiredField">*</span></label>
                            <input type="password" class="form-control" id="sourcePasswordValue" formControlName="sourcePasswordValue" placeholder="Enter password" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sourceConfirmPasswordValue">Confirm Password<span class="requiredField">*</span></label>
                            <input type="password" class="form-control" id="sourceConfirmPasswordValue" formControlName="sourceConfirmPasswordValue" placeholder="Confirm password" required>
                            <span *ngIf="sourceForm.get('sourceConfirmPasswordValue').errors?.mustMatch" style="color:red">Password mismatch</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="options" id="option2" value="Option 2" (change)="onRadioChange('target')">
            <label class="form-check-label" for="option2">Update target database password</label>
        </div>

        <div class="col-md-11 padding0" *ngIf="selectedValue === 'target'">
            <form [formGroup]="targetForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="targetPasswordValue">Password<span class="requiredField">*</span></label>
                            <input type="password" class="form-control" id="targetPasswordValue" formControlName="targetPasswordValue" placeholder="Enter password" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="targetConfirmPasswordValue">Confirm Password<span class="requiredField">*</span></label>
                            <input type="password" class="form-control" id="targetConfirmPasswordValue" formControlName="targetConfirmPasswordValue" placeholder="Confirm password" required>
                            <span *ngIf="targetForm.get('targetConfirmPasswordValue').errors?.mustMatch" style="color:red">Password mismatch</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="clearForm()">Clear</button>
    <button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" [disabled]="!selectedValue" (click)="submit()">Submit</button>
</div>
