<div class="modal-header">
    <h5 class="modal-title">Settings</h5>
    <button type="button" class="close close-button" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="row margin0">
        <div class="col-md-11 padding0 marginBottom5 fontWeightBold fontSize18">
            Please select one of the following:
        </div>

        <!-- First Radio Button: Source Password -->
        <div class="col-md-11 padding0">
            <div class="custom-control custom-radio marginBottom10">
                <input type="radio" id="sourcePassword" [(ngModel)]="formpassword" name="formpassword" value="source"
                    class="custom-control-input" (change)="selectDB('source')">
                <label class="custom-control-label fontSize18 marginLeft10" for="sourcePassword">Update source database password</label>
            </div>
        </div>

        <!-- Show Password Form for Source -->
        <div class="col-md-11 padding0" *ngIf="formpassword === 'source'">
            <form [formGroup]="sourceForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sourcePasswordValue">Password<span class="requiredField">*</span></label>
                            <input type="password" class="form-control" id="sourcePasswordValue"
                                formControlName="sourcePasswordValue" placeholder="Enter password" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sourceConfirmPasswordValue">Confirm Password<span class="requiredField">*</span></label>
                            <input type="password" class="form-control" id="sourceConfirmPasswordValue"
                                formControlName="sourceConfirmPasswordValue" placeholder="Confirm password" required>
                            <span *ngIf="sourceForm.get('sourceConfirmPasswordValue').errors?.mustMatch" style="color:red">
                                Password mismatch
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Second Radio Button: Target Password -->
        <div class="col-md-11 padding0">
            <div class="custom-control custom-radio marginBottom10">
                <input type="radio" id="targetPassword" [(ngModel)]="formpassword" name="formpassword" value="target"
                    class="custom-control-input" (change)="selectDB('target')">
                <label class="custom-control-label fontSize18 marginLeft10" for="targetPassword">Update target database password</label>
            </div>
        </div>

        <!-- Show Password Form for Target -->
        <div class="col-md-11 padding0" >
            <form [formGroup]="targetForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="targetPasswordValue">Password<span class="requiredField">*</span></label>
                            <input type="password" class="form-control" id="targetPasswordValue"
                                formControlName="targetPasswordValue" placeholder="Enter password" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="targetConfirmPasswordValue">Confirm Password<span class="requiredField">*</span></label>
                            <input type="password" class="form-control" id="targetConfirmPasswordValue"
                                formControlName="targetConfirmPasswordValue" placeholder="Confirm password" required>
                            <span *ngIf="targetForm.get('targetConfirmPasswordValue').errors?.mustMatch" style="color:red">
                                Password mismatch
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>

       
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-md btn-simple marginRight5" (click)="clearSelection()">Clear</button>
    <button type="button" class="btn btn-md btn-primary marginRight5" (click)="cancel()">Cancel</button>

    <!-- Show Test Connection and Submit Buttons for Source -->
    <button class="btn btn-simple btn-md float-right marginRight5" [disabled]="!sourceForm.valid"
        (click)="testSourceDbConnection()" *ngIf="formpassword === 'source'">Test Connection</button>
    <button type="button" class="btn btn-md btn-primary" style="margin-right: 48px !important;"
        [disabled]="!sourceForm.valid" (click)="submitSource()" *ngIf="formpassword === 'source'">Submit</button>

    <!-- Show Test Connection and Submit Buttons for Target -->
    <button class="btn btn-simple btn-md float-right marginRight5" [disabled]="!targetForm.valid"
        (click)="testTargetDbConnection()" >Test Connection</button>
    <button type="button" class="btn btn-md btn-primary" style="margin-right: 48px !important;"
        [disabled]="!targetForm.valid" (click)="submitTarget()" >Submit</button>
</div>
