<div class="modal-header">
  <h5 class="modal-title">{{data.title}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="data.label !='validate_analytics' && data.label !='validate_task'">
  <div class="overflow-auto">
    <p>{{data.msg}}</p>
    <div *ngIf="data.showRadioButtons">
      <label>Do you want to include App container backup?</label><br>
      <div style="display: flex; gap: 10px; align-items: center;">
        <div>
          <input class="form-check-input form_radio" type="radio" style="margin-left:0px;margin-right:5px;" id="yes" name="choice" [(ngModel)]="userChoice" value="yes" checked>
          <label class="form-check-label-align-center fontSize17" style="white-space:nowrap;" for="yes"> Yes</label>
        </div>
        <div>
          <input class="form-check-input form_radio" type="radio" style="margin-left:0px;margin-right:5px;" id="no" name="choice" [(ngModel)]="userChoice" value="no">
          <label class="form-check-label-align-center fontSize17" style="white-space:nowrap;" for="no"> No</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-body" *ngIf="data.label =='validate_analytics' || data.label =='validate_task'">
  <div style="max-height: 65vh; overflow-y: scroll;">
    <p [innerHTML]="data.msg"></p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-simple" (click)="cancel()">{{data.cancelButtonLabel}}</button>
  <button type="button" class="btn btn-primary" (click)="ok()">{{data.okButtonLabel}}</button>
</div>
