.min-window-main{
  /* height: 4rem; */
  width: 20rem;
  position: fixed;
  bottom: 0px;
}

.min-window-header{
  color: white;
  background: #252d76;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.min-window-header  img {
  width: 1rem;
}
