<!-- <div class="modal-header">
  <h4 class="modal-title">Upload Files</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class = "row">  -->


<div class="col-md-12">
  <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="filesDropped($event)">
    <input id="fileInputId" name="file" hidden type="file" #fileInput (change)="attachFile($event)" (click)="$event.target.value=null" [disabled]="this.files.length >= 1">
  </div>
  <div class="files-list" *ngFor="let file of files;let i= index">
    <p class="margin0"> {{ file.name }} </p>
    <button class="delete-file" (click)="deleteAttachment(i)">
      <!-- <img src="../../assets/Recycle_Bin_Full.png"> -->
      <span class="fontSize22" style="color:gray;"><i class="fa fa-trash"></i></span>

    </button>
  </div>

</div>
<ng-container *ngIf="data.fileType == 'restoreDMAP'; else noRestore">
<div class="col-md-12 marginBottom10">
  <button class="btn btn-primary form-control" (click)="uploadFile()"
    [disabled]="(this.files.length == 0 || this.files.length > 1) || !masterNodeIPExist || submitDisabled">Upload</button>
</div>
</ng-container>
<ng-template #noRestore>
<div class="col-md-12 marginBottom10">
  <button class="btn btn-primary form-control" (click)="uploadFile()"
    [disabled]="this.files.length == 0 || this.files.length > 1">Upload</button>
</div>
</ng-template>

<!-- </div> -->
<!-- </div>
<div class="modal-footer">
  <button class = "btn btn-primary form-control" (click) = "uploadFile()">Upload</button>
</div> -->
