<div class="row">
  <form name="licenseForm" #l="ngForm">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div
          class="col-md-5 loginBodyHeight row justify-content-center align-items-center"
        >
          <div
            class="row"
            style="padding: 36px 9px 40px 9px; border: 1px solid lightgrey"
          >
            <div class="col-md-10 col-xs-10" style="margin-top: -22px">
              <div class="row">
                <div class="col-md-12 loginHeading">
                  <div>Welcome to <span class="loginD d">DMAP</span></div>
                </div>
                <div class="col-md-12 loginHint" style="margin-bottom: 18px">
                  (Database Migration Acceleration Platform)
                </div>
              </div>
            </div>
            <div class="col-md-2 col-xs-2 fadeshow" id="fadeshow">
              <div class="float-right padding5" style="margin-top: -21px">
                <img
                  class="dMapLogo"
                  src="assets/images/dmapLogo_new.png"
                  alt="DMAP"
                />
              </div>
            </div>

            <div *ngIf="showInvalidLicenseMsg" class="col-md-12">
              <div
                class="alert alert-danger"
                style="padding: 0.7rem 0.75rem 0rem 0.75rem !important"
              >
                <p [innerHTML]="htmlSnippet"></p>
              </div>
            </div>

            <div class="col-md-12 marginBottom10">
              <div id="" class="float-container">
                <label for="licenseKey" class="lineHeight11"
                  >Enter License key<span class="requiredField invisible"
                    >*</span
                  ></label
                >
                <input
                  id="licenseKey"
                  style="height: 32px !important; border-radius: 0.3rem"
                  name="licenseKey"
                  type="text"
                  data-placeholder=" "
                  required
                  [(ngModel)]="licenseKey"
                />
              </div>
            </div>

            <div class="col-md-12 marginBottom10">
              <div class="col-md-12">
                <div>
                  You must accept
                  <a
                    href="../../../../assets/licenseAgreement.pdf"
                    target="_blank"
                    class="marginRight5"
                    >DMAP license policy</a
                  >to use this application
                </div>
              </div>
              <div class="col-md-12 marginTop10">
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="datayes"
                    required
                    name="dataStatus"
                    value="Y"
                    [(ngModel)]="dataValue"
                    (change)="radioChangeHandler($event)"
                  />
                  <label class="custom-control-label" for="datayes"
                    >Accept License Agreement</label
                  >
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="dataNo"
                    required
                    name="dataStatus"
                    value="N"
                    [(ngModel)]="dataValue"
                    (change)="radioChangeHandler($event)"
                  />
                  <label class="custom-control-label" for="dataNo"
                    >Decline License Agreement</label
                  >
                </div>
              </div>
            </div>

            <div class="col-md-12 marginBottom20">
              <button
                class="btn btn-default btn-lg form-control activateLicenseButton"
                [disabled]="!l.valid || dataValue != 'Y'"
                *ngIf="!l.valid || dataValue != 'Y'"
              >
                Activate License
              </button>
              <button
                class="btn btn-primary btn-lg form-control activateLicenseButton"
                *ngIf="l.valid && dataValue == 'Y'"
                (click)="onLicenseActivation()"
              >
                Activate License
              </button>
            </div>

            <div class="col-md-12 marginTop5" style="margin-bottom: -22px">
              <div class="marginTop5 textCenter">
                <span class="textCenter"
                  >Do you want to restore your previous container data?
                  <span class="simpleLink pointerCursor" (click)="restoreDMAP()"
                    >Restore DMAP</span
                  >
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
