<div class="modal-header">
    <h5 class="modal-title">{{data.name}} Error Details</h5>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <table id="dmapTable" class="table table-bordered table-striped table-sm" style="font-size:12px; padding-top:5px;">
        <thead class="thead_custom" *ngIf="data.erroCodeHeading">
            <tr class="tr_custom_14">
                <th>{{data.erroCodeHeading}}</th>
            </tr>
        </thead>
        <tbody style="font-size: 12px !important; word-break: break-word;" *ngIf="data.errorCodeData">
            <ng-container>
                <tr class="tr_custom_14">
                    <td>{{data.errorCodeData}}</td>
                </tr>
            </ng-container>
        </tbody>
        <thead class="thead_custom">
            <tr class="tr_custom_14">
                <th>{{data.errorheading}}</th>
            </tr>
        </thead>
        <tbody style="font-size: 12px !important; word-break: break-word;">
            <ng-container *ngFor="let item of data.errordata ">
                <tr class="tr_custom_14">
                    <td>{{item}}</td>
                </tr>
            </ng-container>
        </tbody>
        <thead class="thead_custom" *ngIf="data.sqlheading != undefined">
            <tr class="tr_custom_14">
                <th>{{data.sqlheading}}</th>
            </tr>
        </thead>
        <tbody style="font-size: 12px !important; word-break: break-word;">
            <ng-container *ngFor="let item of data.sqldata">
                <tr class="tr_custom_14">
                    <td>{{item}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="ok()">Ok</button>
</div>