<input style="display: none;" name="testing"/>
 <span class="pageHeading">Interface Intake Form</span>
<div class="row adjust body-content-padding">
    <div class="modal-body aq" style="padding:7px;">

        <div *ngIf="isDataAvailable">
            <div class="col-md-12" style="padding-bottom: 5px;">
                <label style="vertical-align: middle" class="row align-items-center">
                    <span class="marginLeft5 font-weight-bold">Form Status:</span>
                    <span *ngIf="formStatus == 'Complete'" class="marginRight10 marginLeft5">
                        <img alt="Complete" src="assets/images/SVG/completed.svg" style="width:20px"><span
                            class="marginLeft5 font-weight-bold">Complete</span>
                    </span>
                    <span *ngIf="formStatus == 'Not Started'" class="marginRight10 marginLeft5  row justify-content-center align-items-center">
                        <img alt="Complete" src="assets/images/SVG/not_started.svg" style="width:20px"><span
                            class="marginLeft5 font-weight-bold">Incomplete</span>
                    </span>
                    <span *ngIf="formStatus == 'In Progress'" class="marginRight10 marginLeft5">
                        <img alt="Complete" src="assets/images/SVG/in_progress.svg" style="width:20px"><span
                            class="marginLeft5 font-weight-bold">In Progress</span>
                    </span>
                </label>
            </div>
            <form [formGroup]="intakeinterfaceForm">
                <div class="row qsection">
                    <div class="col-md-12 qsection_heading text-center-align">
                        <span>Interface Details</span>
                    </div>
                    <div class="qsection_body col-md-12">
                        <div class="row  marginTop7">
                            <!-- <ng-container *ngFor="let innerArray of firstsection;"> -->
                                <ng-container *ngFor="let app of firstsection;">
                                <div *ngIf="app.input_type == 'text_box'" style="padding-bottom: 10px;" [ngClass]="{'col-md-8': app.form_control_name == 'application_description', 'col-md-4': app.form_control_name != 'application_description'}">
                                    <label>{{app.title}}<span class="requiredField" *ngIf="app.mandatory">*</span></label>
                                    <input class="form-control formheight" [formControlName]="app.form_control_name"
                                        [readOnly]="this.disableInterfaceInput == true &&  app.form_control_name == 'interface_id'|| this.disableInterfaceInput == true &&  app.form_control_name == 'interface_name' || this.interface_action == 'edit' && app.form_control_name == 'interface_id'|| this.interface_action == 'edit' && app.form_control_name == 'interface_name'  || app.form_control_name == 'application_id' || app.form_control_name == 'application_name'||(app.form_control_name == 'servers_core'&& isServerValuesreadOnly === true)||(app.form_control_name == 'servers_ram'&& isServerValuesreadOnly === true)||(app.form_control_name == 'servers_storage' && isServerValuesreadOnly === true) "
                                        type="text" [placeholder]="" [title]="app.help_tip" />
                                    <div *ngIf="app.error_msg"><span
                                            *ngIf="intakeinterfaceForm.get(app.form_control_name).invalid && (intakeinterfaceForm.get(app.form_control_name).dirty || intakeinterfaceForm.get(app.form_control_name).touched)">{{app.error_msg}}</span>
                                    </div>
                                </div>
                                <div *ngIf="app.input_type == 'email_box'" style="padding-bottom: 10px;" [ngClass]="{'col-md-8': app.form_control_name == 'application_description', 'col-md-4': app.form_control_name != 'application_description'}">
                                  <label>{{app.title}}<span class="requiredField" *ngIf="app.mandatory">*</span></label>
                                  <input class="form-control formheight" [formControlName]="app.form_control_name"
                                      [readOnly]="app.form_control_name == 'application_id' || app.form_control_name == 'application_name'||(app.form_control_name == 'servers_core'&& isServerValuesreadOnly === true)||(app.form_control_name == 'servers_ram'&& isServerValuesreadOnly === true)||(app.form_control_name == 'servers_storage' && isServerValuesreadOnly === true) "
                                      type="email" [title]="app.help_tip" placeholder="Enter SPOC email"
                                      pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
                                  <div *ngIf="app.error_msg"><span style="color: red;"
                                          *ngIf="appAssessmentQuestionnaireForm.get(app.form_control_name).invalid && (appAssessmentQuestionnaireForm.get(app.form_control_name).dirty || appAssessmentQuestionnaireForm.get(app.form_control_name).touched)">{{app.error_msg}}</span>
                                  </div>
                              </div>
                                <div *ngIf="app.input_type == 'multi_select'" style="padding-bottom: 10px;" [ngClass]="{'col-md-4': app.column_length == 4, 'col-md-8': app.column_length == 8,'col-md-6': app.column_length == 6}">
                                    <div class="form-group" class="margin">
                                        <label>{{app.title}}<span class="requiredField"
                                                *ngIf="app.mandatory">*</span></label>
                                        <ng-multiselect-dropdown [formControlName]="app.form_control_name"
                                            [placeholder]="'Select'" id="app.form_control_name" [title]="app.help_tip"
                                            [data]="app.options" [settings]="migrationOptions_dropdownSettings"
                                            (onSelect)="onItemSelect($event,app.form_control_name)"
                                            (onDeSelect)="onItemSelect($event,app.form_control_name)"
                                            (onSelectAll)="onSelectAll($event,app.form_control_name)"
                                            (onDeSelectAll)="onDeSelectAll($event,app.form_control_name)">
                                        </ng-multiselect-dropdown>
                                        <input class="form-control formheight marginTop10"
                                            [formControlName]="app.form_control_name+'_others'"
                                            *ngIf="dropdown_others_values[app.form_control_name+'_others']" type="text"
                                            [placeholder]="" />
                                    </div>
                                </div>
                                <div *ngIf="app.input_type == 'select'" style="padding-bottom: 10px;" [ngClass]="{'col-md-4': app.column_length == 4, 'col-md-8': app.column_length == 8,'col-md-6': app.column_length == 6}">
                                    <label>{{app.title}}<span class="requiredField" *ngIf="app.mandatory">*</span></label>
                                    <!-- <div *ngFor="let innerArray of interfaceDetails"> -->
                                    <select
                                    class="form-control formheight" [formControlName]="app.form_control_name"
                                        [title]="app.help_tip"
                                        (change)="selectChange($event,app.form_control_name)"
                                        >
                                        <option *ngFor="let option of app.options" [value]="option">
                                            {{option}}
                                        </option>
                                    </select>

                                    <input class="form-control formheight marginTop10"
                                            [formControlName]="app.form_control_name+'_others'"
                                            *ngIf="dropdown_others_values[app.form_control_name+'_others']" type="text"
                                            [placeholder]="" />
                                    <!-- </div> -->
                                </div>
                                <div *ngIf="app.input_type == 'text_area'" style="padding-bottom: 10px;" [ngClass]="{'col-md-8': app.form_control_name == 'application_description', 'col-md-4': app.form_control_name != 'application_description'}">
                                    <label>{{app.title}}<span class="requiredField" *ngIf="app.mandatory">*</span></label>
                                    <textarea class="form-control form-height" rows="4"
                                    [formControlName]="app.form_control_name" type="text"
                                    [title]="app.help_tip"></textarea>
                                </div>
                                <div *ngIf="app.input_type == 'upload'" style="padding-bottom: 10px;" [ngClass]="{'col-md-8': app.form_control_name == 'application_description', 'col-md-4': app.form_control_name != 'application_description'}">
                                    <label>{{app.title}}<span class="requiredField" *ngIf="app.mandatory">*</span></label>
                                    <input class="col-md-4" type="file" id="architecture" style="display:none;"
                                        [formControlName]="app.form_control_name" [title]="app.help_tip"
                                        (change)="handleFileInput($event.target.files)">
                                    <label for="architecture" class="marginLeft10">
                                        <span class="marginLeft5 colorGreen"
                                            *ngIf="showUploadedArchitectureText">{{interface_architecture_diagram_text}}</span>
                                        <span class="marginLeft5"
                                            *ngIf="!showUploadedArchitectureText">{{interface_architecture_diagram_text}}</span>
                                        <img alt="Complete" for="architecture" [title]="app.help_tip" style="width: 15px;"
                                        src="assets/images/SVG/upload.svg">
                                    </label>
                                </div>
                                </ng-container>
                            <!-- </ng-container> -->
                        </div>
                    </div>
                </div>
                <div class="row qsection">
                    <div class="col-md-12 qsection_heading text-center-align">
                        <span>SQL Remediation Details</span>
                    </div>
                    <div class="qsection_body" style="width: 100%;">
                        <div class="row marginTop7">
                            <!-- <ng-container *ngFor="let innerArray of secondsection;"> -->
                                <ng-container *ngFor="let app of secondsection;">
                                <div *ngIf="app.input_type == 'text_box'" style="padding-bottom: 10px;" [ngClass]="{'col-md-6': (app.form_control_name == 'application_description' || app.form_control_name == 'business_criticality'), 'col-md-4': (app.form_control_name != 'application_description' && app.form_control_name != 'business_criticality')}">
                                    <label>{{app.title}}<span class="requiredField" *ngIf="app.mandatory">*</span></label>
                                    <input class="form-control formheight" [formControlName]="app.form_control_name"
                                        [readOnly]="app.form_control_name == 'application_id' || app.form_control_name == 'application_name'||(app.form_control_name == 'servers_core'&& isServerValuesreadOnly === true)||(app.form_control_name == 'servers_ram'&& isServerValuesreadOnly === true)||(app.form_control_name == 'servers_storage' && isServerValuesreadOnly === true) "
                                        type="text" [placeholder]="" [title]="app.help_tip" />
                                    <div *ngIf="app.error_msg"><span
                                            *ngIf="intakeinterfaceForm.get(app.form_control_name).invalid && (intakeinterfaceForm.get(app.form_control_name).dirty || intakeinterfaceForm.get(app.form_control_name).touched)">{{app.error_msg}}</span>
                                    </div>
                                </div>
                                <div *ngIf="app.input_type == 'multi_select'" style="padding-bottom: 10px;" [ngClass]="{'col-md-4': app.column_length == 4, 'col-md-8': app.column_length == 8,'col-md-6': app.column_length == 6}">
                                    <div class="form-group" class="margin">
                                        <label>{{app.title}}<span class="requiredField"
                                                *ngIf="app.mandatory">*</span></label>
                                        <ng-multiselect-dropdown [formControlName]="app.form_control_name"
                                            [placeholder]="'Select'" id="app.form_control_name" [title]="app.help_tip"
                                            [data]="app.options" [settings]="migrationOptions_dropdownSettings"
                                            (onSelect)="onItemSelect($event,app.form_control_name)"
                                            (onDeSelect)="onItemSelect($event,app.form_control_name)"
                                            (onSelectAll)="onSelectAll($event,app.form_control_name)"
                                            (onDeSelectAll)="onDeSelectAll($event,app.form_control_name)">
                                        </ng-multiselect-dropdown>
                                        <input class="form-control formheight marginTop10"
                                            [formControlName]="app.form_control_name+'_others'"
                                            *ngIf="dropdown_others_values[app.form_control_name+'_others']" type="text"
                                            [placeholder]="" />
                                    </div>
                                </div>
                                <div *ngIf="app.input_type == 'select'" style="padding-bottom: 10px;" [ngClass]="{'col-md-4': app.column_length == 4, 'col-md-8': app.column_length == 8,'col-md-6': app.column_length == 6}">
                                    <label>{{app.title}}<span class="requiredField" *ngIf="app.mandatory">*</span></label>
                                    <select (change)="selectChange($event,app.form_control_name)"
                                    class="form-control formheight" [formControlName]="app.form_control_name"
                                        [title]="app.help_tip">
                                        <option *ngFor="let option of app.options" [value]="option">
                                            {{option}}
                                        </option>
                                    </select>

                                    <input class="form-control formheight marginTop10"
                                            [formControlName]="app.form_control_name+'_others'"
                                            *ngIf="dropdown_others_values[app.form_control_name+'_others']" type="text"
                                            [placeholder]="" />

                                </div>
                                <div *ngIf="app.input_type == 'text_area'" style="padding-bottom: 10px;" [ngClass]="{'col-md-4': app.column_length == 4, 'col-md-8': app.column_length == 8,'col-md-6': app.column_length == 6}">
                                    <label>{{app.title}}<span class="requiredField" *ngIf="app.mandatory">*</span></label>
                                    <textarea class="form-control form-height" rows="4"
                                    [formControlName]="app.form_control_name" type="text"
                                    [title]="app.help_tip"></textarea>
                                </div>
                                <div *ngIf="app.input_type == 'upload'" style="padding-bottom: 10px;" [ngClass]="{'col-md-4': app.column_length == 4, 'col-md-8': app.column_length == 8,'col-md-6': app.column_length == 6}">
                                    <label>{{app.title}}<span class="requiredField" *ngIf="app.mandatory">*</span></label>
                                    <input class="col-md-4" type="file" id="architecture" style="display:none;"
                                        [formControlName]="app.form_control_name" [title]="app.help_tip"
                                        (change)="handleFileInput($event.target.files)">
                                    <label for="architecture" class="marginLeft10">
                                        <span class="marginLeft5 colorGreen"
                                            *ngIf="showUploadedArchitectureText">{{interface_architecture_diagram_text}}</span>
                                        <span class="marginLeft5"
                                            *ngIf="!showUploadedArchitectureText">{{interface_architecture_diagram_text}}</span>
                                        <img alt="Complete" for="architecture" [title]="app.help_tip" style="width: 15px;"
                                        src="assets/images/SVG/upload.svg">
                                    </label>
                                </div>
                                </ng-container>
                            <!-- </ng-container> -->
                        </div>
                    </div>
                </div>
                <div class="row qsection">
                    <div class="col-md-12 qsection_heading text-center-align">
                        <span>Documentation & Release Management</span>
                    </div>
                    <div class="col-md-12 qsection_body">
                        <div class="row marginTop7">
                            <!-- <ng-container *ngFor="let innerArray of thirdsection;"> -->
                                <ng-container *ngFor="let app of thirdsection;">
                                <div *ngIf="app.input_type == 'text_box'" style="padding-bottom: 10px;" [ngClass]="{'col-md-6': (app.form_control_name == 'application_description' || app.form_control_name == 'business_criticality'), 'col-md-4': (app.form_control_name != 'application_description' && app.form_control_name != 'business_criticality')}">
                                    <label>{{app.title}}<span class="requiredField" *ngIf="app.mandatory">*</span></label>
                                    <input class="form-control formheight" [formControlName]="app.form_control_name"
                                        [readOnly]="app.form_control_name == 'application_id' || app.form_control_name == 'application_name'||(app.form_control_name == 'servers_core'&& isServerValuesreadOnly === true)||(app.form_control_name == 'servers_ram'&& isServerValuesreadOnly === true)||(app.form_control_name == 'servers_storage' && isServerValuesreadOnly === true) "
                                        type="text" [placeholder]="" [title]="app.help_tip" />
                                    <div *ngIf="app.error_msg"><span
                                            *ngIf="intakeinterfaceForm.get(app.form_control_name).invalid && (intakeinterfaceForm.get(app.form_control_name).dirty || intakeinterfaceForm.get(app.form_control_name).touched)">{{app.error_msg}}</span>
                                    </div>
                                </div>
                                <div *ngIf="app.input_type == 'multi_select'" style="padding-bottom: 10px;" [ngClass]="{'col-md-4': app.column_length == 4, 'col-md-8': app.column_length == 8,'col-md-6': app.column_length == 6}">
                                    <div class="form-group" class="margin">
                                        <label>{{app.title}}<span class="requiredField"
                                                *ngIf="app.mandatory">*</span></label>
                                        <ng-multiselect-dropdown [formControlName]="app.form_control_name"
                                            [placeholder]="'Select'" id="app.form_control_name" [title]="app.help_tip"
                                            [data]="app.options" [settings]="migrationOptions_dropdownSettings"
                                            (onSelect)="onItemSelect($event,app.form_control_name)"
                                            (onDeSelect)="onItemSelect($event,app.form_control_name)"
                                            (onSelectAll)="onSelectAll($event,app.form_control_name)"
                                            (onDeSelectAll)="onDeSelectAll($event,app.form_control_name)">
                                        </ng-multiselect-dropdown>
                                        <input class="form-control formheight marginTop10"
                                            [formControlName]="app.form_control_name+'_others'"
                                            *ngIf="dropdown_others_values[app.form_control_name+'_others']" type="text"
                                            [placeholder]="" />
                                    </div>
                                </div>
                                <div *ngIf="app.input_type == 'select'" style="padding-bottom: 10px;" [ngClass]="{'col-md-5': app.column_length == 5,'col-md-4': app.column_length == 4, 'col-md-8': app.column_length == 8,'col-md-6': app.column_length == 6}">
                                    <label>{{app.title}}<span class="requiredField" *ngIf="app.mandatory">*</span></label>
                                    <select (onSelect)="onItemSelect($event,app.form_control_name)"
                                    (onDeSelect)="onItemSelect($event,app.form_control_name)"
                                    (onSelectAll)="onSelectAll($event,app.form_control_name)"
                                    (onDeSelectAll)="onDeSelectAll($event,app.form_control_name)"
                                    class="form-control formheight" [formControlName]="app.form_control_name"
                                        [title]="app.help_tip">
                                        <option *ngFor="let option of app.options" [value]="option">
                                            {{option}}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="app.input_type == 'text_area'" style="padding-bottom: 10px;" [ngClass]="{'col-md-4': app.column_length == 4, 'col-md-8': app.column_length == 8,'col-md-6': app.column_length == 6}">
                                    <label>{{app.title}}<span class="requiredField" *ngIf="app.mandatory">*</span></label>
                                    <textarea class="form-control form-height" rows="4"
                                    [formControlName]="app.form_control_name" type="text"
                                    [title]="app.help_tip"></textarea>
                                </div>
                                <div *ngIf="app.input_type == 'upload'" style="padding-bottom: 10px;" [ngClass]="{'col-md-4': app.column_length == 4, 'col-md-8': app.column_length == 8,'col-md-6': app.column_length == 6}">
                                    <label>{{app.title}}<span class="requiredField" *ngIf="app.mandatory">*</span></label>
                                    <input class="col-md-4" type="file" id="architecture" style="display:none;"
                                        [formControlName]="app.form_control_name" [title]="app.help_tip"
                                        (change)="handleFileInput($event.target.files)">
                                    <label for="architecture" class="marginLeft10">
                                        <span class="marginLeft5 colorGreen"
                                            *ngIf="showUploadedArchitectureText">{{interface_architecture_diagram_text}}</span>
                                        <span class="marginLeft5"
                                            *ngIf="!showUploadedArchitectureText">{{interface_architecture_diagram_text}}</span>
                                        <img alt="Complete" for="architecture" [title]="app.help_tip" style="width: 15px;"
                                        src="assets/images/SVG/upload.svg">
                                    </label>
                                </div>
                                </ng-container>
                            <!-- </ng-container> -->
                        </div>
                    </div>
                </div>
            </form>

            <div class="col-md-12 marginTop7">
                <div class="modal-footer">
                    <!--<span *ngIf = "errorInValidForm" class = "errorHint">Please enter all the required fields</span>-->
                    <button type="button" class="btn btn-simple marginRight5" (click)="clear()">Clear</button>
                    <button type="button" class="btn btn-primary marginRight5" (click)="submitForm('save')">Save</button>
                    <button type="button" class="btn btn-primary marginRight20" (click)="submitForm('submit')">Submit</button>
                </div>
            </div>

        </div>
    </div>
</div>

