<form name = "backupRestoreform" #f="ngForm" style = "max-height: 600px;overflow: auto;">
    <div class="modal-header">
        <h4 class="modal-title">Backup</h4>
       <button type="button" class="close" aria-label="Close" (click)="cancel()">
           <span aria-hidden="true">&times;</span>
       </button>
   </div>
   <div class="modal-body">

    <!-- <p>Which Database you want to Backup?</p> -->
    <p>Backup Database</p>
        <div >
            <div class="custom-control custom-radio custom-control-inline" style = "margin-left:30px;">
              <input type="radio" class="custom-control-input" id="datasource" name="dataStatus" value = "source" (change) = "radioChangeHandler($event)">
              <label class="custom-control-label" for="datasource">Source</label>
            </div>
            
            <div class="custom-control custom-radio custom-control-inline" style = "margin-left:50px;margin-bottom:20px;">
              <input type="radio" class="custom-control-input" id="datatarget" value ="target" (change) = "radioChangeHandler($event)" name="dataStatus">
              <label class="custom-control-label" for="datatarget">Target</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline" style = "margin-left:50px;margin-bottom:20px;">
                <input type="radio" class="custom-control-input" id="databoth" value ="both" (change) = "radioChangeHandler($event)" name="dataStatus">
                <label class="custom-control-label" for="databoth">Both</label>
              </div>
    </div>
    <div *ngIf="isSelected('source') || isSelected('both') " >  
        <div class = "col-md-12">
            <div class="form-group">
                <label for="oracleBackupDirName">Orcale Backup Directory<span class = "requiredField" >*</span></label>
                <span class = "validFormCheck" *ngIf = "oracleBackupDirNameRef.valid &&oracleBackupDirNameRef.touched"><i class="fa fa-check"></i></span>
                <input type="oracleBackupDirName" class="form-control" id="oracleBackupDirName" #oracleBackupDirNameRef = "ngModel" ngModel   [(ngModel)] = "oracleBackupDirName"  name = "oracleBackupDirName" placeholder="Enter Orcale Backup Directory" required>
            </div>
        </div>
        
        <div class = "col-md-12">
            <div class="form-group">
                <label for="oracleServiceName">Oracle Service Name<span class = "requiredField" >*</span></label>
                <span class = "validFormCheck" *ngIf = "oracleServiceNameRef.valid && oracleServiceNameRef.touched"><i class="fa fa-check"></i></span>
                <input type="oracleServiceName" class="form-control" id="oracleServiceName" #oracleServiceNameRef = "ngModel" ngModel   [(ngModel)] = "oracleServiceName" name = "oracleServiceName" placeholder="Oracle Service Name" required>
            </div>
        </div>

      </div>  
     
      <div *ngIf="isSelected('target') || isSelected('both')">  
        <div class = "col-md-12">
            <div class="form-group">
                <label for="pgBacupDirPath">Postgres Backup Directory<span class = "requiredField" >*</span></label>
                <span class = "validFormCheck" *ngIf = "pgBacupDirPathRef.valid && pgBacupDirPathRef.touched"><i class="fa fa-check"></i></span>
                <input type="pgBacupDirPath" class="form-control" id="pgBacupDirPath" #pgBacupDirPathRef = "ngModel" ngModel   [(ngModel)] = "pgBacupDirPath" name = "pgBacupDirPath" placeholder="Postgres Backup Directory" required>
                <span>                                            
                    <span style = "color:#ce3b3b">* Specify a location on the DMAP Server</span>
                </span>                
            </div>
        </div>
      </div>  

      <div *ngIf="isSelected('target') || isSelected('source') || isSelected('both') ">  
        <div class = "col-md-12">
            <div class="form-group">
                <label for="fileName">File Name<span class = "requiredField" >*</span></label>
                <span class = "validFormCheck" *ngIf = "fileNameRef.valid && fileNameRef.touched"><i class="fa fa-check"></i></span>
                <input type="fileName" class="form-control" id="fileName" #fileNameRef = "ngModel" ngModel   [(ngModel)] = "fileName" name = "fileName" placeholder="File Name" required>
            </div>
        </div>
        </div>  
          
            <div class="modal-footer" *ngIf="isSelected('target') ||isSelected('source') || isSelected('both') "> 
                <button type="button" class="btn btn-primary" (click)="clear()">Clear</button>
                <button type="button" class="btn btn-primary" [disabled] = "!f.valid" (click) = "submitBackupDetails()">Submit</button>
            </div>    
    </div>
</form>
