<div class="modal-header">
    <h4 class="modal-title">{{data.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
    <p>{{data.msg}}</p>
    </div>
    <div *ngIf ="data.showRadio == 'yes'" >
      <div class="custom-control custom-radio custom-control-inline" style = "margin-left:30px;">
        <input type="radio" class="custom-control-input" id="datayes" name="dataStatus" value = "Y" (change) = "radioChangeHandler($event)">
        <label class="custom-control-label" for="datayes">Yes</label>
      </div>
      
      <div class="custom-control custom-radio custom-control-inline" style = "margin-left:50px;margin-bottom:20px;">
        <input type="radio" class="custom-control-input" id="dataNo" value ="N" (change) = "radioChangeHandler($event)" name="dataStatus">
        <label class="custom-control-label" for="dataNo">No</label>
      </div>
    </div>
    
    <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="ok()">Ok</button>
    </div>