
<div class="modal-header">
  <h5 class="modal-title">{{data.title}} for {{data.itemsSelected[0].sourceDBName}} Schema</h5>
 <button type="button" class="close" aria-label="Close" (click)="cancel()">
     <span aria-hidden="true">&times;</span>
 </button>
</div>
<form name = "submitTargetCredentials" (ngSubmit) = "submitMergeType()" #t="ngForm" style = "max-height: 600px;overflow: auto;">
<div class="modal-body">
  <div class = "row" style = "padding:10px; padding-top: 5px;">
    <div class = "col-md-12">DMAP suports following merge priority option:
    </div>
  </div> 

  <div class="paddingRight15 paddingLeft15" *ngFor="let priority of sortedPriorities; let i = index">
    <div class = "row" *ngIf = "priority.type == 'ON CONFLICT'">
      <div class = "col-md-12 fontWeightBold">{{priority.type}}</div>        
      <div class = "col-md-12 marginLeft20 marginBottom5" *ngIf = "priority.hint != undefined">{{priority.hint}}</div>
      <div class = "col-md-12 marginLeft20" *ngFor = "let pDetail of priority.detail">
        <div class = "row">
          <div class = "col-md-12">
            <span class = "marginRight5 " style = "font-size: 12px;"><i class="fa fa-circle"></i></span>{{pDetail.type}}
          </div>
          <ng-container *ngIf = "pDetail.detail != undefined">
            <div class = "col-md-12" *ngFor = "let item of pDetail.detail">
              <span class = "marginRight5 marginLeftt10" style = "font-size: 12px;"><i class="fa fa-circle"></i></span>{{item.type}}
            </div>
          </ng-container>
          </div>
        </div>
    </div>
  </div>
 
  <!-- Temporary commented out. Currently only supporting one merged option therefore no point showing all of the options -->
  <!-- <div class = "row" style = "padding:10px; padding-top: 5px;">
    <div class = "col-md-12">Please drag the <span class = "fontWeightBold">merge type </span> to arrange them in order from highest to lowest priority
       <span class = "hints marginLeft5" style = "font-size:12px; font-style: italic;">(hint: top is highest and bottom is lowest priority)</span></div>
  </div> 

 <div class = "row" style = "padding-left: 20px;padding-right: 20px;" *ngIf = "sortedPriorities.length > 0">
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" style = "position:relative;">
    <div class="example-box" *ngFor="let priority of sortedPriorities; let i = index" cdkDrag>
      <div class = "row">
        <div class = "col-md-12 fontWeightBold">{{i+1}} - {{priority.type}}</div>        
        <div class = "col-md-12 marginLeft20 marginBottom5" *ngIf = "priority.hint != undefined">{{priority.hint}}</div>
        <div class = "col-md-12 marginLeft20" *ngFor = "let pDetail of priority.detail">
          <div class = "row">
            <div class = "col-md-12">
              <span class = "marginRight5 " style = "font-size: 12px;"><i class="fa fa-circle"></i></span>{{pDetail.type}}
            </div>
            <ng-container *ngIf = "pDetail.detail != undefined">
              <div class = "col-md-12" *ngFor = "let item of pDetail.detail">
                <span class = "marginRight5 marginLeftt10" style = "font-size: 12px;"><i class="fa fa-circle"></i></span>{{item.type}}
              </div>
            </ng-container>
            </div>
          </div>
      </div>
    </div>
  </div> 
 </div> -->

 <div class = "row" style = "padding-left: 20px;" *ngIf = "sortedPriorities.length == 0">
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" style = "position:relative;">
    <div class="example-box" cdkDrag>
      <div class = "row">
        <div class = "col-md-12 fontWeightBold">No priority data found for this schema</div>        
        
      </div>
    </div>
  </div> 
 </div> 

</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-md btn-simple" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-md btn-primary" [disabled] = "!t.valid" (click) = "submitMergeType()">Submit</button>
</div> -->
</form>