<div class = "row" *ngIf = "formStatus.length > 0">
    
    <div class = "col-md-12">
        <label style = "vertical-align: middle">
            <span  class = "marginLeft5 font-weight-bold">Form Status:</span>
            <span  *ngIf = "formStatus == 'Complete'" 
            class = "marginRight10 marginLeft5">
                    <img alt="Complete" src="assets/images/SVG/completed.svg" ><span  class = "marginLeft5 font-weight-bold">Complete</span>
            </span>
            <span  *ngIf = "formStatus == 'Not Started'" 
            class = "marginRight10 marginLeft5">
                    <img alt="Complete" src="assets/images/SVG/not_started.svg" ><span  class = "marginLeft5 font-weight-bold">Incomplete</span>
            </span>
            <span  *ngIf = "formStatus == 'In Progress'" 
            class = "marginRight10 marginLeft5">
                    <img alt="Complete" src="assets/images/SVG/in_progress.svg" ><span  class = "marginLeft5 font-weight-bold">Incomplete</span>
            </span>
            <span  *ngIf = "!allowFormToEdit" 
            class = "marginRight10 marginLeft5 colorRed">
                    Analytics Process is In Progress you can't update the form until the process is completed.
            </span>
        </label>
    </div>

    <div class = "col-md-12" > 
        <app-questioaire-template [formData] = "dbQuestionnaireForm" [controls] = "controls.DBCommonDetails" [formStatus] = "formStatus"></app-questioaire-template>
    </div>

    
    <div class = "col-md-12">
        <div class = "row">
            <div class = "col-md-12">
                
                <nav class = "dmap-navs col-md-12 padding0 marginTop30" style = "border:none;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <div class = "nav nav-tabs col-md-12">
                            <a class="nav-item nav-link dmapdbOwner_detailLink dmapNavLink marginRight10 questionairNav" id="nav-dbOwner_detail-tab" data-toggle="tab" href="#nav-dbOwner_detail" role="tab" aria-controls="nav-dbOwner_detail" aria-selected="true" #tabRef1>DB Owners Contact</a>
                            <a class="nav-item nav-link dmapdbOwner_detailLink dmapNavLink marginRight10 questionairNav" id="nav-dbHarware_detail-tab" data-toggle="tab" href="#nav-dbHarware_detail" role="tab" aria-controls="nav-dbHarware_detail" aria-selected="true" #tabRef2>DB Hardware Details and Future Growth Rate</a>
                            <a class="nav-item nav-link dmapdbOwner_detailLink dmapNavLink marginRight10 questionairNav" id="nav-dbEnv_detail-tab" data-toggle="tab" href="#nav-dbEnv_detail" role="tab" aria-controls="nav-dbEnv_detail" aria-selected="true" #tabRef3>DB Environment</a>
                            <a class="nav-item nav-link dmapdbOwner_detailLink dmapNavLink marginRight10 questionairNav" id="nav-oracleLicense_detail-tab" data-toggle="tab" href="#nav-oracleLicense_detail" role="tab" aria-controls="nav-oracleLicense_detail" aria-selected="true" #tabRef4>Oracle License</a>
                                
                        </div>
                    </div>
                </nav>

                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent" style = "padding-top: 0!important;">
                    <div class="nav-dbOwner_detail-tab tab-pane fade show" id="nav-dbOwner_detail" role="tabpanel" aria-labelledby="nav-dbOwner_detail-tab">
                        <div class = "row adjust" >
                            <div class = "col-md-12">
                                <app-questioaire-template [formData] = "dbQuestionnaireForm" [controls] = "controls.DBDetails[0].controls" [formStatus] = "formStatus"></app-questioaire-template>
                            </div>
                                
                        </div>
                    </div>

                    <div class="nav-dbHarware_detail-tab tab-pane fade" id="nav-dbHarware_detail" role="tabpanel" aria-labelledby="nav-dbHarware_detail-tab">
                        <div class = "row adjust">
                            <div class = "col-md-12">
                                <app-questioaire-template [formData] = "dbQuestionnaireForm" [controls] = "controls.DBDetails[1].controls" [formStatus] = "formStatus"></app-questioaire-template>
                            </div>
                        </div>
                    </div>

                    <div class="nav-dbEnv_detail-tab tab-pane fade" id="nav-dbEnv_detail" role="tabpanel" aria-labelledby="nav-dbEnv_detail-tab">
                        <div class = "row adjust">
                            <div class = "col-md-12">
                                <app-questioaire-template [formData] = "dbQuestionnaireForm" [controls] = "controls.DBDetails[2].controls" [formStatus] = "formStatus"></app-questioaire-template>
                            </div>
                        </div>
                    </div>

                    <div class="nav-oracleLicense_detail-tab tab-pane fade" id="nav-oracleLicense_detail" role="tabpanel" aria-labelledby="nav-oracleLicense_detail-tab">
                        <div class = "row adjust">
                            <div class = "col-md-12">
                                <app-questioaire-template [formData] = "dbQuestionnaireForm" [controls] = "controls.DBDetails[3].controls" [formStatus] = "formStatus"></app-questioaire-template>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>