<form name="masterSettingsForm" #f="ngForm">
    <div class="modal-header">
        <h5 class="modal-title">{{data.title}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="max-height: 600px">

        <div class="row margin0">

            <div class="col-md-12 marginBottom10 fontWeightBold">
                <label for="count">Active Worker Nodes:</label>
            </div>

            <div class=" col-md-12" style="margin-top: -3px;margin-left: -25px !important;">
                <div class="col-md-12 marginLeft10" *ngFor="let node of activeNodes">
                    <input class="form_radio" type="radio" name="list_name" value="{{node}}" [checked]="selectedNode === node"
                        (change)="onNodeSelect(node)" style="top: 1px;"/>
                    <label
                        class="form-check-label-align-center form-check-label-workerNode fontSize17 marginLeft10 marginTop3"
                        for="inlineRadio1">{{node}}</label>
                </div>
            </div>

            <div *ngIf="isNodeSelected">
                <div class="col-md-12 marginBottom10 fontWeightBold">
                    <label for="count">Logs available for Worker Node {{workerNodeName}}</label>
                </div>
                <div *ngIf="fileList.length == 0">
                    <div class="col-md-12 marginBottom10">No logs found for worker node {{workerNodeName}}</div>
                </div>

                <div class="col-md-12 " *ngIf="isNodeSelected && fileList.length > 0">
                    <div class="col-md-12 marginLeft10 marginBottom5">
                        <input type="checkbox" name="checkallschema" [(ngModel)]="isAllRowChecked" value="-1" style="top:3px !important;"
                            class="form_checkbox" #inputE2 (change)="onSelectFile({file: -1, event:$event})">
                        <label class="marginLeft10 form-check-label">Select all files to download</label>
                    </div>
                    <div class="col-md-12 marginLeft10" *ngFor="let file of fileList;let i = index;">
                        <input class="form_checkbox" type="checkbox" [(ngModel)]="file.isRowChecked" name="file" style="top:2px !important;"
                            value={{file}} (change)="onSelectFile({file: file.file, event: $event})">
                        <span class="pointerCursor simpleLink marginLeft10"
                            (click)="openLog({file: file.file})">{{file.file}}</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <!-- <button type="button" class="btn btn-md btn-primary" [disabled]="workerNode == null || isSelected"
                (click)="submit()">Submit</button> -->
            <button type="button" class="btn btn-md btn-primary" [disabled]="selectedLogFiles.length == 0"
                (click)="download()">Download</button>
        </div>

    </div>

</form>
