<form name="submitTargetCredentials" #f="ngForm">
    <div class="modal-header">
        <h5 class="modal-title">{{data.title}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="max-height: 600px;overflow: hidden;"
        *ngIf="data.type != 'updatepassword' && data.type!= 'updateip'">

        <div class="row margin0">


            <div class="col-md-12">
                <div class="form-group">
                    <label for="modalWorkerNodeIP">Worker Node IP/FQDN<span class="requiredField">*</span></label>
                    <span class="validFormCheck" *ngIf="modalWorkerNodeIPRef.valid && modalWorkerNodeIPRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="modalWorkerNodeIP" class="form-control" id="modalWorkerNodeIP"
                        placeholder="Enter worker node IP/FQDN" #modalWorkerNodeIPRef="ngModel"
                        [(ngModel)]="modalWorkerNodeIPValue" name="modalWorkerNodeIP" title="Hint: 192.111.1.12"
                        required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="modalWorkerNodeServicePort">Worker Node Service Port<span
                            class="requiredField">*</span></label>
                    <span class="validFormCheck"
                        *ngIf="modalWorkerNodeServicePortRef.valid && modalWorkerNodeServicePortRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="modalWorkerNodeServicePort" class="form-control" id="modalWorkerNodeServicePort"
                        placeholder="Enter worker node service port" #modalWorkerNodeServicePortRef="ngModel"
                        [(ngModel)]="modalWorkerNodeServicePortValue" name="modalWorkerNodeServicePort"
                        title="Hint: 5002" required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="modalWorkerNodeUIPort">Worker Node UI Port<span class="requiredField">*</span></label>
                    <span class="validFormCheck"
                        *ngIf="modalWorkerNodeUIPortRef.valid && modalWorkerNodeUIPortRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="modalWorkerNodeUIPort" class="form-control" id="modalWorkerNodeUIPort"
                        placeholder="Enter worker node UI port" #modalWorkerNodeUIPortRef="ngModel"
                        [(ngModel)]="modalWorkerNodeUIPortValue" name="modalWorkerNodeUIPort" title="Hint: 8080"
                        required>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label for="modalWorkerNodeUsername">Worker Node Username<span
                            class="requiredField">*</span></label>
                    <span class="validFormCheck"
                        *ngIf="modalWorkerNodeUsernameRef.valid && modalWorkerNodeUsernameRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="modalWorkerNodeUsername" class="form-control" id="modalWorkerNodeUsername"
                        placeholder="Enter worker node username" #modalWorkerNodeUsernameRef="ngModel"
                        [(ngModel)]="modalWorkerNodeUsernameValue" name="modalWorkerNodeUsername"
                        title="Hint: dmap@newtglobal.com" required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="modalWorkerNodePassword">Password<span class="requiredField">*</span></label>
                    <app-show-password (showPasswordClicked)="toggleWorkerNodePassword($event)"
                        [password]="modalWorkerNodePasswordValue" [right]="'45px'" [top]="'23px'"></app-show-password>
                    <input type="{{workerNodePasswordType}}" class="form-control" id="modalWorkerNodePassword"
                        [(ngModel)]="modalWorkerNodePasswordValue" name="modalWorkerNodePassword"
                        placeholder="Enter worker node password" required>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-body" style="max-height: 600px;overflow: hidden;" *ngIf="data.type == 'updatepassword'">

        <div class="row">


            <div class="col-md-12">
                <div class="form-group">
                    <label for="password">Password<span class="requiredField">*</span></label>
                    <input id="password" name="password" type="{{passwordType}}" class="form-control"
                        [(ngModel)]="password" #passwordRef='ngModel' placeholder="Enter worker node password" required>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="password">Confirm Password<span class="requiredField">*</span></label>
                    <app-show-password (showPasswordClicked)="toggleConfirmationPassword($event)"
                        [password]="confirmationPassword" [right]="'23px'" [top]="'23px'"></app-show-password>
                    <input id="confirmationPassword" name="confirmationPassword" type="{{passwordConfirmationType}}"
                        class="form-control" [(ngModel)]="confirmationPassword"
                        placeholder="Confirm worker node password" ngValidateEqual="password"
                        #confirmationPasswordRef='ngModel' required>
                </div>
                <div *ngIf="(confirmationPasswordRef.dirty || confirmationPasswordRef.touched)">

                    <p class="warning-text" *ngIf="confirmationPasswordRef.hasError('notEqual') && passwordRef.valid"
                        style="color:red;font-size: 12px;">
                        Passwords don't match
                    </p>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-body" style="max-height: 600px;overflow: hidden;" *ngIf="data.type == 'updateip'">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="modalWorkerNodeIP">IP/FQDN<span class="requiredField">*</span></label>
                    <span class="validFormCheck" *ngIf="modalWorkerNodeIPRef.valid && modalWorkerNodeIPRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="modalWorkerNodeIP" class="form-control" id="modalWorkerNodeIP"
                        placeholder="Enter worker node IP/FQDN" #modalWorkerNodeIPRef="ngModel"
                        [(ngModel)]="modalWorkerNodeIPValue" name="modalWorkerNodeIP" title="Hint: 192.111.1.12"
                        required>
                </div>
            </div>

        <div class="col-md-6">
                <div class="form-group">
                    <label for="modalWorkerNodeServicePort">Service Port<span
                            class="requiredField">*</span></label>
                    <span class="validFormCheck"
                        *ngIf="modalWorkerNodeServicePortRef.valid && modalWorkerNodeServicePortRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="modalWorkerNodeServicePort" class="form-control" id="modalWorkerNodeServicePort"
                        placeholder="Enter worker node service port" #modalWorkerNodeServicePortRef="ngModel"
                        [(ngModel)]="modalWorkerNodeServicePortValue" name="modalWorkerNodeServicePort"
                        title="Hint: 5002" required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="modalWorkerNodeUIPort">UI Port<span class="requiredField">*</span></label>
                    <span class="validFormCheck"
                        *ngIf="modalWorkerNodeUIPortRef.valid && modalWorkerNodeUIPortRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="modalWorkerNodeUIPort" class="form-control" id="modalWorkerNodeUIPort"
                        placeholder="Enter worker node UI port" #modalWorkerNodeUIPortRef="ngModel"
                        [(ngModel)]="modalWorkerNodeUIPortValue" name="modalWorkerNodeUIPort" title="Hint: 8080"
                        required>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label for="modalWorkerNodeUsername">Username<span
                            class="requiredField">*</span></label>
                    <span class="validFormCheck"
                        *ngIf="modalWorkerNodeUsernameRef.valid && modalWorkerNodeUsernameRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="modalWorkerNodeUsername" class="form-control" id="modalWorkerNodeUsername"
                        placeholder="Enter worker node username" #modalWorkerNodeUsernameRef="ngModel"
                        [(ngModel)]="modalWorkerNodeUsernameValue" name="modalWorkerNodeUsername"
                        title="Hint: dmap@newtglobal.com" required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="modalWorkerNodePassword">Password<span class="requiredField">*</span></label>
                    <app-show-password (showPasswordClicked)="toggleWorkerNodePassword($event)"
                        [password]="modalWorkerNodePasswordValue" [right]="'45px'" [top]="'23px'"></app-show-password>
                    <input type="{{workerNodePasswordType}}" class="form-control" id="modalWorkerNodePassword"
                        [(ngModel)]="modalWorkerNodePasswordValue" name="modalWorkerNodePassword"
                        placeholder="Enter worker node password" required>
                </div>
              </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-md btn-simple marginRight5" (click)="clear()">Clear</button>
        <button type="button" class="btn btn-md btn-primary marginRight5"
            *ngIf="data.type != 'updatepassword' && data.type != 'updateip'"
            [disabled]="!f.valid || disableTestConnection " (click)="testWorkerNode()">Test Connection</button>
        <button type="button" class="btn btn-md btn-primary" style="margin-right: 18px;" [disabled]="!f.valid"
            (click)="submitWorkerNode()">Submit</button>

    </div>
</form>
