<div class="modal-header d-flex">
  <h5 class="modal-title">Backup Status</h5>
  <button type="button" class="close" (click)="toggleMinWindow()"><span aria-hidden="true">-</span></button>
  <div>
    <button type="button" (click)="close()" class="close"><span aria-hidden="true">×</span></button>
  </div>
</div>

<div class="adjust modal-body aq">
  <div class="container-fluid">
    <h5>Backup: {{vmBkpStatus && vmBkpStatus.status}}</h5>
    <table class="table table-striped">
      <caption>The table shows all node backup process that are going on</caption>
      <thead>
        <tr>
          <th scope="col"><strong>
              VM Name
            </strong></th>
          <th scope="col">
            <strong>
              VM Status
            </strong>
          </th>
          <th scope="col">
            <strong>
              Backup Status
            </strong>
          </th>
        </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="vmBkpStatus">
        <tr *ngFor="let vbkp of vmBkpStatus.data">
          <th scope="row">{{vbkp.node_name}}</th>
          <td>{{vbkp.status}}</td>
          <td [ngClass]="{progressError: vbkp.status === 'Error', progressInProgress: vbkp.status != 'Error'}">{{vbkp.stage}}
            <svg class="bi bi-file-plus filePlusIcon" *ngIf="vbkp.stage == 'Error'" (click)="showMinErrorDialog(vbkp.errorMsg)"
              width="1em" height="1em" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V8h-1v5a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5V1z" />
              <path fill-rule="evenodd"
                d="M13.5 1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V1.5a.5.5 0 0 1 .5-.5z" />
              <path fill-rule="evenodd" d="M13 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z" />
            </svg>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
