<div class="modal-header">
    <h5 class="modal-title">{{data.title}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body dm" style="max-height: 450px !important;">

    <div class="col-md-12">
        <form name="masterSettingsForm" #f="ngForm">
            <span class="fontSize14" *ngIf="showText">
                Schema {{data.selectedSchema.sourceDBSchema}} selected in the existing migrations page list is already
                selected on this page.
                You must manually select any other schema to delete.
            </span>
            <div class="col-md-11 padding0 marginBottom10 font-weight-bold fontSize18">
                Select one or more schemas to delete.
            </div>
            <table id="analyticsTable" class="analyticsTable table table-hover table-sm table-bordered">
                <thead class="thead_custom">
                    <tr class="tr_custom_14">
                        <th class="textCenter">
                            <div class="">
                                <input type="checkbox" name="checkallschema" [(ngModel)]="isAllRowChecked" value="-1"
                                    style="top: 2px !important;" class="form_checkbox" #inputE2
                                    (change)="onCheckboxClicked({runId:-1, event:$event})">
                            </div>
                        </th>
                        <th>Run ID </th>
                        <th>Source Schema</th>
                        <th>Source DB</th>
                        <th>Stage</th>
                        <th>Status</th>

                    </tr>
                </thead>
                <tbody class="">
                    <ng-container *ngIf="schemasToDelete.length > 0">
                        <tr class="tr_custom_14 example-box"
                            *ngFor="let item of schemasToDelete | paginate: { itemsPerPage: 20, currentPage: p,id:'schemasToDeleteTable' }; let i = index;">
                            <td class="textCenter">
                                <div class="">
                                    <input type="checkbox" name="schema" style="top: 2px !important;"
                                        [checked]="item.isRowChecked || item.defaultSelection"
                                        value="checkbox_{{item.runId}}" class="form_checkbox"
                                        (change)="onCheckboxClicked({runId:item.runId, event:$event})">
                                </div>
                            </td>
                            <td>{{item.runId}}</td>
                            <td>{{item.sourceSchema}}</td>
                            <td>{{item.sourceDB}}</td>
                            <td>{{item.migration_stage}}</td>
                            <td>{{item.status}}</td>

                        </tr>
                    </ng-container>
                    <ng-container *ngIf="schemasToDelete.length == 0">
                        <tr class="tr_custom_14">
                            <td colSpan="5">
                                <span class="fontWeightBold">There are no schemas to delete. Only schemas for which Assessment is not started can be deleted. </span>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div class="col-md-12" *ngIf="showPagination">
                <pagination-controls (pageChange)="p = $event" id="schemasToDeleteTable"
                    style="font-size: 12px;float: right; " directionLinks="true" autoHide="true" responsive="true"
                    previousLabel="PREVIOUS" nextLabel="NEXT" screenReaderPaginationLabel="Pagination"
                    screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
            </div>
            <div class="modal-footer col-md-12" style="margin-bottom:-12px;margin-right: -12px;">
                <button type="button" class="btn btn-md btn-primary" [disabled]="!showSubmitButton"
                    style="float: right;margin-right: -9px; " (click)="submit()">Submit</button>
            </div>
        </form>
    </div>
</div>
