.dropdown-menu {
    display: none;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .marginRight5 {
    margin-right: 5px;
  }
  
  .pull-right {
    float: right;
  }
  
  .marginBottom5 {
    margin-bottom: 5px;
  }
  
  .marginLeft5 {
    margin-left: 5px;
  }
  