<form name="submitTargetCredentials" #t="ngForm" style="max-height: 600px;overflow: hidden;">
    <div class="modal-header" *ngIf="data.title">
        <h5 class="modal-title">{{data.title}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" *ngIf="data.title">

        <div class="row margin0">


            <div class="col-md-4">
                <div class="form-group">
                    <label for="modalTargetType">Database Type</label>
                    <input type="modalTargetType" class="form-control" id="modalTargetType"
                        [(ngModel)]="modalTargetTypeValue" name="modalTargetType" title="Hint: sampleShell" readonly>
                </div>
            </div>

            <!-- <div class = "col-md-4">
            <div class="form-group">
                <label for="modalTargetEnv">Target Environment</label>
                <input type="modalTargetEnv" class="form-control" id="modalTargetEnv"
                [(ngModel)] =  "modalTargetEnvValue" name = "modalTargetEnv" title = "Hint: sampleShell" readonly>
            </div>
        </div> -->

            <!-- <div class = "col-md-4">
            <div class="form-group">
                <label for="modalToolUsed">Tools to be used</label>
                <input type="modalToolUsed" class="form-control" id="modalToolUsed"
                [(ngModel)] =  "modalToolUsedValue" name = "modalToolUsed" title = "Hint: sampleShell" readonly>
            </div>
        </div> -->

            <div class="col-md-4">
                <div class="form-group">
                    <label for="modalDatabaseSchema">Database Schema</label>
                    <input type="modalDatabaseSchema" class="form-control" id="modalDatabaseSchema"
                        [(ngModel)]="modalDatabaseSchemaValue" name="modalDatabaseSchema" title="Hint: sampleShell"
                        readonly>
                </div>
            </div>


            <div class="col-md-4">
                <div class="form-group">
                    <label for="modalTargetDBHost">Database Host URL / IP address<span
                            class="requiredField">*</span></label>
                    <span class="validFormCheck" *ngIf="modalTargetDBHostRef.valid && modalTargetDBHostRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="modalTargetDBHost" class="form-control" id="modalTargetDBHost"
                        #modalTargetDBHostRef="ngModel" ngModel [(ngModel)]="modalTargetDBHost"
                        [readOnly]="!makeTargetreadOnly" name="modalTargetDBHost"
                        placeholder="Enter target database host URL / IP address"
                        title="Hint:sample-pgs.cqswlsq35j26.us-east-1.rds.amazonaws.com" required>
                </div>
            </div>


            <div class="col-md-4">
                <div class="form-group">
                    <label for="modalTargetDBName">Database Name<span class="requiredField">*</span></label>
                    <span class="validFormCheck" *ngIf="modalTargetDBNameRef.valid && modalTargetDBNameRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="modalTargetDBName" class="form-control" id="modalTargetDBName"
                        #modalTargetDBNameRef="ngModel" ngModel [(ngModel)]="modalTargetDBName"
                        [readOnly]="!makeTargetreadOnly" name="modalTargetDBName"
                        placeholder="Enter target database name" title="Hint: eFmFm" required>
                </div>
            </div>



            <div class="col-md-4">
                <div class="form-group">
                    <label for="modalTargetDBPort">Port<span class="requiredField">*</span></label>
                    <span class="validFormCheck" *ngIf="modalTargetDBPortRef.valid && modalTargetDBPortRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="modalTargetDBPort" class="form-control" id="modalTargetDBPort"
                        [pattern]="numberOnlyPattern" #modalTargetDBPortRef="ngModel" [readOnly]="!makeTargetreadOnly"
                        ngModel name="modalTargetDBPort" [(ngModel)]="modalTargetDBPort"
                        placeholder="Enter target database port" title="Hint: 1521" required>
                </div>
            </div>

            <!--  <div class = "col-md-4">
            <div class="form-group">
                <label for="modalTargetDBSid">Sid<span class = "requiredField " >*</span></label>
                <input type="modalTargetDBSid" class="form-control" id="modalTargetDBSid" ngModel name = "modalTargetDBSid" placeholder="Enter sid" title = "Hint: APGEFMFM" required>
            </div>
        </div> -->


            <div class="col-md-4">
                <div class="form-group">
                    <label for="modalTargetDBUserName">Username<span class="requiredField">*</span></label>
                    <span class="validFormCheck"
                        *ngIf="modalTargetDBUserNameRef.valid && modalTargetDBUserNameRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="modalTargetDBUserName" class="form-control" id="modalTargetDBUserName"
                        #modalTargetDBUserNameRef="ngModel" ngModel [(ngModel)]="modalTargetDBUserName"
                        [readOnly]="!makeTargetreadOnly" name="modalTargetDBUserName"
                        placeholder="Enter target database username" title="Hint: reportuser" required>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="modalTargetDBPassword">Password<span class="requiredField">*</span></label>
                    <span class="validFormCheck"
                        *ngIf="modalTargetDBPasswordRef.valid && modalTargetDBPasswordRef.touched"><i
                            class="fa fa-check"></i></span>
                    <app-show-password (showPasswordClicked)="togglePassword($event)" [password]="modalTargetDBPassword"
                        [right]="'45px'" [top]="'23px'"></app-show-password>
                    <input type="{{passwordType}}" class="form-control" id="modalTargetDBPassword"
                        #modalTargetDBPasswordRef="ngModel" ngModel [(ngModel)]="modalTargetDBPassword"
                        [readOnly]="!makeTargetreadOnly" name="modalTargetDBPassword"
                        placeholder="Enter target database password" required>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-header" *ngIf="data.interimTitle">
        <h4 class="modal-title">{{data.interimTitle}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="cancel()" [hidden]="data.title">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" *ngIf="data.interimTitle">

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label for="modalInterimDBHost">Database Host URL<span class="requiredField">*</span></label>
                    <span class="validFormCheck" *ngIf="modalInterimDBHostRef.valid && modalInterimDBHostRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="modalInterimDBHost" class="form-control" id="modalInterimDBHost"
                        #modalInterimDBHostRef="ngModel" ngModel [(ngModel)]="modalInterimDBHost"
                        name="modalInterimDBHost" placeholder="Enter host url"
                        title="Hint:sample-pgs.cqswlsq35j26.us-east-1.rds.amazonaws.com" required>
                </div>
            </div>


            <div class="col-md-4">
                <div class="form-group">
                    <label for="modalInterimDBName">Database Name<span class="requiredField">*</span></label>
                    <span class="validFormCheck" *ngIf="modalInterimDBNameRef.valid && modalInterimDBNameRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="modalInterimDBName" class="form-control" id="modalInterimDBName"
                        #modalInterimDBNameRef="ngModel" ngModel [(ngModel)]="modalInterimDBName"
                        name="modalInterimDBName" placeholder="Enter target database name" title="Hint: eFmFm" required>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="modalInterimSchema">Database Schema<span class="requiredField">*</span></label>
                    <span class="validFormCheck" *ngIf="modalInterimSchemaRef.valid && modalInterimSchemaRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="modalInterimSchema" class="form-control" id="modalInterimSchema"
                        #modalInterimSchemaRef="ngModel" ngModel [(ngModel)]="modalInterimSchema"
                        name="modalInterimSchema" placeholder="Enter target schema name" title="Hint: eFmFm" required>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="modalInterimDBPort">Port<span class="requiredField">*</span></label>
                    <span class="validFormCheck" *ngIf="modalInterimDBPortRef.valid && modalInterimDBPortRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="modalInterimDBPort" class="form-control" id="modalInterimDBPort"
                        [pattern]="numberOnlyPattern" #modalInterimDBPortRef="ngModel" ngModel name="modalInterimDBPort"
                        [(ngModel)]="modalInterimDBPort" placeholder="Enter port" title="Hint: 1521" required>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="modalInterimDBUserName">Username<span class="requiredField">*</span></label>
                    <span class="validFormCheck"
                        *ngIf="modalInterimDBUserNameRef.valid && modalInterimDBUserNameRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="modalInterimDBUserName" class="form-control" id="modalInterimDBUserName"
                        #modalInterimDBUserNameRef="ngModel" ngModel [(ngModel)]="modalInterimDBUserName"
                        name="modalInterimDBUserName" placeholder="Enter username" title="Hint: reportuser"
                        required>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="modalInterimDBPassword">Password<span class="requiredField">*</span></label>
                    <span class="validFormCheck"
                        *ngIf="modalInterimDBPasswordRef.valid && modalInterimDBPasswordRef.touched"><i
                            class="fa fa-check"></i></span>
                    <input type="password" class="form-control" id="modalInterimDBPassword"
                        #modalInterimDBPasswordRef="ngModel" ngModel [(ngModel)]="modalInterimDBPassword"
                        name="modalInterimDBPassword" placeholder="Enter password" required>
                </div>
            </div>


        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-md btn-simple marginRight5" (click)="clear()">Clear</button>
        <button class="btn btn-md btn-primary marginRight5"
            [disabled]="!modalTargetDBHost || !modalTargetDBPort ||!modalTargetDBName || !modalTargetDBUserName || !modalTargetDBPassword || disableTarget"
            (click)="testTargetDbConnection()">Test Target Connection</button>
        <button type="button" class="btn btn-md btn-primary marginRight19" [disabled]="!t.valid"
            (click)="submitTarget()">Submit</button>

    </div>
</form>
