<div>
  <span class="pageHeading">GenAI Integration</span>
</div>
<div
  class="adjust body-content-padding"
  data-title="GenAI Integration"
  data-intro="DMAP can leverage the capabilities of GenAI to enhance the conversion of database objects that were not automatically converted using DMAP. On this page, you have the option to enable GenAI for additional conversion by providing their credentials."
  style="margin-top: 14px"
>
  <span class="dropdown fontWeightBold">
    <label style="margin-left: 12px; margin-top: 3px"
      >Enable/Disable GenAI</label
    >
  </span>

  <div
    class="row adjust"
    style="padding-left: 12px; margin-top: 7px; font-weight: 400"
  >
    <span
      >By activating GenAI, it will be used to address SQL issues that DMAP
      cannot handle automatically and that require manual SQL remediation. The
      customer will be responsible for both the usage and the associated costs
      of GenAI.</span
    >
  </div>

  <div class="wizardDiv" style="margin: 14px 14px; padding-bottom: 8px">
    <div class="row col-md-12">
      <div
        class="row adjust col-md-6"
        data-title="Enabling GenAI"
        data-intro="Enable GenAI integration with DMAP for improved conversion of database objects that were not automatically converted. Select this checkbox to activate the integration. Provide the API key associated with GenAI and number of days DMAP shall store it."
        style="padding-top: 1rem"
      >
        <div>
          <div class="form-group">
            <label for="chatGptEnabled" style="font-weight: bold"
              >Enable GenAI <span class="requiredField">*</span></label
            >
          </div>
        </div>
        <div style="margin-left: 10px">
          <input
            type="checkbox"
            style="height: 14px !important"
            class="form-control"
            id="chatGptEnabled"
            [(ngModel)]="chatGptEnabled"
            (ngModelChange)="onGenAiEnableTick($event)"
            name="chatGptEnabled"
          />
        </div>
      </div>
    </div>
    <div class="row col-md-12">
      <div class="row col-md-12 marginLeft0 marginBottom10">
        <label style="font-weight: bold">LLM Platform </label>
        <div style="margin-left: 15px">
          <!------------------------------------------------------------>

          <div class="radio-group">
            <div class="radio-option">
              <input
                type="radio"
                id="option1"
                name="formOption"
                value="gcp"
                [checked]="selectedForm === 'gcp'"
                (change)="toggleForm('gcp')"
              />
              <label for="option1">GCP</label>
            </div>

            <div class="radio-option">
              <input
                type="radio"
                id="option2"
                name="formOption"
                value="azure"
                [checked]="selectedForm === 'azure'"
                (change)="toggleForm('azure')"
              />
              <label for="option2">Azure</label>
            </div>
          </div>

          <!------------------------------------------------------------>
        </div>
      </div>
    </div>
    <form
      *ngIf="selectedForm === 'gcp'"
      [formGroup]="genAIForm"
      name="submitCredentials"
      #f="ngForm"
    >
      <div
        *ngIf="chatGptEnabled"
        data-title="GenAI Form"
        data-intro="Fields to fill in to enable GenAI along with Model Selection capability."
      >
        <!-- GenAI Fields -->
        <div class="row adjust">
          <div class="col-md-6">
            <div class="form-group">
              <label for="location">
                Location <span class="requiredField">*</span>
              </label>
              <input
                type="text"
                formControlName="location"
                class="form-control"
                id="location"
                placeholder="Enter location"
                [(ngModel)]="location"
                name="location"
                (ngModelChange)="validateLocation($event)"
              />
              <!-- Error message if the location contains invalid characters -->
              <div *ngIf="locationInvalid" class="error-message">
                Location must contain only letters.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="modelSelection"
                >Model Selection <span class="requiredField">*</span></label
              >
              <select
                class="form-control"
                id="modelSelection"
                formControlName="modelSelection"
                [(ngModel)]="modelSelection"
                name="modelSelection"
              >
                <option value="Default">Default</option>
                <option value="gemini-1.5-pro-001">gemini-1.5-pro-001</option>
                <option value="gemini-1.5-flash-001">
                  gemini-1.5-flash-001
                </option>
                <option value="gemini-2.5-pro-preview-05-06">
                  gemini-2.5-pro-preview-05-06
                </option>
                <option value="gemini-1.5-pro-002">gemini-1.5-pro-002</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row adjust">
          <div class="col-md-6">
            <div class="form-group">
              <label for="maxOutputTokens"
                >Max Output Tokens <span class="requiredField">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="maxOutputTokens"
                formControlName="maxOutputTokens"
                placeholder="Max token limit 8192"
                [(ngModel)]="maxOutputTokens"
                name="maxOutputTokens"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="temperature"
                >Temperature <span class="requiredField">*</span></label
              >
              <input
                type="number"
                placeholder="Please enter value between 0 and 2"
                min="0"
                max="2"
                step="0.01"
                class="form-control"
                id="temperature"
                formControlName="temperature"
                min="0"
                max="2"
                [(ngModel)]="temperature"
                name="temperature"
              />
            </div>
          </div>
        </div>

        <div class="row adjust">
          <!-- <div class="col-md-6">
            <div class="form-group">
              <label for="topP"
                >Top P <span class="requiredField">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="topP"
                formControlName="topP"
                [(ngModel)]="topP"
                name="topP"
              />
            </div>
          </div> -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="topP"
                >Top P <span class="requiredField">*</span></label
              >
              <input
                type="number"
                placeholder="Please enter value between 0 and 1"
                min="0"
                max="1"
                step="0.01"
                class="form-control"
                id="topP"
                formControlName="topP"
                [(ngModel)]="topP"
                name="topP"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="apiCallLimit"
                >API Call Limit <span class="requiredField">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="apiCallLimit"
                formControlName="apiCallLimit"
                [(ngModel)]="apiCallLimit"
                name="apiCallLimit"
              />
            </div>
          </div>
        </div>

        <div class="row adjust">
          <div class="col-md-6">
            <div class="form-group">
              <label for="maxRetries"
                >Max Retries <span class="requiredField">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="maxRetries"
                formControlName="maxRetries"
                [(ngModel)]="maxRetries"
                name="maxRetries"
              />
            </div>
          </div>
          <!-- <div class="col-md-6">
            <div class="form-group">
              <label for="maxRetries"
                >Max Retries <span class="requiredField">*</span></label
              >
              <select
                class="form-control"
                id="maxRetries"
                formControlName="maxRetries"
                [(ngModel)]="maxRetries"
                name="maxRetries"
              >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div> -->

          <!-- <div class="col-md-6">
            <div class="form-group">
              <label for="retryDelay"
                >Retry Delay <span class="requiredField">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="retryDelay"
                formControlName="retryDelay"
                [(ngModel)]="retryDelay"
                name="retryDelay"
              />
            </div>
          </div> -->

          <div class="col-md-6">
            <div class="form-group">
              <label for="retryDelay"
                >Retry Delay <span class="requiredField">*</span></label
              >
              <select
                class="form-control"
                id="retryDelay"
                formControlName="retryDelay"
                [(ngModel)]="retryDelay"
                name="retryDelay"
              >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row adjust">
          <div class="col-md-6">
            <div class="form-group">
              <label for="maxTokens"
                >Max Tokens <span class="requiredField">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="maxTokens"
                formControlName="maxTokens"
                [(ngModel)]="maxTokens"
                name="maxTokens"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="maxApiCalls"
                >Max API Calls <span class="requiredField">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="maxApiCalls"
                formControlName="maxApiCalls"
                [(ngModel)]="maxApiCalls"
                name="maxApiCalls"
              />
            </div>
          </div>

          <!-- <div class="col-md-6">
            <div class="form-group">
              <label for="maxApiCalls"
                >Max API Calls <span class="requiredField">*</span></label
              >
              <select
                class="form-control"
                id="maxApiCalls"
                formControlName="maxApiCalls"
                [(ngModel)]="maxApiCalls"
                name="maxApiCalls"
              >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div> -->
        </div>
      </div>

      <!-- GenAI Save and Clear Buttons -->
      <div
        *ngIf="chatGptEnabled"
        class="row margin0"
        style="justify-content: flex-end; width: 98.5%"
      >
        <div
          class="col-md-2;"
          data-title="GenAI Action Buttons"
          data-intro="Action buttons to clear or save the filled form."
        >
          <button
            type="button"
            class="btn btn-md btn-simple"
            (click)="clearGenAI()"
          >
            Clear
          </button>
          &nbsp;
          <button
            type="button"
            class="btn btn-md btn-primary"
            (click)="saveGenAiDetails()"
          >
            Save
          </button>
        </div>
      </div>
    </form>

    <!-- Azure form starts -->
    <form
      *ngIf="selectedForm === 'azure'"
      [formGroup]="genAIFormForAzure"
      name="submitCredentials"
      #fff="ngForm"
    >
      <div
        *ngIf="chatGptEnabled"
        data-title="GenAI Form"
        data-intro="Fields to fill in to enable GenAI along with Model Selection capability."
      >
        <div class="row adjust">
          <div class="col-md-6">
            <div class="form-group">
              <label for="endpointUrl">
                Endpoint URL <span class="requiredField">*</span>
              </label>
              <input
                type="text"
                formControlName="endpointUrl"
                class="form-control"
                id="endpointUrl"
                placeholder="https://<resource>.openai.azure.com/"
                [(ngModel)]="endpointUrl"
                name="endpointUrl"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="deploymentName">
                Deployment Name <span class="requiredField">*</span>
              </label>
              <input
                type="text"
                formControlName="deploymentName"
                class="form-control"
                id="deploymentName"
                placeholder="Turboai, gpt4, etc."
                [(ngModel)]="deploymentName"
                name="deploymentName"
              />
            </div>
          </div>
        </div>
        <div class="row adjust">
          <div class="col-md-6">
            <div class="form-group">
              <label for="apiKey">
                API Key <span class="requiredField">*</span>
              </label>
              <input
                type="text"
                formControlName="apiKey"
                class="form-control"
                id="apiKey"
                placeholder="(Azure OpenAI Key)"
                [(ngModel)]="apiKey"
                name="apiKey"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="apiVersion">
                API Version <span class="requiredField">*</span>
              </label>
              <input
                type="text"
                formControlName="apiVersion"
                class="form-control"
                id="apiVersion"
                placeholder="2023-12-01-preview"
                [(ngModel)]="apiVersion"
                name="apiVersion"
              />
            </div>
          </div>
        </div>
        <div class="row adjust">
          <div class="col-md-6">
            <div class="form-group">
              <label for="maxOutputTokensForAzure"
                >Max Output Tokens <span class="requiredField">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="maxOutputTokensForAzure"
                formControlName="maxOutputTokensForAzure"
                placeholder="Max token limit 4096"
                [(ngModel)]="maxOutputTokensForAzure"
                name="maxOutputTokensForAzure"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="temperatureForAzure"
                >Temperature <span class="requiredField">*</span></label
              >
              <input
                type="number"
                placeholder="Please enter value between 0 and 2"
                min="0"
                max="2"
                step="0.01"
                class="form-control"
                id="temperatureForAzure"
                formControlName="temperatureForAzure"
                min="0"
                max="2"
                [(ngModel)]="temperatureForAzure"
                name="temperatureForAzure"
              />
            </div>
          </div>
        </div>
        <div class="row adjust">
          <div class="col-md-6">
            <div class="form-group">
              <label for="topPForAzure"
                >Top P <span class="requiredField">*</span></label
              >
              <input
                type="number"
                placeholder="Please enter value between 0 and 1"
                min="0"
                max="1"
                step="0.01"
                class="form-control"
                id="topPForAzure"
                formControlName="topPForAzure"
                [(ngModel)]="topPForAzure"
                name="topPForAzure"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="frequencyPenalty"
                >Frequency Penalty <span class="requiredField">*</span></label
              >
              <input
                type="number"
                placeholder="Please enter value between 0 and 2"
                min="0"
                max="2"
                step="0.01"
                class="form-control"
                id="frequencyPenalty"
                formControlName="frequencyPenalty"
                min="0"
                max="2"
                [(ngModel)]="frequencyPenalty"
                name="frequencyPenalty"
              />
            </div>
          </div>
        </div>
        <div class="row adjust">
          <div class="col-md-6">
            <div class="form-group">
              <label for="presencePenalty"
                >Presence Penalty <span class="requiredField">*</span></label
              >
              <input
                type="number"
                placeholder="Please enter value between 0 and 2"
                min="0"
                max="2"
                step="0.01"
                class="form-control"
                id="presencePenalty"
                formControlName="presencePenalty"
                min="0"
                max="2"
                [(ngModel)]="presencePenalty"
                name="presencePenalty"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="maxApiCallsForAzure"
                >Max API Calls <span class="requiredField">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="maxApiCallsForAzure"
                formControlName="maxApiCallsForAzure"
                [(ngModel)]="maxApiCallsForAzure"
                name="maxApiCallsForAzure"
              />
            </div>
          </div>
        </div>
        <div class="row adjust">
          <div class="col-md-6">
            <div class="form-group">
              <label for="maxTokensForAzure"
                >Max Tokens(Quota) <span class="requiredField">*</span></label
              >
              <input
                type="number"
                placeholder="Please enter value between 0 and 200000"
                min="0"
                max="200000"
                step="0.01"
                class="form-control"
                id="maxTokensForAzure"
                formControlName="maxTokensForAzure"
                min="0"
                max="200000"
                [(ngModel)]="maxTokensForAzure"
                name="maxTokensForAzure"
              />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="retryDelayForAzure"
                >Retry Delay(Sec) <span class="requiredField">*</span></label
              >
              <select
                class="form-control"
                id="retryDelayForAzure"
                formControlName="retryDelayForAzure"
                [(ngModel)]="retryDelayForAzure"
                name="retryDelayForAzure"
              >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row adjust">
          <div class="col-md-6">
            <div class="form-group">
              <label for="maxRetriesForAzure"
                >Max Retries <span class="requiredField">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="maxRetriesForAzure"
                formControlName="maxRetriesForAzure"
                [(ngModel)]="maxRetriesForAzure"
                name="maxRetriesForAzure"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="chatGptEnabled"
        class="row margin0"
        style="justify-content: flex-end; width: 98.5%"
      >
        <div
          class="col-md-2;"
          data-title="GenAI Action Buttons"
          data-intro="Action buttons to clear or save the filled form."
        >
          <button
            type="button"
            class="btn btn-md btn-simple"
            (click)="clearGenAIForAzure()"
          >
            Clear
          </button>
          &nbsp;
          <button
            type="button"
            class="btn btn-md btn-primary"
            (click)="saveGenAiDetailsForAzure()"
          >
            Save
          </button>
        </div>
      </div>
    </form>
    <!-- Azure form ends -->
  </div>
  <!-- Enable Service Account Section -->
  <div
    *ngIf="chatGptEnabled && selectedForm === 'gcp'"
    class="wizardDiv"
    style="margin: 8px 14px; padding-bottom: 8px"
  >
    <form *ngIf="selectedForm === 'gcp'" name="submitCredentials" #ff="ngForm">
      <div
        *ngIf="chatGptEnabled"
        data-title="Enable Service Account"
        data-intro="Form to enable the service account."
      >
        <div>
          <div
            class="form-group"
            [ngClass]="{ disabled: !genAIEnabledSuccessfully }"
            style="margin-left: 14px; margin-top: 10px"
          >
            <label for="chatGptEnabled" style="font-weight: bold"
              >Enable Service Account
              <span class="requiredField">*</span></label
            >
          </div>
        </div>
        <div
          class="row adjust"
          [ngClass]="{ disabled: !genAIEnabledSuccessfully }"
        >
          <div class="col-md-6">
            <div class="form-group">
              <label for="projectId"
                >Enter Project ID <span class="requiredField">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="projectId"
                [(ngModel)]="projectId"
                name="projectId"
                placeholder="Enter Project ID"
                [disabled]="!genAIEnabledSuccessfully"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="serviceAccountEmail"
                >Enter Service Account Email
                <span class="requiredField">*</span></label
              >
              <input
                type="email"
                class="form-control"
                id="serviceAccountEmail"
                [(ngModel)]="serviceAccountEmail"
                name="serviceAccountEmail"
                placeholder="Enter Service Account Email"
                [disabled]="!genAIEnabledSuccessfully"
              />
            </div>
          </div>

          <!-- New File Upload Field -->

          <div class="col-md-6">
            <div class="form-group">
              <label for="fileUpload" class="custom-file-upload">
                Upload JSON File <span class="requiredField">*</span>
              </label>
              <input
                id="fileUpload"
                type="file"
                class="form-control"
                style="display: none"
                (change)="onFileSelected($event)"
                [disabled]="!genAIEnabledSuccessfully"
                required
              />

              <span *ngIf="isFilePresent" id="file-upload-filename">{{
                fileName || "No file chosen"
              }}</span>

              <!-- Error message when the file is not uploaded -->
              <div *ngIf="isFileRequired && !fileName" class="error-message">
                JSON file is required.
              </div>
            </div>
          </div>
        </div>

        <div
          class="row margin0"
          style="justify-content: flex-end; width: 98.5%"
        >
          <div
            class="col-md-2;justify-content: flex-end"
            data-title="Service Account Action Buttons"
            data-intro="Action buttons to clear the filled form or activate the service account."
          >
            <button
              type="button"
              class="btn btn-md btn-simple"
              (click)="clearServiceAccount()"
              [disabled]="!genAIEnabledSuccessfully"
            >
              Clear
            </button>
            &nbsp;
            <button
              type="button"
              class="btn btn-md btn-primary"
              (click)="activateServiceAccount()"
              [disabled]="!activate"
            >
              Activate
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
