<div class="modal-header">
    <h5 class="modal-title">Application Questionnaire</h5>
</div>
<div class="modal-body aq" style = "padding:20px;" *ngIf = "formStatus.length > 0">
    <div class = "row">
        <div class = "col-md-12">
            <span  class = "float-left marginBottom5">Please click 
                <span class = "simpleLink pointerCursor" (click) = "openApplicationUploadModal()">here</span> to browse or drag & drop excel file to upload application questionnaire.
            </span>
        </div>
        <div class = "col-md-12">
            <label style = "vertical-align: middle">
                <span  class = "marginLeft5 font-weight-bold">Form Status:</span>
                <span  *ngIf = "formStatus == 'Complete'" 
                class = "marginRight10 marginLeft5">
                     <img alt="Complete" src="assets/images/SVG/completed.svg" ><span  class = "marginLeft5 font-weight-bold">Complete</span>
                </span>
                <span  *ngIf = "formStatus == 'Not Started'" 
                class = "marginRight10 marginLeft5">
                     <img alt="Complete" src="assets/images/SVG/not_started.svg" ><span  class = "marginLeft5 font-weight-bold">Incomplete</span>
                </span>
                <span  *ngIf = "formStatus == 'In Progress'" 
                class = "marginRight10 marginLeft5">
                     <img alt="Complete" src="assets/images/SVG/in_progress.svg" ><span  class = "marginLeft5 font-weight-bold">Incomplete</span>
                </span>
                <span  *ngIf = "!allowFormToEdit" 
                class = "marginRight10 marginLeft5 colorRed">
                     Analytics Process is In Progress you can't update the form until the process is completed.
                </span>
            </label>
        </div>

        <div class = "col-md-12" > 
            <app-questioaire-template [formData] = "appQuestionnaireForm" [controls] = "appCommonConrols" [formStatus] = "formStatus"></app-questioaire-template>
        </div>
        
        <div class = "col-md-12">
            <div class = "row">
                <div class = "col-md-12">
                    
                    <nav class = "dmap-navs col-md-12 padding0 marginTop30" style = "border:none;">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <div class = "nav nav-tabs col-md-12">
                                <a class="nav-item nav-link dmapdbOwner_detailLink dmapNavLink marginRight10 questionairNav" id="nav-appOwner_detail-tab" data-toggle="tab" href="#nav-appOwner_detail" role="tab" aria-controls="nav-appOwner_detail" aria-selected="true" #tabRef1>Application Owner Contact Details</a>
                                <a class="nav-item nav-link dmapdbOwner_detailLink dmapNavLink marginRight10 questionairNav" id="nav-appTech_detail-tab" data-toggle="tab" href="#nav-appTech_detail" role="tab" aria-controls="nav-appTech_detail" aria-selected="true" #tabRef2>Application Technical Stack</a>
                                <a class="nav-item nav-link dmapdbOwner_detailLink dmapNavLink marginRight10 questionairNav" id="nav-appFunc_detail-tab" data-toggle="tab" href="#nav-appFunc_detail" role="tab" aria-controls="nav-appFunc_detail" aria-selected="true" #tabRef3>Application Functional Details</a>
                                    
                            </div>
                        </div>
                    </nav>

                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent" style = "padding-top: 0!important;">
                        <div class="nav-appOwner_detail-tab tab-pane fade show" id="nav-appOwner_detail" role="tabpanel" aria-labelledby="nav-appOwner_detail-tab">
                            <div class = "row adjust" >
                                <div class = "col-md-12">
                                    <app-questioaire-template [formData] = "appQuestionnaireForm" [controls] = "appOwnerDetail" [formStatus] = "formStatus"></app-questioaire-template>
                                </div>
                                    
                            </div>
                        </div>

                        <div class="nav-appTech_detail-tab tab-pane fade" id="nav-appTech_detail" role="tabpanel" aria-labelledby="nav-appTech_detail-tab">
                            <div class = "row adjust">
                                <div class = "col-md-12">
                                    <app-questioaire-template [formData] = "appQuestionnaireForm" [controls] = "appTechDetails" [formStatus] = "formStatus" (onUpload) = "setControlValue($event)"></app-questioaire-template>
                                </div>
                            </div>
                        </div>

                        <div class="nav-appFunc_detail-tab tab-pane fade" id="nav-appFunc_detail" role="tabpanel" aria-labelledby="nav-appFunc_detail-tab">
                            <div class = "row adjust">
                                <div class = "col-md-12">
                                    <app-questioaire-template [formData] = "appQuestionnaireForm" [controls] = "appFunctionalDetails" [formStatus] = "formStatus"></app-questioaire-template>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span *ngIf = "errorInValidForm" class = "errorHint">Please enter all the required fields</span>
        <button type="button" class="btn btn-simple" (click)="clear()">Clear</button>
        <button type="button" class="btn btn-primary" (click)="submit('save')">Save</button>
        <button type="button" class="btn btn-primary" (click)="submit('submit')">Submit</button>
    </div>
</div>
    