<div class="row adjust wizardDiv" *ngIf="isShow && chartSettings != undefined">
    <div class="col-md-12 wizardHeader">
        <div>{{chartSettings.mainHeading}}</div>
    </div>
    <div class="col-md-12 padding10">
        <div class="row">
            <div class="col-md-10">
                <div class="{{chartSettings.containerId}} floatChartdiv" id="{{chartSettings.containerId}}"></div>
            </div>
        </div>
    </div>

    <!-- <div class="col-md-12" style="font-size:12px; font-style:italic;">        
        <span class="alertSchema">Database Schema Conversion plan provides an indicative effort to migrate Oracle
            database schema to PostgreSQL schema in a non-prod environment. Effort is calculated assuming proficiency in
            Oracle and PostgreSQL, and may vary based on individual productivity. Following assumptions are taken to
            estimate the conversion effort: </span>
        <ul>
            <li>Conversion of Oracle PL/SQL constructs which are not compatible with PostgreSQL may require additional
                assessment.</li>
            <li>Functions and procedures are validated, if provided with valid input parameter values, by comparing the
                output and execution time for target database against the output and execution time for source database.
                Single threaded procedure / function round trip time is used as execution time for comparing
                performance.</li>

        </ul>
    </div> -->
    <div class="col-md-12" style="font-size:12px; font-style:italic;">
        <span class="alertSchema">
            DMAP can greatly accelerate the conversion of {{sourceSchema}} schema from Oracle to PostgreSQL by progressively automating stored procedures,
functions, SQL queries, business logic, and custom schema constructs. With DMAP lead automated conversion, the migration to
PostgreSQL can be accomplished in {{manualConversionEffort}} person-hours of effort.

        </span>
    </div>
    <!-- <div class = "col-md-11 marginLeft73" style = "font-size:14px; font-style:italic;margin-bottom: 20px;">
        <span class = "alertSchema">The Assessment of the db schema is based on the sql syntax of the source database. The object conversion is depends upon the reference schema and objects, so there will be some possibility of difference in object conversion</span>
    </div> -->
</div>