<form name="masterSettingsForm" #f="ngForm">
    <div class="modal-header">
        <h5 class="modal-title">{{data.title}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- <div class="modal-body" style="max-height: 600px;overflow: hidden;">

        <div class="col-md-11 padding0 marginBottom5 font-weight-bold fontSize18">
            Please select for which interval you'd like to fetch AWR data
        </div>
        <div class="col-md-11 padding0">
            <div class="custom-control custom-radio marginBottom10" >
                <input type="radio" id="1hour" [(ngModel)]="awrFrequency" name="formpassword" value='1hour'
                    class="custom-control-input">
                <label class="custom-control-label fontSize18" for="1hour">1 Hour</label>
            </div>
            <div class="custom-control custom-radio marginBottom10" >
                <input type="radio" id="1day" [(ngModel)]="awrFrequency" name="formpassword" value='1day'
                    class="custom-control-input">
                <label class="custom-control-label fontSize18" for="1day">1 Day</label>
            </div>
            <div class="custom-control custom-radio marginBottom10" >
                <input type="radio" id="7days" [(ngModel)]="awrFrequency" name="formpassword" value='7days'
                    class="custom-control-input">
                <label class="custom-control-label fontSize18" for="7days">7 Days</label>
            </div>
            <div class="custom-control custom-radio marginBottom10" >
                <input type="radio" id="30days" [(ngModel)]="awrFrequency" name="formpassword" value='30days'
                    class="custom-control-input">
                <label class="custom-control-label fontSize18" for="30days">30 Days</label>
            </div>
          </div>

    </div> -->
    <div class="modal-body" style="max-height: 600px;overflow: hidden;">
        <div class="col-md-11 padding0 marginBottom5 font-weight-bold fontSize18">
            Please select for which interval you'd like to fetch AWR data
        </div>
        <div class="col-md-11 padding0 row">
            <div class="col-md-12 marginLeft5 row">In the range</div>
            <div class="col-md-3 marginTop5">
                <div class="form-group">
                    <input type="date" class="form-control" id="awrStartDate"
                        placeholder="DD-MM-YYYY" 
                        [(ngModel)]="awrStartDate" name="awrStartDate">
                </div>
            </div>
            <div class="col-md-1 marginTop10" style="margin-right: -15px;">
                to
            </div>
            <div class="col-md-3 marginTop5">
                <div class="form-group">
                    <input type="date" class="form-control" id="awrEndDate"
                        placeholder="DD-MM-YYYY" 
                        [(ngModel)]="awrEndDate" name="awrEndDate">
                </div>
            </div>
        </div>
       
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-simple marginRight5" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-md btn-primary" [disabled]="awrStartDate == '' || awrEndDate == ''"
            (click)="submit()">Submit</button>
    </div>
</form>
