<div class="modal-header">
    <h5 class="modal-title">{{data.title}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body dm">

    <div class="col-md-12">
        <form name="masterSettingsForm" #f="ngForm">
            <span class="fontSize14" *ngIf="showText">
                Schema {{data.selectedSchema.sourceDBSchema}} selected in the existing migrations page list is already
                selected on this page.
                You must manually select any other schema for which you wish to run the schema conversion.
            </span>
            <div class="col-md-11 padding0 marginBottom10 font-weight-bold fontSize18">
                Please select one or more schemas to convert
            </div>
            <table id="analyticsTable" class="analyticsTable table table-hover table-sm table-bordered">
                <thead class="thead_custom">
                    <tr class="tr_custom_14">
                        <th class="textCenter">
                            <div class="" *ngIf="showCheckBoxes">
                                <input type="checkbox" name="checkallschema" [(ngModel)]="isAllRowChecked" value="-1" style="top:3px !important"
                                    class="form_checkbox" #inputE2
                                    (change)="onCheckboxClicked({runId:-1, event:$event})">
                            </div>
                            <span *ngIf="!showCheckBoxes">Status</span>
                        </th>
                        <th>Schema Changed</th>
                        <th>Run ID </th>
                        <th>Source Schema</th>
                        <th>Source DB</th>
                        <th>Target DB Details</th>

                    </tr>
                </thead>
                <tbody class="">
                    <ng-container *ngIf="schemaMigrationList.length > 0">
                        <tr class="tr_custom_14 example-box"
                            *ngFor="let item of schemaMigrationList | paginate: { itemsPerPage: 20, currentPage: p,id:'schemaMigrationTable' }; let i = index;">
                            <td class="textCenter">
                                <div class="" *ngIf="item.status != 'Add' || item.status == ''">
                                    <input type="checkbox" name="schema" style="top:3px !important"
                                        [checked]="item.isRowChecked || item.defaultSelection"
                                        value="checkbox_{{item.runId}}" class="form_checkbox"
                                        (change)="onCheckboxClicked({runId:item.runId, event:$event})">
                                </div>
                                <span *ngIf="item.status == 'Add'" class="completedStatus">Request Submitted</span>
                            </td>
                            <td>
                                <select class="form-control dropdownBottom" style="margin-top: -7px !important;"
                                    (change)="updateSchemaDetails({schemaDtls: item, event:$event})">
                                    <!-- <option [value]="" selected label="Select:" *ngIf ="item.selectedValue ==null"></option> -->
                                    <option value="No"
                                        [selected]="item.schema_changed == 'No' || item.schema_changed == null || item.schema_changed == undefined">
                                        No</option>
                                    <option value="Yes" [selected]="item.schema_changed == 'Yes'">Yes</option>
                                </select>
                            </td>
                            <td>{{item.runId}}</td>
                            <td>{{item.sourceSchema}}</td>
                            <td>{{item.sourceDB}}</td>
                            <td>
                                <a class="float-left simpleLink pointerCursor padding0"
                                    (click)="updateTargetDetails(item)" target="_blank">Update Target DB Details</a>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="schemaMigrationList.length == 0">
                        <tr class="tr_custom_14">
                            <td colSpan="5">
                                <span class="fontWeightBold">No schemas available with assessment completed status
                                </span>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div class="col-md-12" *ngIf="showPagination">
                <pagination-controls (pageChange)="p = $event" id="schemaMigrationTable"
                    style="font-size: 12px;float: right; " directionLinks="true" autoHide="true" responsive="true"
                    previousLabel="PREVIOUS" nextLabel="NEXT" screenReaderPaginationLabel="Pagination"
                    screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
            </div>
            <div class="col-md-12 modal-footer" style="margin-bottom:-12px;margin-right: -12px;">
                <button type="button" class="btn btn-md btn-primary marginBottom5" [disabled]="!showSubmitButton"
                    style="float: right;margin-right: -9px;" (click)="submit()">Submit</button>
            </div>
        </form>
    </div>
</div>