<div>
    <span class="pageHeading">GenAI Integration</span>
</div>
<div class="adjust body-content-padding">
    <span class="dropdown fontWeightBold">
        <label style="margin: 12px;">Enable/Disable GenAI</label>
    </span>

    <div class="row adjust" style="padding-bottom: 6px;padding-left: 14px;font-weight: 400;">
        <span>By activating GenAI, it will be used to address SQL issues that DMAP cannot handle automatically and that require manual SQL remediation. 
            The customer will be responsible for both the usage and the associated costs of GenAI.</span>
    </div>

    <div class="wizardDiv" style="margin-left:14px;padding-bottom: 8px;">
        <div class="row col-md-12">
            <div class="row adjust col-md-6" style="padding-top: 1rem;">
                <div>
                    <div class="form-group">
                        <label for="chatGptEnabled">Enable GenAI <span class="requiredField">*</span></label>
                    </div>
                </div>
                <div>
                    <div class="form-group marginLeft10">
                        <input type="checkbox" style="height:14px!important" class="form-control" id="chatGptEnabled"
                            [(ngModel)]="chatGptEnabled" name="chatGptEnabled">
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="chatGptEnabled">
            <!-- New Form Fields -->
            <div class="row adjust">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" class="form-control" id="location" placeholder="Enter location"
                            [(ngModel)]="location" name="location">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="uploadJson">Upload JSON</label>
                        <input type="file" class="form-control" id="uploadJson" (change)="uploadFile($event)">
                    </div>
                </div>
            </div>

            <div class="row adjust">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="modelSelection" placeholder="Select model">Model Selection</label>
                        <select class="form-control" id="modelSelection" [(ngModel)]="modelSelection">
                            <option value="Default">Default</option>
                            <option value="gemini-1.5-pro-001">gemini-1.5-pro-001</option>
                            <option value="gemini-1.5-flash-001">gemini-1.5-flash-001</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="maxOutputTokens">Max Output Tokens <span class="requiredField">*</span></label>
                        <input type="text" class="form-control" id="maxOutputTokens"
                            placeholder="Max token limit 8192"
                            [(ngModel)]="maxOutputTokens" name="maxOutputTokens"
                            title="Maximum token limit is 8192">
                    </div>
                </div>
            </div>

            <div class="row adjust">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="temperature">Temperature <span class="requiredField">*</span></label>
                        <input type="number" class="form-control" id="temperature" min="0" max="2"
                            [(ngModel)]="temperature" name="temperature" placeholder="Enter temperature">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="top_p">Top P</label>
                        <input type="text" class="form-control" id="top_p" [(ngModel)]="top_p" name="top_p" placeholder="Enter top p">
                    </div>
                </div>
            </div>

            <div class="row adjust">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="apiCallLimit">API Call Limit</label>
                        <input type="text" class="form-control" id="apiCallLimit" [(ngModel)]="apiCallLimit"
                            name="apiCallLimit" placeholder="Enter API call limit">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="maxRetries">Max Retries</label>
                        <input type="text" class="form-control" id="maxRetries" [(ngModel)]="maxRetries"
                            name="maxRetries" placeholder="Enter max retries">
                    </div>
                </div>
            </div>

            <div class="row adjust">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="retryDelay">Retry Delay</label>
                        <input type="text" class="form-control" id="retryDelay" [(ngModel)]="retryDelay"
                            name="retryDelay" placeholder="Enter retry delay">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="maxTokens">Max Tokens</label>
                        <input type="text" class="form-control" id="maxTokens" [(ngModel)]="maxTokens"
                            name="maxTokens" placeholder="Enter max tokens">
                    </div>
                </div>
            </div>

            <div class="row adjust">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="maxApiCalls">Max API Calls</label>
                        <input type="text" class="form-control" id="maxApiCalls" [(ngModel)]="maxApiCalls"
                            name="maxApiCalls" placeholder="Enter max API calls">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="maxRuntimeSeconds">Max Runtime Seconds</label>
                        <input type="text" class="form-control" id="maxRuntimeSeconds"
                            [(ngModel)]="maxRuntimeSeconds" name="maxRuntimeSeconds" placeholder="Enter max runtime seconds">
                    </div>
                </div>
            </div>

            <div class="row adjust">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="estimatedCost">Estimated Cost Per 1K Tokens</label>
                        <input type="text" class="form-control" id="estimatedCost" [(ngModel)]="estimatedCost"
                            name="estimatedCost" placeholder="Enter estimated cost per 1K tokens">
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin0" *ngIf="!chatGptEnabled || tokenTableData.length == 0">
            <div class="col-md-2">
                <button type="button" class="btn btn-md btn-primary" (click)="validateToken()">Save</button> &nbsp; &nbsp;
                <button type="button" class="btn btn-md btn-simple" (click)="cancel()">Clear</button>
            </div>
        </div>
    </div>
</div>
