.discovery-not-started {
  margin-left: 15px !important;
  margin-right: 28px !important;
}
.discovery-not-starteds {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.modal-header {
  cursor: move;
}