<!-- <form [formGroup]="passwordForm" *ngIf = "isShow"> -->
<div class="modal-header">
    <h5 class="modal-title">Settings</h5>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row margin0">
        <div class="col-md-11 padding0 marginBottom5 font-weight-bold fontSize18">
            Please select one of the following:
        </div>
        <div class="col-md-11 padding0">
            <div class="custom-control custom-radio marginBottom10" *ngIf="allowSourceDetails">
                <input type="radio" id="sourcePassword" [(ngModel)]="formpassword" name="formpassword" value='source'
                    class="custom-control-input" (change)="selectDB('source')">
                <label class="custom-control-label fontSize18" for="sourcePassword">{{sourceDetailsLabel}}</label>
            </div>

            <div class="row" *ngIf="this.selectedDB == 'source' ">
                <div class="col-md-12 marginLeft19">
                    <form [formGroup]="sourceForm">
                        <div class="row">
                            <div class="col-md-6" *ngIf="changeSourceDetails">
                                <div class="form-group">
                                    <label for="sourceDBHost">Database Host URL / IP address<span
                                            class="requiredField">*</span></label>
                                    <span class="validFormCheck" *ngIf="sourceForm.get('sourceDbHostValue').valid">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <input type="text" class="form-control" formControlName="sourceDbHostValue"
                                        placeholder="Enter source database host URL / IP address"
                                        title="Hint:sample-pgs.cqswlsq35j26.us-east-1.rds.amazonaws.com" readonly>
                                </div>
                            </div>


                            <div class="col-md-6" *ngIf="changeSourceDetails">
                                <div class="form-group">
                                    <label for="sourceDBName">Database Name<span class="requiredField">*</span></label>
                                    <span class="validFormCheck" *ngIf="sourceForm.get('sourceDBNameValue').valid"><i
                                            class="fa fa-check"></i></span>
                                    <input type="sourceDBName" class="form-control" id="sourceDBName"
                                        formControlName="sourceDBNameValue" name="sourceDBName"
                                        placeholder="Enter source database name" title="Hint: DemoDB" readonly>
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="changeSourceDetails">
                                <div class="form-group">
                                    <label for="sourceDBSchema">Database Schema<span
                                            class="requiredField">*</span></label>
                                    <span class="validFormCheck" *ngIf="sourceForm.get('sourceDBSchemaValue').valid"><i
                                            class="fa fa-check"></i></span>
                                    <input type="sourceDBSchema" class="form-control" id="sourceDBSchema"
                                        formControlName="sourceDBSchemaValue" name="sourceDBSchema"
                                        placeholder="Enter source database schema name" title="Hint: test_schema"
                                        readonly>
                                </div>
                            </div>


                            <div class="col-md-6" *ngIf="changeSourceDetails">
                                <div class="form-group">
                                    <label for="sourceDBPort">Port<span class="requiredField">*</span></label>
                                    <span class="validFormCheck" *ngIf="sourceForm.get('sourceDBPortValue').valid"><i
                                            class="fa fa-check"></i></span>
                                    <input type="sourceDBPort" class="form-control" id="sourceDBPort"
                                        [pattern]="numberOnlyPattern" formControlName="sourceDBPortValue"
                                        name="sourceDBPort" placeholder="Enter source database port" title="Hint: 1521"
                                        required>
                                </div>
                            </div>

                            <div class="col-md-6" *ngIf="changeSourceDetails">
                                <div class="form-group">
                                    <input class="form-check-input form_radio" type="radio"
                                        style="margin-left:0px;margin-right:5px;" name="inlineRadioOptionss"
                                        [checked]="oracleConnect == 'sid'" id="inlineRadioo1" value="sid"
                                        (change)="onRadioButtonSelected($event)">
                                    <label class="form-check-label-align-center fontSize17" for="inlineRadioo1"
                                        [ngClass]="{fontWeightBold:oracleConnect == 'sid'}">SID</label>
                                    <input type="sourceDBSid" [disabled]="oracleConnect == 'servicename'"
                                        class="form-control" id="sourceDBSid" 
                                        formControlName="sourceDBSidValue" name="sourceDBSid"
                                        placeholder="Enter source database SID" title="Hint: ORCL" required>
                                </div>
                            </div>

                            <div class="col-md-6" *ngIf="changeSourceDetails">
                                <div class="form-group">
                                    <input class="form-check-input form_radio" type="radio"
                                        style="margin-left:0px;margin-right:5px;" name="inlineRadioOptionss"
                                        id="inlineRadioo2" value="servicename" (change)="onRadioButtonSelected($event)">
                                    <label class="form-check-label-align-center fontSize17" for="inlineRadioo2"
                                        style="white-space:nowrap;"
                                        [ngClass]="{fontWeightBold:oracleConnect == 'servicename'}">Service
                                        Name</label>
                                    <input type="sourceDBServiceName" [disabled]="oracleConnect == 'sid'"
                                        class="form-control" id="sourceDBServiceName" 
                                        formControlName="sourceDBServiceNameValue" name="sourceDBServiceName"
                                        placeholder="Enter source database Service Name" title="Hint: xe" required>
                                </div>
                            </div>

                            <div class="col-md-6" *ngIf="changeSourceDetails">
                                <div class="form-group">
                                    <label for="sourceDBUserName">Username<span class="requiredField">*</span></label>
                                    <span class="validFormCheck"
                                        *ngIf="sourceForm.get('sourceDBUserNameValue').valid"><i
                                            class="fa fa-check"></i></span>
                                    <input type="sourceDBUserName" class="form-control" id="sourceDBUserName"
                                        formControlName="sourceDBUserNameValue" name="sourceDBUserName"
                                        placeholder="Enter source database username" title="Hint: reportuser" required>
                                </div>
                            </div>
                            <div
                                [ngClass]="{'col-md-6':sourcecolmd6,'col-md-6':sourcecolmd12,'discovery-not-started': data.step === 'Discovery' && data.stage === 'Not Started'}">
                                <div class="form-group">
                                    <label for="sourcePasswordValue">Password<span
                                            class="requiredField">*</span></label>
                                    <span class="validFormCheck" *ngIf="sourceForm.get('sourcePasswordValue').valid">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <input type="password" class="form-control" id="sourcePasswordValue"
                                        formControlName="sourcePasswordValue" placeholder="Enter password" required>
                                </div>
                            </div>
                            <div [ngClass]="{'col-md-6':sourcecolmd6,'col-md-6':sourcecolmd12}">
                                <div class="form-group">
                                    <label for="sourceConfirmPasswordValue">Confirm Password<span
                                            class="requiredField">*</span></label>
                                    <span class="validFormCheck"
                                        *ngIf="sourceForm.get('sourceConfirmPasswordValue').valid"><i
                                            class="fa fa-check"></i></span>

                                    <input type="password" class="form-control" id="sourceConfirmPasswordValue"
                                        formControlName="sourceConfirmPasswordValue" placeholder="Confirm password"
                                        required>
                                    <span *ngIf="f.sourceConfirmPasswordValue.errors && selectedDB == 'source'">
                                        <span *ngIf="f.sourceConfirmPasswordValue.errors.mustMatch"
                                            style="color:red">Password mismatch</span>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="custom-control custom-radio marginBottom10" *ngIf="allowTargetDetails">
                <input type="radio" id="targetPassword" [(ngModel)]="formpassword" name="formpassword" value='target'
                    class="custom-control-input" (change)="selectDB('target')">
                <label class="custom-control-label fontSize18" for="targetPassword">{{targetDetailsLabel}}</label>
            </div>
            <div class="row" *ngIf="this.selectedDB == 'target' ">
                <div class="col-md-12 marginLeft19">

                    <form [formGroup]="targetForm">
                        <div class="row">
                            <div class="col-md-6" *ngIf="changeTargetDetails">
                                <div class="form-group">
                                    <label for="targetDBHost">Database Host URL / IP address<span
                                            class="requiredField">*</span></label>
                                    <span class="validFormCheck" *ngIf="targetForm.get('targetDbHostValue').valid">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <input type="text" class="form-control" formControlName="targetDbHostValue"
                                        placeholder="Enter target database host URL / IP address"
                                        title="Hint:sample-pgs.cqswlsq35j26.us-east-1.rds.amazonaws.com">
                                </div>
                            </div>
                            <!-- <div class="col-md-6"></div> -->
                            <div class="col-md-6" *ngIf="changeTargetDetails">
                                <div class="form-group">
                                    <label for="targetDBName">Database Name<span class="requiredField">*</span></label>
                                    <span class="validFormCheck" *ngIf="targetForm.get('targetDBNameValue').valid">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <input type="text" class="form-control" formControlName="targetDBNameValue"
                                        placeholder="Enter target database name" title="Hint: DemoDB" required>
                                </div>
                            </div>

                            <div class="col-md-6" *ngIf="changeTargetDetails">
                                <div class="form-group">
                                    <label for="targetDBSchema">Database Schema<span
                                            class="requiredField">*</span></label>
                                    <span class="validFormCheck" *ngIf="targetForm.get('targetDBSchemaValue').valid">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <input type="targetDBSchema" class="form-control"
                                        formControlName="targetDBSchemaValue"
                                        placeholder="Enter target database schema name" title="Hint: test_schema"
                                        readonly #targetDBSchemaRef>
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="changeTargetDetails">
                                <div class="form-group">
                                    <label for="targetDBPort">Port<span class="requiredField">*</span></label>
                                    <span class="validFormCheck" *ngIf="targetForm.get('targetDBPortValue').valid">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <input type="targetDBPort" class="form-control" id="targetDBPort"
                                        [pattern]="portPattern" formControlName="targetDBPortValue"
                                        placeholder="Enter target database port" title="Hint: 1521">
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="changeTargetDetails">
                                <div class="form-group">
                                    <label for="targetDBUserName">Username<span class="requiredField">*</span></label>
                                    <span class="validFormCheck" *ngIf="targetForm.get('targetDBUserNameValue').valid">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <input type="targetDBUserName" class="form-control"
                                        formControlName="targetDBUserNameValue"
                                        placeholder="Enter target database username" title="Hint: reportuser">
                                </div>
                            </div>
                            <div
                                [ngClass]="{'col-md-6':targetcolmd6,'col-md-6':targetcolmd12,'discovery-not-started': data.step === 'Discovery' && data.stage === 'Not Started' || data.step === 'Discovery' && data.stage === 'Completed' || data.step === 'Assessment' && data.stage === 'Completed'
                            || data.step === 'Discovery' && data.stage == 'In Progress' || data.step === 'Assessment' && data.stage == 'In Progress'}">
                                <div class="form-group">
                                    <label for="targetPasswordValue">Password<span
                                            class="requiredField">*</span></label>
                                    <span class="validFormCheck" *ngIf="targetForm.get('targetPasswordValue').valid">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <input type="password" class="form-control" id="targetPasswordValue"
                                        formControlName="targetPasswordValue" placeholder="Enter password" required>
                                </div>
                            </div>
                            <div *ngIF="data.stage=='Error'"
                            [ngClass]="{'col-md-6':targetcolmd6,'col-md-6':targetcolmd12,'discovery-not-starteds':data.stage === 'Error'}">
                            <div class="form-group">
                                <label for="targetPasswordValue">Password<span
                                        class="requiredField">*</span></label>
                                <span class="validFormCheck" *ngIf="targetForm.get('targetPasswordValue').valid">
                                    <i class="fa fa-check"></i>
                                </span>
                                <input type="password" class="form-control" id="targetPasswordValue"
                                    formControlName="targetPasswordValue" placeholder="Enter password" required>
                            </div>
                        </div>
                            <div [ngClass]="{'col-md-6':targetcolmd6,'col-md-6':targetcolmd12}">
                                <div class="form-group">
                                    <label for="targetConfirmPasswordValue">Confirm Password<span
                                            class="requiredField">*</span></label>
                                    <span class="validFormCheck"
                                        *ngIf="targetForm.get('targetConfirmPasswordValue').valid"><i
                                            class="fa fa-check"></i></span>

                                    <input type="password" class="form-control" id="targetConfirmPasswordValue"
                                        formControlName="targetConfirmPasswordValue" placeholder="Confirm password"
                                        required>
                                    <span *ngIf="f_target.targetConfirmPasswordValue.errors && selectedDB == 'target'">
                                        <span *ngIf="f_target.targetConfirmPasswordValue.errors.mustMatch"
                                            style="color:red">Password mismatch</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="custom-control custom-radio marginBottom10">
                <input type="radio" id="performanceThreshold" [(ngModel)]="formpassword" name="formpassword"
                    value='threshold' class="custom-control-input" (change)="selectDB('threshold')">
                <label class="custom-control-label fontSize18" for="performanceThreshold">Change performance threshold
                    values</label>
            </div>
            <div class="row" *ngIf="this.selectedDB == 'threshold' ">
                <div class="col-md-12 marginLeft19">

                    <form [formGroup]="thresholdForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="performanceLowerThresholdValue">Lower Limit<span
                                            class="requiredField">*</span></label>
                                    <span class="validFormCheck marginRight20"
                                        *ngIf="thresholdForm.get('performanceLowerThresholdValue').valid && thresholdForm.valid">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <input type="number" class="form-control" [(ngModel)]="lowerLimit"
                                        formControlName="performanceLowerThresholdValue"
                                        id="performanceLowerThresholdValue" placeholder="Enter Lower Limit" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="performanceUpperThresholdValue">Upper Limit<span
                                            class="requiredField">*</span></label>
                                    <span class="validFormCheck marginRight20"
                                        *ngIf="thresholdForm.get('performanceUpperThresholdValue').valid && thresholdForm.valid">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <input type="number" class="form-control" [(ngModel)]="upperLimit"
                                        id="performanceUpperThresholdValue"
                                        formControlName="performanceUpperThresholdValue" placeholder="Enter Upper Limit"
                                        required>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row"> -->

                        <!-- </div> -->
                    </form>
                </div>
            </div>
            <div class="custom-control custom-radio marginBottom10">
                <input type="radio" id="schemaUsername" [(ngModel)]="formpassword" name="formpassword"
                    value='schemaUsername' class="custom-control-input" (change)="selectDB('username')">
                <label class="custom-control-label fontSize18" for="schemaUsername">Enter schema username to change ownership</label>
            </div>
            <div class="row" *ngIf="this.selectedDB == 'username' ">
                <div class="col-md-12 marginLeft19">
                    <form [formGroup]="usernameForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="usernameValue">Username<span
                                            class="requiredField">*</span></label>
                                    <span class="validFormCheck marginRight20"
                                    *ngIf="usernameForm.get('usernameValue').valid && usernameForm.valid">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <input type="text" class="form-control" [(ngModel)]="username"
                                        formControlName="usernameValue"
                                        id="usernameValue" placeholder="Enter Schema Username" required>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="custom-control custom-radio marginBottom10" *ngIf="showresetStatus">
                <input type="radio" id="resetStatus" [(ngModel)]="formpassword" name="formpassword" value='resetStatus'
                    class="custom-control-input" (change)="selectDB('resetStatus')">
                <label class="custom-control-label fontSize18" for="resetStatus">Reset Status</label>
            </div>
            <div class="custom-control custom-radio marginBottom10" *ngIf = "data.step == 'Discovery' && data.stage == 'Not Started'">
                <input type="radio" id="synonymMigration" [(ngModel)]="formpassword" name="formpassword"
                    value='synonymMigration' class="custom-control-input" (change)="selectDB('synonymMigration')">
                <label class="custom-control-label fontSize18" for="synonymMigration">Select Synonym Migration Mode</label>
            </div>
            <div class="row" *ngIf="selectedDB == 'synonymMigration' ">
                <div class="custom-control custom-radio marginLeft30">
                    <input type="radio" id="synonymMigrationall"  name="synonymMigrationall" [(ngModel)]="selectedMigrationMode"
                    value='all' class="custom-control-input" (change)="selectSynoymMigration('all')">
                    <label class="custom-control-label fontSize18" for="synonymMigrationall">Migrate all synonyms</label>
                </div>
                <div class="custom-control custom-radio marginLeft30">
                    <input type="radio" id="synonymMigrations" name="synonymMigrationSelected" [(ngModel)]="selectedMigrationMode"
                    value='selected' class="custom-control-input" (change)="selectSynoymMigration('selected')">
                    <label class="custom-control-label fontSize18" for="synonymMigrations">Migrate synonyms referenced in any DB objects</label>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-md btn-simple marginRight5" (click)="clearTarget()">Clear</button>
    <button type="button" class="btn btn-md btn-primary marginRight5" (click)="ok()">Cancel</button>

    <button class="btn btn-simple btn-md float-right marginRight5" [disabled]="!sourceForm.valid"
        (click)="testSourceDbConnection()" *ngIf="selectedDB == 'source'">Test Connection</button>
    <button class="btn btn-simple btn-md float-right marginRight5" [disabled]="!targetForm.valid"
        (click)="testTargetDbConnection()" *ngIf="selectedDB == 'target'">Test Connection</button>

    <button type="button" class="btn btn-md btn-primary" style="margin-right: 48px !important;"
        [disabled]="!sourceForm.valid" (click)="submitSource()" *ngIf="selectedDB == 'source'">Submit</button>
    <button type="button" class="btn btn-md btn-primary" style="margin-right: 48px !important;"
        [disabled]="!targetForm.valid" (click)="submitTarget()" *ngIf="selectedDB == 'target'">Submit</button>
    <button type="button" class="btn btn-md btn-primary" style="margin-right: 48px !important;"
         (click)="submitThreshold()" *ngIf="selectedDB == 'threshold'">Submit</button>
    <button type="button" class="btn btn-md btn-primary" style="margin-right: 48px !important;"
        (click)="submitSchemaUsername()" *ngIf="selectedDB == 'username'">Submit</button>
    <button type="button" class="btn btn-md btn-primary" style="margin-right: 48px !important;"
        (click)="submitResetStatus()" *ngIf="selectedDB == 'resetStatus'">Submit</button>
        <button type="button" class="btn btn-md btn-primary" style="margin-right: 48px !important;"
        (click)="submitSynonymMigrationMode()" *ngIf="selectedDB == 'synonymMigration'">Submit</button>


</div>
<!-- <div class="modal-footer">
        <button type="button" class="btn btn-md btn-simple" (click)="clearTarget()">Clear</button>
        <button type="button" class="btn btn-md btn-primary" (click)="ok()">Cancel</button>
        
        <button class = "btn btn-simple btn-md float-right marginRight10" [disabled] = "!sourceForm.valid" (click) = "testSourceDbConnection()" *ngIf = "selectedDB == 'source'">Test Connection</button>
        <button class = "btn btn-simple btn-md float-right marginRight10" [disabled] = "!targetForm.valid" (click) = "testTargetDbConnection()" *ngIf = "selectedDB == 'target'">Test Connection</button>

        <button type="button" class="btn btn-md btn-primary" [disabled] = "!sourceForm.valid" (click) = "submitSource()" *ngIf = "selectedDB == 'source'">Submit</button>
        <button type="button" class="btn btn-md btn-primary" [disabled] = "!targetForm.valid" (click) = "submitTarget()" *ngIf = "selectedDB == 'target'">Submit</button>
        <button type="button" class="btn btn-md btn-primary" (click) = "submitResetStatus()" *ngIf = "selectedDB == 'resetStatus'">Submit</button>
        

    </div> -->