<div class="row">
    <div class="col-md-12">
        <div class="row adjust">
            <div class="col-md-12 table-responsive-md dmapTableAccordianMain">
                <table id="dmapTableAccordian" class="table">
                    <tbody>
                        <ng-container *ngFor="let data of accordians; let i = index">
                            <!-- <tr class = "dmapTableAccordian-tr accordianTr_{{i}}"
                            style = "border-top: 3px solid transparent;border-bottom: 3px solid transparent; font-size:16px;"
                            (mouseenter) = "styleAccordiansHeader(i, 'mouseEnter', data.isAccordianExpanded)"
                            (mouseleave) = "styleAccordiansHeader(i, 'mouseLeave', data.isAccordianExpanded)">
                            <ng-container *ngFor = "let header of accordianHeaders; let x = index;">
                                <th *ngIf = "x != lastRow" style = "border:none;">{{header.name}}</th>
                                <th *ngIf = "x == lastRow" rowSpan = "2" id = "tdDrpDownIcon" style = "padding-top: 15px;border:none;" (click) = "expandAccordian(data, i)">
                                    <a data-toggle="collapse" [href]="getHref(i)"><i aria-expanded="false" class="fa fa-chevron-down" role="button" ></i></a>
                                </th>
                            </ng-container>
                        </tr>
                        <tr class = "dmapTableAccordian-tr accordianTr_{{i}}" (mouseenter) = "styleAccordiansHeader(i, 'mouseEnter', data.isAccordianExpanded)">

                            <td style = "border:none;">{{data.sourceDBSchema}}</td>
                            <td style = "border:none;">{{data.targetDBName}}</td>
                            <td>{{data.businessUnit}}</td>
                            <td>{{data.applicationName}}</td>
                            <td *ngIf = "nodeType == 'analytics_master'">
                                {{data.workerNode}}
                            </td>
                            <td style = "border:none;">{{data.runId}}</td>
                            <td style = "border:none;">
                                <div>{{data.step}}</div>
                                <div *ngIf = "data.stepStatus != 'In Queue' && data.stepStatus != 'Not Started' && data.stepStatus != 'Completed' && data.step != 'Discovery'" style = "font-size:12px; color:gray;">
                                    On step {{data.migrationStep}} of <span *ngIf = "data.step == 'Assessment' && data.toolsUsed!='ORA2PG'">4</span>
                                    <span *ngIf = " data.step == 'Assessment' && data.toolsUsed =='ORA2PG'">3</span>
                                    <span *ngIf = "data.step == 'Schema Conversion' && data.target_env !='Azure'">3</span>
                                    <span *ngIf = "data.step == 'Schema Conversion' && data.target_env =='Azure' && data.toolsUsed=='ORA2PG'">2</span>
                                    <span *ngIf = " data.step == 'Schema Conversion' && data.target_env =='Azure' && data.toolsUsed!='ORA2PG'">4</span>
                                    <span *ngIf = " data.step == 'Data Migration'">2</span>
                                </div>
                            </td>
                            <td style = "border:none;" [ngClass] = "{completedStatus: data.stepStatus === 'Completed',
                                                notStartedStatus: data.stepStatus === 'Not Started',
                                                notErrorStatus: data.stepStatus === 'Error',
                                                notInProgressStatus: data.stepStatus === 'In Progress',
                                                completedInterim: data.stepStatus === 'Processing Done'}">{{data.stepStatus}}</td>
                            <td style = "border:none;">{{data.lastUpdated}}</td>

                        </tr> -->

                            <tr class="collapse" id="href_{{i}}">
                                <td [attr.colspan]="colSpan" style="padding: 0px;border-top: none !important;">
                                    <div class="accordianContentDiv" data-title="Schema Status"
                                        data-intro="This status bar indicates the current status of the schema in the data migration life cycle stage. Perform schema discovery, assessment, and conversion by selecting the corresponding button in the status bar.">
                                        <div class="row adjust">
                                            <div class="col-md-12 padding0" style="padding-bottom:0px;">
                                                <div class="alert text-center" role="alert"
                                                    style="border: 1px solid #dee2e6 !important;"
                                                    [ngClass]="{alertSuccess: data.stepStatus === 'Completed',
                                                    
                                                                                                      alertPrimary: data.stepStatus === 'Not Started',
                                                                                                      alertDanger: data.stepStatus === 'Error',
                                                                                                      alertWarning: data.stepStatus === 'In Progress',
                                                                                                      alertInterim: data.stepStatus === 'Processing Done',
                                                                                                      alertSecondary: data.stepStatus === 'In Queue',
                                                                                                      alertBatch: data.stepStatus === 'Waiting for Batch'}">

                                                    <span *ngIf="data.stepStatus != 'Processing Done'">
                                                        <span class="font-weight-bold"
                                                            style="margin-right: 2px !important;">{{data.step}}</span>
                                                        <span class="font-weight-bold">{{data.stepStatus}}</span>
                                                        <span class="marginLeft5" *ngIf="data.stepStatus == 'Error'"
                                                            aria-hidden="true" style="cursor:pointer;"
                                                            (click)="viewDetail(data.errors)"
                                                            class="viewMoreErrorDetail_acc" title="View Details">
                                                            <svg class="bi bi-file-plus" width="1em" height="1em"
                                                                viewBox="0 0 16 16" fill="#274584"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V8h-1v5a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5V1z" />
                                                                <path fill-rule="evenodd"
                                                                    d="M13.5 1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V1.5a.5.5 0 0 1 .5-.5z" />
                                                                <path fill-rule="evenodd"
                                                                    d="M13 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z" />
                                                            </svg>
                                                        </span>
                                                    </span>

                                                    <span *ngIf="data.stepStatus == 'Processing Done'"><span
                                                            class="font-weight-bold">Automated {{data.step}} is
                                                            Done</span> </span>
                                                    <div>
                                                        <span
                                                            *ngIf="data.stepStatus == 'Not Started' && data.step == 'Discovery'">
                                                            <button class="btn btn-md btn-primary"
                                                                *ngIf="nodeType != 'analytics_worker'"
                                                                [disabled]="startDisabled"
                                                                (click)="startDisacoveryt(data)">Start
                                                                Discovery</button>
                                                        </span>
                                                        <span
                                                            *ngIf="data.stepStatus == 'Completed' && data.step == 'Discovery'">
                                                            <button class="btn btn-md btn-primary"
                                                                *ngIf="nodeType != 'analytics_worker'"
                                                                [disabled]="startDisabled"
                                                                (click)="startAssessment(data)">Start
                                                                Assessment</button>
                                                        </span>
                                                        <span
                                                            *ngIf="data.stepStatus == 'Completed' && data.step == 'Assessment'">
                                                            <button class="btn btn-md btn-primary" data-title="Start Schema Conversion"
                                                            data-intro="Click on this button to start the schema conversion process that will create the converted schema in target PostgreSQL database."
                                                                *ngIf="nodeType != 'analytics_worker'"
                                                                [disabled]="startDisabled"
                                                                (click)="startSchemaConversion(data)">Start Schema
                                                                Conversion</button>
                                                        </span>

                                                        <span *ngIf="data.stepStatus == 'Error'">
                                                            <button class="btn btn-md btn-primary"
                                                                *ngIf="nodeType != 'analytics_worker'"
                                                                (click)="clearErrorStatus(data)">Reset Status</button>
                                                        </span>
                                                        <span *ngIf="data.stepStatus == 'In Queue'&& data.step != 'Validation'">
                                                            <button class="btn btn-md btn-primary"
                                                                *ngIf="nodeType != 'analytics_worker'"
                                                                (click)="startManually(data)">Start Manually</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 reportHeader padding0"
                                                *ngIf="data.isAccordianExpanded && ( (data.step == 'Discovery' && data.stepStatus == 'Completed') || (data.step == 'Assessment' && (data.stepStatus == 'In Queue' || data.stepStatus == 'In Progress'|| data.stepStatus == 'Error')) )">
                                                <app-dmap-discovery-report [stepStatus]="data.stepStatus"
                                                    [nodeType]="nodeType" [stepStage]="data.step"
                                                    [databaseSelected]="data"
                                                    [isButtonsVisible]="discoveryButtonShown"></app-dmap-discovery-report>
                                            </div>
                                            <div class="col-md-12 reportHeader padding0"
                                                *ngIf="data.isAccordianExpanded && ( (data.step == 'Assessment' && data.stepStatus == 'Completed') ||  (data.step == 'Schema Conversion' && (data.stepStatus == 'In Queue' || data.stepStatus == 'In Progress')) )">
                                                <app-dmap-assesstment-report [stepStatus]="data.stepStatus"
                                                    [nodeType]="nodeType" [stepStage]="data.step"
                                                    [databaseSelected]="data" [isButtonsVisible]="assessmentButtonShown"
                                                    (onStartSchemaConversion)="startSchemaCoversion_($event)"></app-dmap-assesstment-report>
                                            </div>
                                            <div class="col-md-12 reportHeader padding0"
                                                *ngIf="data.isAccordianExpanded && ((data.step == 'Schema Conversion'  && (data.stepStatus == 'Completed' || data.stepStatus == 'Processing Done' )) ||  (data.step == 'Data Migration' && (data.stepStatus == 'In Progress')))">
                                                <app-dmap-schemamigration-report [stepStatus]="data.stepStatus"
                                                    [stepStage]="data.step" [databaseSelected]="data"
                                                    [page]="'dmapAccordian'"
                                                    [isButtonsVisible]='schemaMigrationButtonShown'></app-dmap-schemamigration-report>
                                            </div>
                                            <div class="col-md-12 reportHeader padding0"
                                                *ngIf="data.isAccordianExpanded && (data.step == 'Data Migration' && (data.stepStatus == 'Completed' || data.stepStatus == 'Processing Done'))">
                                                <app-dmap-datamigration-report [databaseSelected]="data"
                                                    [isButtonsVisible]="dataMigrationButtonShown"></app-dmap-datamigration-report>
                                            </div>


                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<!-- (data.step == 'Schema Conversion'  && (data.stepStatus == 'Completed' || data.stepStatus == 'Processing Done' )) ||   (data.step == 'Data Migration' && (data.stepStatus == 'In Queue' || data.stepStatus == 'In Progress'))"> -->
