<!-- <div class="row padding0"> -->
<!-- <div class = "col-md-12">

    </div>
    <div class = "col-md-12">
        
    </div> -->
<div class="col-md-12 padding0" *ngIf="dbList.length > 0">
  <app-dmap-table [tableCaption]='caption' [tableSettings]='tableSettings' [tableContent]="dbList" [nodeType]="nodeType"
    [licenseType]="licenseType"
    [disableSchemaConversion]="disableSchemaConversion">
  </app-dmap-table>

</div>
<div class="row col-md-12 adjust body-content-padding" *ngIf="dbList.length > 0 && showSecondDiv() && showSecondDiv_()"
  [hidden]="!getSavedTableDataCount() || !showtab || !showSecondDiv()">
  <div id="dbSecondAccMainDiv" class="col-md-12 padding0 " style="box-shadow:none!important;margin-bottom: 0rem!important;">
    <div class="collapse" id="dbSecondAcc" style="margin-bottom: -10px !important;">
      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-migrationStatus" role="tabpanel"
          aria-labelledby="nav-migrationStatus-tab">
          <div class="row">
            <app-db-migration-detail class="col-md-12"></app-db-migration-detail>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="dbList.length == 0 && !dbListDataLoaded">
  <!-- <app-dmap-table [tableCaption]='caption' [tableSettings]='tableSettings' [tableContent]="dbList" [nodeType]="nodeType"
    [licenseType]="licenseType" [disableAssignWorkerNode]="disableAssignWorkerNode"
    [disableSchemaConversion]="disableSchemaConversion">
  </app-dmap-table> -->

  <span class="pageHeading">{{pageHeader}}</span>
  <div class="row adjust body-content-padding">
    <span class="">Please wait while data is being fetched.</span>
  </div>

</div>

<div *ngIf="dbList.length == 0 && dbListDataLoaded">
  <!-- <app-dmap-table [tableCaption]='caption' [tableSettings]='tableSettings' [tableContent]="dbList" [nodeType]="nodeType"
    [licenseType]="licenseType" [disableAssignWorkerNode]="disableAssignWorkerNode"
    [disableSchemaConversion]="disableSchemaConversion">
  </app-dmap-table> -->

  <span class="pageHeading">{{pageHeader}}</span>
  <div class="row adjust body-content-padding">
    <span class="">No schemas found with current selection.</span>
  </div>

</div>
<!-- </div> -->