
<div class="modal-header">
    <h4 class="modal-title">Upload Files</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class = "row">  
        <div class = "col-md-12 paddingLeft30 paddingRight30">
            Please click the icon to browse or drag & drop file below. 
        </div>  
        <div class = "col-md-12 paddingLeft30 paddingRight30">            
            <app-simple-file-upload (onFileUploadClicked) = "fileUploadClicked($event)"></app-simple-file-upload>  
        </div> 
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="upload()">Upload</button>
</div>