<html>

<head>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/intro.js/introjs.css">
</head>

<body>
    <script src="https://unpkg.com/intro.js/intro.js"></script>
</body>

</html>
<span class="pageHeading">Database Setup</span>
<div class="row adjust body-content-padding">
    <form name="submitCredentials" #f="ngForm">
        <div class="row">
            <!-- <div class = "row adjust" style="width:100%"> -->
            <div class="col-md-12 marginBottom15 marginTop5">
                <span class="float-left">Please fill the source and target database credentials below or click
                    <span class="simpleLink pointerCursor" (click)="opneUploadModal()">here</span> to upload multiple
                    schemas at once using an excel template.
                </span>
            </div>

            <div class="row adjust">

                <div class="col-md-6 col-sm-6 col-xs-6 marginBottom20">

                    <div class="row mainSourceSection" data-title="Source DB Connection Details"
                        data-intro="Enter the Source Database Connection details in this section." style="height:100%;">
                        <div class="col-md-12">
                            <div class="row">

                                <div class="col-md-12" style="margin-bottom:10px;">
                                    <!-- <span><i class="fa fa-caret-right headingBullet"></i></span> -->
                                    <span class="itemHeading fontWeightBold">Source Database Connection Details</span>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="sourceDBType">Database Type<span
                                                class="requiredField">*</span></label>
                                        <select class="form-control" id="sourceDBType" [(ngModel)]="sourceDBTypeValue"
                                            name="sourceDBType" #sourceDBType="ngModel">
                                            <option *ngFor='let sourceDb of sourceDbs'>{{ sourceDb}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="sourceDBHost">Database Host URL/IP address<span
                                                class="requiredField">*</span></label>
                                        <span class="validFormCheck"
                                            *ngIf="sourceDBHostRef.valid && sourceDBHostRef.touched"><i
                                                class="fa fa-check"></i></span>
                                        <input type="sourceDBHost" class="form-control" id="sourceDBHost"
                                            #sourceDBHostRef="ngModel" ngModel [(ngModel)]="sourceDbHostValue"
                                            name="sourceDBHost" placeholder="Enter source database host URL/IP address"
                                            title="Hint:sample-pgs.cqswlsq35j26.us-east-1.rds.amazonaws.com" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="sourceDBName">Database Name<span
                                                class="requiredField">*</span></label>
                                        <span class="validFormCheck"
                                            *ngIf="sourceDBNameRef.valid && sourceDBNameRef.touched"><i
                                                class="fa fa-check"></i></span>
                                        <input type="sourceDBName" class="form-control" id="sourceDBName"
                                            #sourceDBNameRef="ngModel" [(ngModel)]="sourceDBNameValue"
                                            name="sourceDBName" placeholder="Enter source database name"
                                            title="Hint: DemoDB" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="sourceDBSchema">Database Schema</label>
                                        <input type="sourceDBSchema" class="form-control" id="sourceDBSchema"
                                            #sourceDBSchemaRef="ngModel" [(ngModel)]="sourceDBSchemaValue"
                                            name="sourceDBSchema" placeholder="Enter source database schema name">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="sourceDBPort">Port<span class="requiredField">*</span></label>
                                        <span class="validFormCheck"
                                            *ngIf="sourceDBPortRef.valid && sourceDBPortRef.touched"><i
                                                class="fa fa-check"></i></span>
                                        <input type="sourceDBPort" class="form-control" id="sourceDBPort"
                                            [pattern]="numberOnlyPattern" #sourceDBPortRef="ngModel" ngModel
                                            [(ngModel)]="sourceDBPortValue" name="sourceDBPort"
                                            placeholder="Enter source database port" title="Hint: 1521" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-check-input form_radio" type="radio"
                                            style="margin-left:0px;margin-right:5px;" name="inlineRadioOptionss"
                                            [checked]="oracleConnect == 'sid'" id="inlineRadioo1" value="sid"
                                            (change)="onRadioButtonSelected($event)">
                                        <label class="form-check-label-align-center fontSize17" for="inlineRadioo1"
                                            [ngClass]="{fontWeightBold:oracleConnect == 'sid'}">SID<span *ngIf="oracleConnect == 'sid'" class="requiredField">*</span></label>
                                        <input type="sourceDBSid" [disabled]="oracleConnect == 'servicename'"
                                            class="form-control" id="sourceDBSid" #sourceDBSidRef="ngModel" ngModel
                                            [(ngModel)]="sourceDBSidValue" name="sourceDBSid"
                                            placeholder="Enter source database SID" title="Hint: ORCL" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-check-input form_radio" type="radio"
                                            style="margin-left:0px;margin-right:5px;" name="inlineRadioOptionss"
                                            id="inlineRadioo2" value="servicename"
                                            (change)="onRadioButtonSelected($event)">
                                        <label class="form-check-label-align-center fontSize17" for="inlineRadioo2"
                                            style="white-space:nowrap;"
                                            [ngClass]="{fontWeightBold:oracleConnect == 'servicename'}">Service
                                            Name<span *ngIf="oracleConnect == 'servicename'" class="requiredField">*</span></label>
                                        <input type="sourceDBServiceName" [disabled]="oracleConnect == 'sid'"
                                            class="form-control" id="sourceDBServiceName"
                                            #sourceDBServiceNameRef="ngModel" ngModel
                                            [(ngModel)]="sourceDBServiceNameValue" name="sourceDBServiceName"
                                            placeholder="Enter source database Service Name" title="Hint: xe" required>
                                    </div>
                                </div>

                                <!-- <div class=" form-group form-check form-check-inline col-md-12">
                                    <input class="form-check-input form_radio marginRight5" type="radio"
                                        name="inlineRadioOptionss" [checked]="oracleConnect == 'sid'" id="inlineRadioo1"
                                        value="sid" (change)="onRadioButtonSelected($event)">
                                    <label class="form-check-label fontSize17" for="inlineRadioo1"
                                        [ngClass]="{fontWeightBold:oracleConnect == 'sid'}">SID</label>
                                    <input type="sourceDBSid" [disabled]="oracleConnect == 'servicename'"
                                        class="form-control marginLeft92" id="sourceDBSid" #sourceDBSidRef="ngModel"
                                        ngModel [(ngModel)]="sourceDBSidValue" name="sourceDBSid"
                                        placeholder="Enter source database SID" title="Hint: ORCL" required>
                                </div>


                                <div class=" form-group form-check form-check-inline col-md-12">
                                    <input class="form-check-input form_radio marginRight5" type="radio"
                                        name="inlineRadioOptionss" id="inlineRadioo2" value="servicename"
                                        (change)="onRadioButtonSelected($event)">
                                    <label class="form-check-label fontSize17" for="inlineRadioo2"
                                        style="white-space:nowrap;"
                                        [ngClass]="{fontWeightBold:oracleConnect == 'servicename'}">Service Name</label>
                                    <input type="sourceDBServiceName" [disabled]="oracleConnect == 'sid'"
                                        class="form-control marginLeft15" id="sourceDBServiceName"
                                        #sourceDBServiceNameRef="ngModel" ngModel [(ngModel)]="sourceDBServiceNameValue"
                                        name="sourceDBServiceName" placeholder="Enter source database Service Name"
                                        title="Hint: xe" required>
                                </div> -->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="sourceDBUserName">Username<span
                                                class="requiredField">*</span></label>
                                        <span class="validFormCheck"
                                            *ngIf="sourceDBUserNameRef.valid && sourceDBUserNameRef.touched"><i
                                                class="fa fa-check"></i></span>
                                        <input type="sourceDBUserName" class="form-control" id="sourceDBUserName"
                                            #sourceDBUserNameRef="ngModel" ngModel [(ngModel)]="sourceDBUserNameValue"
                                            name="sourceDBUserName" placeholder="Enter source database username"
                                            title="Hint: reportuser" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="sourceDBPassword">Password<span
                                                class="requiredField">*</span></label>
                                        <span class="validFormCheck"
                                            *ngIf="sourceDBPasswordRef.valid && sourceDBPasswordRef.touched"><i
                                                class="fa fa-check"></i></span>
                                        <app-show-password (showPasswordClicked)="toggleSourcePassword($event)"
                                            [password]="sourceDBPasswordValue" [right]="'43px'"
                                            [top]="'23px'"></app-show-password>
                                        <input type="{{sourcePasswordType}}" class="form-control" id="sourceDBPassword"
                                            #sourceDBPasswordRef="ngModel" ngModel [(ngModel)]="sourceDBPasswordValue"
                                            name="sourceDBPassword" placeholder="Enter source database password"
                                            required>
                                    </div>
                                </div>


                                <div class="col-md-12" style="margin-top:8px;" data-title="Test Source Connection"
                                    data-intro="Click on this button to confirm successful connection to the Source database.">
                                    <div>
                                        <button class="btn btn-md btn-primary float-right"
                                            [disabled]="!sourceDbHostValue || !sourceDBPortValue || !sourceDBNameValue  || !sourceDBUserNameValue || !sourceDBPasswordValue || (!sourceDBServiceNameValue && !sourceDBSidValue) ||disableSource"
                                            (click)="testSourceDbConnection(true)">Test Source Connection</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6 marginBottom20">
                    <div class="row mainSourceSection" data-title="Target DB Connection Details"
                        data-intro="Enter the Target Database Connection details in this section. Schema conversion assessment does not require Target database connection details. Fill them in only if you intend to convert the schema to PostgreSQL."
                        style="height:100%;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12" style="margin-bottom:10px;">
                                    <!-- <span><i class="fa fa-caret-right headingBullet"></i></span> -->
                                    <span class="itemHeading fontWeightBold">Target Database Connection Details</span>
                                    <!-- <button class = "btn btn-sm btn-simple pull-right" (click) = "createNewDB()" >Create New Database on Azure</button> -->
                                </div>

                                <div class="col-md-12">
                                    <!-- <div class="form-check form-check-inline"
                                        *ngIf="getLicenseType() == 'dmap enterprise'">
                                        <input class="form-check-input form_radio" type="radio"
                                            name="inlineRadioOptions" id="inlineRadio1" value="new"
                                            (change)="onRadioSelected($event)">
                                        <label class="form-check-label fontSize17" for="inlineRadio1"
                                            [ngClass]="{fontWeightBold:targetOptionSelected == 'new'}">Provision new
                                            Azure Database for PostgreSQL Single Server instance</label>
                                    </div>
                                    <app-db-create-new-pg-instance *ngIf="targetOptionSelected == 'new'"
                                        [toolUse]="schemaConfigData"
                                        (onCreateNewDBFinish)="listenerCreateNewDBFinish($event)">
                                    </app-db-create-new-pg-instance>
                                    <br> -->

                                    <!-- <div class="form-check form-check-inline marginTop10 marginBottom10"
                                        *ngIf="getLicenseType() == 'dmap enterprise'">
                                        <input class="form-check-input form_radio" type="radio"
                                            name="inlineRadioOptions" id="inlineRadio2"
                                            [checked]="targetOptionSelected == 'existing'" value="existing"
                                            (change)="onRadioSelected($event)">
                                        <label class="form-check-label fontSize17" for="inlineRadio2"
                                            [ngClass]="{fontWeightBold:targetOptionSelected == 'existing'}">Connect to
                                            an existing database</label>
                                    </div> -->
                                    <div class="row" *ngIf="targetOptionSelected == 'existing'">

                                        <div class="col-md-12">
                                            <!-- <div class="form-group">
                                            <label for="targetEnv">Target Environment<span class = "requiredField" >*</span></label>
                                            <select class="form-control" id="targetEnv"
                                                    [(ngModel)] = "targetEnvValue"
                                                    name = "targetEnv"
                                                    #targetEnv = "ngModel"
                                                    (change)="targetEnvChange($event)" >
                                                <option *ngFor="let env of targetsEnv">{{ env.targetEnv }}</option>
                                            </select>

                                        </div> -->
                                        </div>
                                        <!-- <div class = "col-md-6">
                                        <div class="form-group">
                                            <label for="toolTobeUsed">Tools to be used<span class = "requiredField" >*</span></label>
                                            <select class="form-control" id="toolTobeUsed"
                                                    [(ngModel)] = "toolTobeUsedValue"
                                                    name = "toolTobeUsed"
                                                    #toolTobeUsed = "ngModel"
                                                    (change)="toolChange(toolTobeUsedValue)">
                                                <option *ngFor='let tool of tools'>{{ tool.name }}</option>
                                            </select>

                                        </div>

                                    </div>-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="targetDBType">Database Type<span
                                                        class="requiredField">*</span></label>
                                                <select class="form-control" id="targetDBType"
                                                    [(ngModel)]="targetDBTypeValue" name="targetDBType"
                                                    #targetDBType="ngModel">
                                                    <option *ngFor='let targetDb of targetDbs'>{{ targetDb}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="targetDBHost">Database Host URL/IP address<span
                                                        class="requiredField invisible">*</span></label>
                                                <input type="targetDBHost" class="form-control" id="targetDBHost"
                                                    [(ngModel)]="targetDBHostValue" name="targetDBHost"
                                                    placeholder="Enter target database host URL/IP address"
                                                    title="Hint: sample.cqswlsq465jl6.us-east-1.rds.amazonaws.co">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="targetDBName">Database Name<span
                                                        class="requiredField invisible">*</span></label>
                                                <input type="targetDBName" class="form-control" id="targetDBName"
                                                    [(ngModel)]="targetDBNameValue" name="targetDBName"
                                                    placeholder="Enter target database name" title="Hint: DemoDB">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="targetDBSchema">Database Schema<span
                                                        class="requiredField invisible">*</span></label>
                                                <input type="targetDBSchema" class="form-control" id="targetDBSchema"
                                                    [(ngModel)]="sourceDBSchemaValue" name="targetDBSchema"
                                                    placeholder="Enter database schema name" title="Hint: sampleShell"
                                                    readonly>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="targetDBPort">Port<span
                                                        class="requiredField invisible">*</span></label>
                                                <input type="targetDBPort" class="form-control" id="targetDBPort"
                                                    [(ngModel)]="targetDBPortValue" name="targetDBPort"
                                                    placeholder="Enter target database port" title="Hint: 5432">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="targetDBUserName">Username<span
                                                        class="requiredField invisible">*</span></label>
                                                <input type="targetDBUserName" class="form-control"
                                                    id="targetDBUserName" [(ngModel)]="targetDBUserNameValue"
                                                    name="targetDBUserName" placeholder="Enter target database username"
                                                    title="Hint: reportuser">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="targetDBPassword">Password<span
                                                        class="requiredField invisible">*</span></label>
                                                <app-show-password (showPasswordClicked)="toggleTargetPassword($event)"
                                                    [password]="targetDBPasswordValue" [right]="'43px'"
                                                    [top]="'23px'"></app-show-password>
                                                <input type="{{targetPasswordType}}" class="form-control"
                                                    id="targetDBPassword" [(ngModel)]="targetDBPasswordValue"
                                                    name="targetDBPassword"
                                                    placeholder="Enter target database password">
                                            </div>
                                        </div>

                                        <div class="col-md-6" *ngIf="targetDBTypeValue=='Oracle'">
                                            <div class="form-group">
                                                <label for="targetBackupDirectoryName">Backup Directory Name</label>
                                                <input type="targetBackupDirectoryName" class="form-control"
                                                    id="targetBackupDirectoryName" #targetBackupDirectoryName="ngModel"
                                                    ngModel name="targetBackupDirectoryName"
                                                    placeholder="Enter Backup Directory Name">
                                            </div>
                                        </div>

                                        <div class="col-md-6" *ngIf="targetDBTypeValue=='Oracle'">
                                            <div class="form-group">
                                                <label class="form-check-label" for="targetServiceName">Service
                                                    Name</label>
                                                <input type="targetServiceName" class="form-control"
                                                    id="targetServiceName" #targetServiceName="ngModel" ngModel
                                                    name="targetServiceName" placeholder="Enter Service Name">
                                            </div>
                                        </div>
                                        <div class="col-md-12 marginTop10" data-title="Test Target Connection"
                                            data-intro="Click on this button to confirm successful connection to the Target database.">
                                            <button class="btn btn-md btn-primary float-right"
                                                [disabled]="!targetDBHostValue || !targetDBNameValue || !targetDBPortValue || !targetDBUserNameValue || !targetDBPasswordValue || disableTarget"
                                                (click)="testTargetDbConnection()">Test Target Connection</button>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 marginBottom20">

                    <div class="row mainSourceSection" data-title="Additional Details"
                        data-intro="Provide information about the business unit and primary application associated with the database schema, along with the details of the Single Point of Contact (SPOC) for both the application and database."
                        style="height:100%;">
                        <div class="col-md-12">
                            <div class="row">

                                <div class="col-md-12 marginBottom10">
                                    <!-- <span><i class="fa fa-caret-right headingBullet"></i></span> -->
                                    <span class="itemHeading fontWeightBold">Additional Details</span>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="businessUnit">Business Unit<span class="requiredField"
                                                *ngIf="getLicenseType() == 'dmap pro' || getLicenseType() == 'dmap enterprise' ">*</span></label>
                                        <span class="validFormCheck"
                                            *ngIf="businessUnitRef.valid && businessUnitRef.touched"><i
                                                class="fa fa-check"></i></span>
                                        <input type="businessUnit" class="form-control" id="businessUnit"
                                            #businessUnitRef="ngModel" [(ngModel)]="businessUnitValue"
                                            name="businessUnit" placeholder="Enter business unit" title="Hint: Research"
                                            [required]="dmpEnterpriseValidation == true || dmapProValidation == true">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="appplicationId">Application ID<span class="requiredField"
                                                *ngIf="getLicenseType() == 'dmap pro' || getLicenseType() == 'dmap enterprise' ">*</span></label>
                                        <span class="validFormCheck"
                                            *ngIf="appplicationIdRef.valid && appplicationIdRef.touched"><i
                                                class="fa fa-check"></i></span>
                                        <input type="appplicationId" class="form-control" id="appplicationId"
                                            #appplicationIdRef="ngModel" ngModel [(ngModel)]="appplicationIdValue"
                                            name="appplicationId" placeholder="Enter application ID"
                                            title="Hint: appId1"
                                            [required]="dmpEnterpriseValidation == true || dmapProValidation == true">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="applicationName">Application Name<span class="requiredField"
                                                *ngIf="getLicenseType() == 'dmap pro' || getLicenseType() == 'dmap enterprise' ">*</span></label>
                                        <span class="validFormCheck"
                                            *ngIf="applicationNameRef.valid && applicationNameRef.touched"><i
                                                class="fa fa-check"></i></span>
                                        <input type="applicationName" class="form-control" id="applicationName"
                                            #applicationNameRef="ngModel" [(ngModel)]="applicationNameValue"
                                            name="applicationName" placeholder="Enter application name"
                                            title="Hint: app_name"
                                            [required]="dmpEnterpriseValidation == true || dmapProValidation == true">
                                    </div>
                                </div>

                                <div class="col-md-3" *ngIf="getLicenseType() == 'dmap enterprise' ">
                                    <div class="form-group">
                                        <label for="applicationSPOCName">Application SPOC Name<span
                                                class="requiredField"
                                                *ngIf="getLicenseType() == 'dmap enterprise' ">*</span></label>
                                        <span class="validFormCheck"
                                            *ngIf="applicationSPOCNameRef.valid && applicationSPOCNameRef.touched"><i
                                                class="fa fa-check"></i></span>
                                        <input type="applicationSPOCName" class="form-control" id="applicationSPOCName"
                                            #applicationSPOCNameRef="ngModel" [(ngModel)]="applicationSPOCNameValue"
                                            name="applicationSPOCName" placeholder="Enter application SPOC name"
                                            title="Hint: John" [required]="dmpEnterpriseValidation == true">
                                    </div>
                                </div>

                                <div class="col-md-3" *ngIf="getLicenseType() == 'dmap enterprise' ">
                                    <div class="form-group">
                                        <label for="applicationSPOCEmail">Application SPOC Email<span
                                                class="requiredField"
                                                *ngIf="getLicenseType() == 'dmap enterprise' ">*</span></label>
                                        <span class="validFormCheck"
                                            *ngIf="applicationSPOCEmailRef.valid && applicationSPOCEmailRef.touched"><i
                                                class="fa fa-check"></i></span>
                                        <input type="applicationSPOCEmail" class="form-control"
                                            id="applicationSPOCEmail" #applicationSPOCEmailRef="ngModel"
                                            [(ngModel)]="applicationSPOCEmailValue" name="applicationSPOCEmail"
                                            placeholder="Enter application SPOC email" title="Hint: john@bluesky.com"
                                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                                            [required]="dmpEnterpriseValidation == true">
                                        <span *ngIf="applicationSPOCEmailRef.invalid && applicationSPOCEmailRef.dirty"
                                            style="color: red;">Please enter a valid Email ID.</span>
                                    </div>
                                </div>
                                <div class="col-md-3" *ngIf="getLicenseType() == 'dmap enterprise' ">
                                    <div class="form-group">
                                        <label for="databaseSPOCName">Database SPOC Name<span class="requiredField"
                                                *ngIf="getLicenseType() == 'dmap enterprise' ">*</span></label>
                                        <span class="validFormCheck"
                                            *ngIf="databaseSPOCNameRef.valid && databaseSPOCNameRef.touched"><i
                                                class="fa fa-check"></i></span>
                                        <input type="databaseSPOCName" class="form-control" id="databaseSPOCName"
                                            #databaseSPOCNameRef="ngModel" [(ngModel)]="databaseSPOCNameValue"
                                            name="databaseSPOCName" placeholder="Enter database SPOC name"
                                            title="Hint: John" [required]="dmpEnterpriseValidation == true">
                                    </div>
                                </div>

                                <div class="col-md-3" *ngIf="getLicenseType() == 'dmap enterprise' ">
                                    <div class="form-group">
                                        <label for="databaseSPOCEmail">Database SPOC Email<span class="requiredField"
                                                *ngIf="getLicenseType() == 'dmap enterprise' ">*</span></label>
                                        <span class="validFormCheck"
                                            *ngIf="databaseSPOCEmailRef.valid && databaseSPOCEmailRef.touched"><i
                                                class="fa fa-check"></i></span>
                                        <input type="databaseSPOCEmail" class="form-control" id="databaseSPOCEmail"
                                            #databaseSPOCEmailRef="ngModel" [(ngModel)]="databaseSPOCEmailValue"
                                            name="databaseSPOCEmail" placeholder="Enter database SPOC email"
                                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                                            title="Hint: john@bluesky.com" [required]="dmpEnterpriseValidation == true">
                                        <span *ngIf="databaseSPOCEmailRef.invalid && databaseSPOCEmailRef.dirty"
                                            style="color: red;">Please enter a valid Email ID.</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-md-12">
                <div>
                    <button class="btn btn-md btn-primary float-right" [disabled]="!f.valid || disableSubmit"
                        (click)="onSubmit()" data-title="Submit Details"
                        data-intro="Click on the Submit button to create a new task for database schema assessment. Once assessment is complete, you can use the same task to convert the schema to target database environment.">Submit</button>
                    <button class="btn btn-md btn-simple float-right marginRight5"
                        (click)="onClear(true)">Clear</button>
                </div>
            </div>
        </div>
    </form>
</div>






<!-- <div class = "col-md-6 col-sm-6 col-xs-6">
            <div class="form-group">
                <label for="createdBy">Create By<span class = "requiredField invisible" >*</span></label>
                <input type="createdBy" class="form-control" id="createdBy"  ngModel name = "createdBy" placeholder="Enter user full name">
            </div>
        </div> -->

<!-- <div class = "col-md-6">
            <div class="form-group">
                <label for="scheduledDate">Schedule migrate date</label>
                <div class="input-group">
                <input class="form-control scheduledDate" placeholder="yyyy-mm-dd"
                        name="scheduledDate" [(ngModel)] = "migrationDate" ngbDatepicker #d="ngbDatepicker" style= "background-color: white;">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                </div>
                </div>
            </div>
        </div> -->

<!-- <div class = "col-md-12">
            <div class="form-check" style = "padding:0px;">
                <input type="checkbox" ngModel name = "emailChecked" class="checkbox-custom marginRight10" #echk (change) = "onEmailCheckbocClicked(echk.checked)"/>
                <label class="form-check-label" for="defaultCheck1">
                    Email the Assessment Report on completion
                </label>
            </div>
        </div>

        <div class = "col-md-6 col-sm-6 col-xs-6 emailaddressInput marginLeft30" *ngIf = "echk.checked">
            <div class="form-group">
                <input id="email"
                       class="form-control"
                       type="email"
                       name = "email"
                       ngModel
                       placeholder="Enter email address"
                       email>
            </div>
        </div> -->

<!-- Hidden Temporarily -->
<!-- <div class = "col-md-12 marginTop40">
            <span><i class="fa fa-caret-right headingBullet"></i></span><span class = "itemHeading">Newt Global Customer Agreement</span><span class = "requiredField" >*</span>
            <div class="form-check" style = "padding:0px;">
                <input type="checkbox" ngModel name = "agreement" class="checkbox-custom marginRight10" required/>
                <label class="form-check-label" for="defaultCheck1">
                        Check here to indicate that you have read and agree to the terms of the Newt Global Customer Agreement
                </label>
            </div>
        </div>  -->