.errorCardContainer{
    /* border: 1px solid #ddd; */
    padding: 20px;
    height:100%;
}
.errorItem{
    padding: 0px;
   /*  padding:10px;
    padding-left:20px; */
}
.errorItem:hover{
    background-color: rgba(30, 167, 166, 0.2);
}