<div class = "row adjust" > <!-- *ngIf = "error.list.length > 0" -->
    <ng-container *ngFor = "let error of errorData"> 
        <div class = "col-md-4 padding15"  *ngIf = "error.list.length > 0" >
            <div class = "row">
                
                <div class = "col-md-12">
                    <div class = "row adjust wizardDiv">                
                        <div class = "col-md-12 wizardHeader">
                            <div>{{error.object}} Errors</div>
                        </div>
                        
                        <div class = "col-md-12">
                            <div class = "row errorCardContainer fontSize15"> 
                                <div class = "col-md-12 pointerCursor errorItem" *ngFor = "let objectList of error.list" style = "height: 25px;" (click) = "openDetailErrorsModal(objectList)">                                            
                                    <span class = "float-left" style = "margin-top: 2px;">{{objectList.name}}</span>
                                    <span class = "float-right" style = "margin-top: 2px;">{{objectList.count}}</span>                                            
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </ng-container>
</div>
