<div class="container padding35" *ngIf = 'progressBarItems != undefined'>
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step col-xs-3" *ngFor = "let item of progressBarItems; let i = index;"> 
                <a [attr.data-tabNumber]="item.name" 
                class="btn btn-light btn-circle btnGreenWizard"
                (click) = "onProgressbarClicked(item)"
                [ngClass] = "{'btnBlue':i == currentIndex || item.status == 'done', 'activeBtn': i==currentIndex}">                
                <span *ngIf = "item.status != 'done'"><i class="fa fa-circle" ></i></span>

                
                <!-- <span *ngIf = "maxIndexPosition == item.index && item.index != -1 && item.name != 'Order Completed'">
                    <span>
                        <ngx-spinner name = "progressBarSpinner"
                                    bdOpacity = 0.9
                                    bdColor = "transparent"
                                    size = "small"
                                    color = "#fff"
                                    type = "ball-spin"
                                    [fullScreen] = "false">
                                <p style="color: black"></p>
                        </ngx-spinner>
                    </span>
                </span> -->
                <span *ngIf = "item.status == 'done'"><i class="fa fa-check" ></i></span>
                </a>
                <p class = "margin0"><small  [ngClass] = "{'fontBold800': i == currentIndex}">{{item.label}}</small></p>
            </div>
        </div>
    </div>
</div>

<!-- 
    
                (mouseenter) = "onProgressbarMouseover(item.name)"
                (mouseout) = "onProgressbarMouseover(undefined)"

 -->
 